﻿@using Nikopeshe.Entity.DataModels
@using Nikopeshe.WebApplication.Controllers
@using Microsoft.Web.Mvc
@using Nikopeshe.WebApplication.Extensions

@{
    ViewBag.Title = "Customer Look Up";

    var header = ViewBag.Header as string;

    var name = string.Empty;       
    
    var id = TempData["Id"];

    var suspenseId = TempData["SuspenseAccountID"];               
}

@{Html.GetPageViewBag().PageTitle = "My Custom Property Readable By Parent View"; }

<h2>
    @Html.Raw(header)
</h2>

<script type="text/javascript">
    $(document).ready(function () {
        var events = $('#events');
        var model = new Object();
        var table = $('#customerlookupgrid').dataTable({
            // Ajax settings
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "@(Url.Action("CustomerLookUpDetails", "financemanager"))",
            "sServerMethod": "POST",
            // Callback settings
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                /* row manipulation */
                //var createdDate = new Date(parseInt(aData.NextPaymentDate.replace("/Date(", "").replace(")/", ""), 10));

                //var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate);

                //$('td:eq(8)', nRow).html(dt_Created);

                return nRow;
            },
            "aoColumnDefs": [
            {
            "bSearchable": false,
            "bVisible": false,
            "aTargets": [4]},
            ],
            // Display settings
            "iDisplayLength": 10,
            "bJQueryUI": true,
            "aaSorting": [[2, "asc"]],
            "aoColumns": [
              {
                    "mDataProp": null,
                    "bSortable": false,
                    "sWidth": "6%",
                    "mRender": function (aData) {                        
                        return '<a class="btn btn-info btn-sm" href=/financemanager/journalvoucher/' + 'e2ddb604-0f57-4a5a-8bff-75d2cda090ea'+ '>' + 'Select' + '</a>';
                    }
              },

            { "mDataProp": "FullName", "sTitle": "Customer Name", "sWidth": "12%" },
            { "mDataProp": "MobileNumber", "sTitle": "Customer Mobile No", "sWidth": "14%" },   
            { "mDataProp": "IDNumber", "sTitle": "Customer ID No", "sWidth": "14%" },
            { "mDataProp": "Commands", "sTitle": "", "sWidth": "14%" }],
        });       
    });

</script>
<div>
    <fieldset>
        <legend>Customers Search</legend>
        <table cellpadding="0" cellspacing="1" id="customerlookupgrid">
            <tbody>
                <tr>
                    <td colspan="7" class="dataTables_empty">
                        Loading data from server
                    </td>
                </tr>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">                        
                    </div>
                </div>
            </tbody>
        </table>

    </fieldset>
</div>

<script type="text/javascript">
    $(function () {
        $('#approve-btn').click(function () {
            $('#modal-container').modal('hide');
        });
    });
</script>