﻿@model Nikopeshe.Entity.DataModels.LoanRequest
@using Nikopeshe.WebApplication.Extensions

@{
    ViewBag.Title = "Disburse Loan";

}

<h3><b>Are you sure you want to disburse this loan request?</b></h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "Operation was unsuccessful. Please correct the errors and try again.")
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.CustomerAccount.Customer.Id)
    @Html.HiddenFor(model => model.CustomerAccount.Customer.FirstName)
    @Html.HiddenFor(model => model.CustomerAccount.Customer.LastName)
    @Html.HiddenFor(model => model.CustomerAccount.Customer.MiddleName)
    @Html.HiddenFor(model => model.CustomerAccount.Customer.MobileNumber)
    @Html.HiddenFor(model => model.CustomerAccount.Customer.MaritalStatusDesc)    
    @Html.HiddenFor(model => model.CustomerAccount.Customer.IncomeRange)
    @Html.HiddenFor(model => model.CustomerAccount.Customer.EmailAddress)
    @Html.HiddenFor(model => model.CustomerAccount.Customer.Occupation)    
    @Html.HiddenFor(model => model.CustomerAccount.Customer.IDNumber)    
    @Html.HiddenFor(model =>  model.PrimaryAccountNumber)

    <fieldset>
        <legend>Loan Request Details</legend>        

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.CustomerAccount.Customer.FullName)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.CustomerAccount.Customer.FullName)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.CustomerAccount.Customer.IDNumber)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.CustomerAccount.Customer.IDNumber)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.LoanProduct.ProductName)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.LoanProduct.ProductName)
        </div>

        <div class="display-label">
            <b> @Html.DisplayNameFor(model => model.LoanAmount)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.LoanAmount)
        </div>

        <div class="display-label">
            <b> @Html.DisplayNameFor(model => model.LoanProduct.Term)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.LoanProduct.Term)
        </div>

        <div class="display-label">
            <b> @Html.DisplayNameFor(model => model.NegotiatedInstallments)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.NegotiatedInstallments)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.DisbursementMethod)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.DisbursementMethod)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.PrimaryAccountNumber)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.PrimaryAccountNumber)
        </div>
        
        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.Status)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.StatusDesc)
        </div>        

        <div class="editor-label">
            @Html.LabelFor(model => model.Remarks)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Remarks)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DisbursementDate)
        </div>
        <div class="editor-field">
            @Html.Raw(Html.DatePicker("DisbursementDate", DateTime.Today.ToShortDateString()))
            @Html.ValidationMessageFor(model => model.DisbursementDate)
        </div>

        <div class="editor-field"><input type="submit" value="Disburse" class="btn btn-default" onclick="return confirm('Are you sure you want to disburse this loan request?');" /></div>
        <div class="form-actions no-color">
            @Html.ActionLink("Back to List", "allloanrequest")
        </div>
    </fieldset>
}

