﻿@using Nikopeshe.Entity.DataModels
@using Nikopeshe.WebApplication.Controllers
@using Microsoft.Web.Mvc
@using System.Globalization
@using Nikopeshe.WebApplication.Extensions
@{
    ViewBag.Title = "Loan Requests";

    string header = ViewBag.Header as string;

}

<h2>
    @Html.Raw(header)
</h2>

<script>
    $(function () {
        $("#tabs").tabs();
    });
</script>

<body>
    <fieldset>
        <legend>Loan Requests</legend>
        <div id="tabs">
            <ul>
                <li><a href="#tabs-1">Pending Disbursement</a></li>
                <li><a href="#tabs-2">All</a></li>
            </ul>
            <div id="tabs-1">
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#Loanrequest').dataTable({
                            // Ajax settings
                            "sPaginationType": "full_numbers",
                            "bProcessing": true,
                            "bServerSide": true,
                            "sAjaxSource": "@(Url.Action("GetAllLoanRequest", "financemanager", new { id = 7 }))",
                            "sServerMethod": "POST",
                            // Callback settings
                            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                                /* row manipulation */

                                var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));

                                var h = ("0" + createdDate.getHours()).slice(-2);
                                var m = ("0" + createdDate.getMinutes()).slice(-2);
                                var s = ("0" + createdDate.getSeconds()).slice(-2);

                                var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;

                                $('td:eq(0)', nRow).html(dt_Created);

                                var value = aData.LoanAmount;
                                var num = value.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
                                $('td:eq(5)', nRow).html(num);

                                var value1 = aData.InterestAmount;
                                var num1 = value1.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
                                $('td:eq(6)', nRow).html(num1);

                               
                                //Status Approved
                                if (aData.Status == 7) {

                                    $('td:eq(9)', nRow).html('<a href="/financemanager/disburseLoan/' + aData.Id + '">' +
                                    "Disburse" + '</a>' + ' | ' + '<a href="/financemanager/rejectloan/' + aData.Id + '">' +
                                    "Reject" + '</a>' + '</a>');
                                }

                                else

                                    $('td:eq(9)', nRow).html("Approve" + ' | ' + "Reject");

                                return nRow;

                            },
                            // Display settings
                            "iDisplayLength": 100,
                            "bJQueryUI": true,
                            "aaSorting": [[0, "desc"]],
                            "aoColumns": [
                            { "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "8%" },
                            { "mDataProp": "CustomerAccount.Customer.FullName", "sTitle": "Customer Name", "sWidth": "10%" },
                            { "mDataProp": "CustomerAccount.Customer.IDNumber", "sTitle": "Id No", "sWidth": "3%" },
                            { "mDataProp": "CustomerAccount.Customer.MobileNumber", "sTitle": "Mobile No", "sWidth": "7%" },
                            { "mDataProp": "LoanProduct.ProductName", "sTitle": "Product", "sWidth": "10%" },                            
                            { "mDataProp": "LoanAmount", "sTitle": "Amount", "sWidth": "5%", "type": "numeric-comma", targets: 3 },
                            { "mDataProp": "InterestAmount", "sTitle": "Interest", "sWidth": "5%", "type": "numeric-comma", targets: 3 },
                            { "mDataProp": "StatusDesc", "sTitle": "Status", "sWidth": "5%" },
                            { "mDataProp": "Branch.BranchName", "sTitle": "Branch", "sWidth": "3%" },
                            { "mDataProp": "Commands", "sTitle": "", "bSortable": false, "sWidth": "32%" }],
                        });
                    });

                </script>
                <div>                    
                    @*<div><p><p> @Html.ActionLink("Register a Loan", "createnewloanrequest", "Loanrequest", null, new { @class = "classname" })</p></div>*@
                    <table cellpadding="10" cellspacing="0" id="Loanrequest">
                        <tbody>
                            <tr>
                                <td colspan="7" class="myTable">
                                    Loading data from server
                                </td>
                            </tr>
                        </tbody>
                    </table>                    
                </div>
            </div>

            <div id="tabs-2">
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#Loanrequest2').dataTable({
                            // Ajax settings
                            "sPaginationType": "full_numbers",
                            "bProcessing": true,
                            "bServerSide": true,
                            "sAjaxSource": "@(Url.Action("GetAllLoanRequest", "financemanager", new { id = 1000 }))",
                            "sServerMethod": "POST",
                            // Callback settings
                            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                                /* row manipulation */

                                var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));

                                var h = ("0" + createdDate.getHours()).slice(-2);
                                var m = ("0" + createdDate.getMinutes()).slice(-2);
                                var s = ("0" + createdDate.getSeconds()).slice(-2);

                                var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;

                                $('td:eq(0)', nRow).html(dt_Created);

                                var value = aData.LoanAmount;
                                var num = value.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
                                $('td:eq(5)', nRow).html(num);

                                var value1 = aData.InterestAmount;
                                var num1 = value1.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
                                $('td:eq(6)', nRow).html(num1);
                                                               
                                return nRow;

                            },
                            // Display settings
                            "iDisplayLength": 100,
                            "bJQueryUI": true,
                            "aaSorting": [[0, "desc"]],
                            "aoColumns": [
                            { "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "8%" },
                            { "mDataProp": "CustomerAccount.Customer.FullName", "sTitle": "Customer Name", "sWidth": "10%" },
                            { "mDataProp": "CustomerAccount.Customer.IDNumber", "sTitle": "Id No", "sWidth": "5%" },
                            { "mDataProp": "CustomerAccount.Customer.MobileNumber", "sTitle": "Mobile No", "sWidth": "7%" },
                            { "mDataProp": "LoanProduct.ProductName", "sTitle": "Product", "sWidth": "10%" },                            
                            { "mDataProp": "LoanAmount", "sTitle": "Amount", "sWidth": "5%", "type": "numeric-comma", targets: 3 },
                            { "mDataProp": "InterestAmount", "sTitle": "Interest", "sWidth": "5%", "type": "numeric-comma", targets: 3 },
                            { "mDataProp": "StatusDesc", "sTitle": "Status", "sWidth": "5%" },
                            { "mDataProp": "Branch.BranchName", "sTitle": "Branch", "sWidth": "13%" }] ,
                        });
                    });

                </script>
                <div>                                            
                    @*<div><p><p> @Html.ActionLink("Register a Loan", "createnewloanrequest", "Loanrequest", null, new { @class = "classname" })</p></div>*@
                    <table cellpadding="10" cellspacing="0" id="Loanrequest2">
                        <tbody>
                            <tr>
                                <td colspan="7" class="myTable">
                                    Loading data from server
                                </td>
                            </tr>
                        </tbody>
                    </table>                    
                </div>
            </div>
        </div>
    </fieldset>
</body>        
