﻿@{
    ViewBag.Title = "Journal Voucher";
}
<h1><b>Journal Voucher</b></h1>
<style type="text/css">
    .dropdown1 select {
        border: 0px;
        width: 150px;
        background: none;
    }

    .dropdown1 {
        border: 2px solid #7d6754;
        border-radius: 5px;
        padding: 3px;
        -webkit-appearance: none;
        background-image: url('http://maxgxl.com/max4u/images/selectArrowDown.png');
        background-position: 225px;
        background-repeat: no-repeat;
        text-indent: 0.01px; /*In Firefox*/
        text-overflow: ''; /*In Firefox*/
        width: 150px;
    }

</style>
<script src="../../Scripts/jquery-1.7.1.js" type="text/javascript"></script>
<script src="../../Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //Dropdownlist Selectedchange event
        $("#TransactionType").change(function () {                                           
            $.ajax({
                type: 'POST',                
                url: '@Url.Action("GetStates")', // we are calling json method
                dataType: 'json',
                data: { id: $("#TransactionType").val() },
                success: function (states) {
                    $("#ReturnValue1").empty();
                    // states contains the JSON formatted list
                    // of states passed from the controller                    
                    $.each(states, function (i, state) {
                        $("#ReturnValue1").append('<option value="' + state.Value + '">' + state.Text + '</option>');
                    }); // here we are adding option for States
                },
                error: function (ex) {
                    alert('Failed to retrieving values.' + ex);
                }
            });
            return false;
        })
    });
</script>


<script type="text/javascript">
    $(document).ready(function () {

        //Dropdownlist Selectedchange event
        $("#TransactionType2").change(function () {                            
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetCity")',
                dataType: 'json',
                data: { id: $("#TransactionType2").val() },
                success: function (citys) {
                    $("#ReturnValue2").empty();
                    // states contains the JSON formatted list
                    // of states passed from the controller
                    $.each(citys, function (i, city) {
                        $("#ReturnValue2").append('<option value="'+ city.Value + '">'+ city.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieving values' + ex);
                }                                                                                                   
            });
            return false;
        })
    });
</script>
@using (Html.BeginForm())
{
    <fieldset>
        <legend>Voucher Details</legend>    
        <h2><b>Debit</b></h2>
        <br />   
            <div class="editor-field">
                @if (ViewData.ContainsKey("TransactionType"))
                {
                    @Html.DropDownList("TransactionType", ViewData["TransactionType"] as List<SelectListItem>, new { style = "width:250px", @class = "dropdown1" })
                }
            </div>
            <br />        
            <div class="editor-field">
                @Html.DropDownList("ReturnValue1", new SelectList(string.Empty, "Value", "Text"), "Please select", new { style = "width:250px", @class = "dropdown1" })
            </div>
            
        <h2><b>Credit</b></h2>
        <br />
            <div class="editor-field">
                @if (ViewData.ContainsKey("TransactionType2"))
                {
                    @Html.DropDownList("TransactionType2", ViewData["TransactionType2"] as List<SelectListItem>, new { style = "width:250px", @class = "dropdown1" })
                }
            </div>
            <br />        
            <div class="editor-label">
                @Html.Label("Select Type", new { style = "width:250px" })
            </div>
            <div class="editor-field">
                @Html.DropDownList("ReturnValue2", new SelectList(string.Empty, "Value", "Text"), "Please select", new { style = "width:250px", @class = "dropdown1" })
            </div>
            <br />

            <br />
            <div class="editor-label">
                @Html.Label("PrimaryDescription")
            </div>
            <div class="editor-field">
                @Html.Editor("PrimaryDescription")
            </div>

            <div class="editor-label">
                @Html.Label("Secondary Description")
            </div>
            <div class="editor-field">
                @Html.Editor("SecondaryDescription")
            </div>

            <div class="editor-label">
                @Html.Label("Principal Amount")
            </div>
            <div class="editor-field">
                @Html.Editor("PrincipalAmount")
            </div>
                 
        <input id="Submit1" type="submit" value="submit" />
    </fieldset>    
}
<script type=""></script>