﻿@model Nikopeshe.Entity.Journal
@{
    ViewBag.Title = "Journal Entry";
    
    var customerSelectList = ViewBag.Customername as string;

    var customerDropDownList = ViewBag.CustomerSelectlist as List<SelectListItem>; 
    }
<script>
    $(form).submit(function () {        
        $('#C2BStatusDesc').removeAttr('disabled');
        $('#SuspenseAccountName').removeAttr('disabled');
        $('#CustomerId').removeAttr('disabled');
        $('#MpesaReceiptCode').removeAttr('disabled');
    })

</script>
@*<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>*@
<script>
    $(form).submit(function () {        
        $('#HiddenField').val($('#C2BStatusDesc').val());
        $('#HiddenField').val($('#CustomerId').val());
        $('#HiddenField').val($('#SuspenseAccountName').val());
        $('#HiddenField').val($('#MpesaReceiptCode').val());
    });
</script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
    <script type="text/javascript">
        $(document).ready(function () {           
            $('#CityName').autocomplete({                
                source: '@Url.Action("CustomerSearchArray", "FinanceManager")',                
            });
        })
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $(document).tooltip();
        $("#CustomerMobileNumber").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/FinanceManager/CustomerSearchArray",
                    type: "POST",
                    dataType: "json",
                    data: { id: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.MobileNumberFullName, value: item.MobileNumber };
                        }))
                    }
                })
            }
        });
    })
</script>

@using (Html.BeginForm())
{      
    
        @Html.ValidationSummary(false, "Operation was unsuccessful. Please correct the errors and try again.")
        @Html.AntiForgeryToken()
        <fieldset>
            <legend>Create Journal Entry</legend>
            @Html.HiddenFor(x => x.C2BTransactionId)
            @Html.HiddenFor(x => x.CustomerId)
            @Html.HiddenFor(x => x.SuspenseAccountChartofAccountId)
            @*@Html.ActionLink("Pick Customer ", "customersearch", "financemanager", null, new { @class = "modal-link btn btn-success" })*@
            @*<div class="editor-label">
                @Html.LabelFor(model => model.CustomerName)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.CustomerId, customerDropDownList)
                @Html.ValidationMessageFor(model => model.CustomerId)
            </div>*@

            <div class="editor-label">
                <h1><b>@Html.Label("Search a customer using mobile number starting with 254.")</b></h1>
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.CustomerMobileNumber, new { @placeholder = "Type customer mobile to search." })
                @Html.ValidationMessageFor(model => model.CustomerMobileNumber)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.TransactionAmount)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.TransactionAmount)
                @Html.ValidationMessageFor(model => model.TransactionAmount)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.C2BStatusDesc)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.C2BStatusDesc, new { @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.C2BStatusDesc)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.SuspenseAccountName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.SuspenseAccountName, new { @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.SuspenseAccountName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.MpesaReceiptCode)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.MpesaReceiptCode, new { @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.MpesaReceiptCode)
            </div>

            <div class="editor-field"><input type="submit" value="Create Journal" class="btn btn-default" onclick="return confirm('Are you sure you want to create this journal?');" /></div>
        </fieldset>
        }