﻿@using Nikopeshe.Entity.DataModels
@using Nikopeshe.WebApplication.Controllers
@using Microsoft.Web.Mvc

@{
    ViewBag.Title = "Chart of Accounts";

    var header = ViewBag.Header as string;

    var id = ViewBag.AccountCode;
}

<h2>
    @Html.Raw(header)
</h2>
<script src="~/scripts/datatables/jquery.datatables.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#chartofaccountstatementgrid').dataTable({
            // Ajax settings
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "@(Url.Action("GetGLAccountStatement", "ChartofAccount", new { id = id }))",
            "sServerMethod": "POST",
            // Callback settings
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                /* row manipulation */
                var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));

                var h = ("0" + createdDate.getHours()).slice(-2);
                var m = ("0" + createdDate.getMinutes()).slice(-2);
                var s = ("0" + createdDate.getSeconds()).slice(-2);

                var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;

                $('td:eq(0)', nRow).html(dt_Created);               

                return nRow;
            },
            // Display settings
            "iDisplayLength": 10,
            "bJQueryUI": true,
            "aaSorting": [[0, "desc"]],
            "aoColumns": [
            { "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "12%" },            
            { "mDataProp": "ChartofAccount.AccountName", "sTitle": "Account Name", "sWidth": "20%", "sDefaultContent": "n/a" },
            { "mDataProp": "TransactionAmount", "sTitle": "Trx Amount", "sWidth": "10%" },
            { "mDataProp": "TransactionTypeDesc", "sTitle": "Trx Type" },
            { "mDataProp": "LoanRequest.LoanReferenceNumber", "sTitle": "Loan Ref No." }]
        });
    });

</script>
<div>
    <fieldset>
        <legend>Chart of Accounts Statement</legend>
        
        <table cellpadding="0" cellspacing="1" id="chartofaccountstatementgrid">
            <tbody>
                <tr>
                    <td colspan="7" class="dataTables_empty">
                        Loading data from server
                    </td>
                </tr>
            </tbody>
        </table>
        <p>@Html.ActionLink("Back to List", "chartofaccountslist", "ChartofAccount")</p>
    </fieldset>
</div>

