﻿@model Nikopeshe.Entity.DataModels.ChartofAccount

@{
    ViewBag.Title = "Chart of Account Details";
    var parentname = ViewBag.ParentName as string;
    var productname = ViewBag.Productname as string;
}

<div>
    <fieldset>
        <legend>Chart of Accounts Details</legend>

        <div class="display-label">
            <b>@Html.DisplayName("Parent Account Name")</b>
        </div>

        <div class="display-field">
            @Html.DisplayName(@parentname)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.AccountName)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.AccountName)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.AccountCode)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.AccountCode)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.ChartOfAccountCategoryDescription)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.ChartOfAccountCategoryDescription)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.ChartOfAccountTypeDescription)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.ChartOfAccountTypeDescription)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.IsActive)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.IsActive)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.CreatedDate)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.CreatedDate)
        </div>        

       
    </fieldset>
</div>
<p>
    @Html.ActionLink("Back to List", "chartofaccountslist")
</p>
