﻿@using Nikopeshe.Entity.DataModels
@using Nikopeshe.WebApplication.Controllers
@model ChartofAccount


@{
    ViewBag.Title = "New Chart of Account";

    var chartofaccountcategory = ViewBag.AccountIdentifier as List<SelectListItem>;
}

<script type="text/jscript">
    $(function () {
        $('#chartaccountcatergory').change(function () {
            $.getJSON('/ChartofAccount/AccountSelectList/' + $('#chartaccountcatergory').val(), function (data) {
                var items = null;
                $.each(data, function (i, state) {
                    items += "<option value='" + state.Value + "'>" + state.Text + "</option>";
                });
                $('#ParentId').html(items);
            });
        });
    });
</script>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Chart of Account Details</legend>

        @Html.ValidationSummary(false, "Operation was unsuccessful. Please correct the errors and try again.")

        <div class="editor-label">
            @Html.LabelFor(model => model.ChartOfAccountType)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => model.ChartOfAccountType, "Select Account Type", new { id = "chartaccountcatergory" })
            @Html.ValidationMessageFor(model => model.ChartOfAccountType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ChartOfAccountCategory)
        </div>
        <div class="editor-field">
            @Html.DropDownList("ChartOfAccountCategory", chartofaccountcategory, new { id = "chartaccountcatergory" })
            @Html.ValidationMessageFor(model => model.ChartOfAccountCategory)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ParentId)
        </div>
        <div class="editor-field">
            <select id="ParentId" name="parent"></select><br />
            @Html.ValidationMessageFor(model => model.ParentId)
        </div>

        @Html.HiddenFor(model => model.ParentId)

        <div class="editor-label">
            @Html.LabelFor(model => model.AccountCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AccountCode)
            @Html.ValidationMessageFor(model => model.AccountCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AccountName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AccountName)
            @Html.ValidationMessageFor(model => model.AccountName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsActive)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsActive)
            @Html.ValidationMessageFor(model => model.IsActive)
        </div>

        <div class="editor-field"><input type="submit" value="Create" class="btn btn-default" /></div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "chartofaccountslist")
</div>






