﻿
@using Nikopeshe.Entity.DataModels
@using Nikopeshe.WebApplication.Controllers
@model ChartofAccount


@{
    ViewBag.Title = "New Chart of Account";

    var chartofaccounttype = ViewBag.AccountTypeSelectList as List<SelectListItem>;
    var chartofaccountparent = ViewBag.AccountCategorySelectList as List<SelectListItem>;
    var accountcategory = ViewBag.ParentAccountSelectList as IList<SelectListItem>;

}
<script type="text/javascript">
    $(document).ready(function () {
        $("#ddlchartaccounttype").change(function () {
            var idModel = $(this).val();
            $.getJSON("/ChartofAccount/AccountSelectList", { id: idModel },
                    function (carData) {
                        var select = $("#ddlchartofaccountparent");
                        select.empty();
                        select.append($('<option/>', {
                            value: 0,
                            text: "Choose Parent Chart of Accounts"
                        }));
                        $.each(carData, function (index, itemData) {

                            select.append($('<option/>', {
                                value: itemData.Value,
                                text: itemData.Text
                            }));
                        });
                    });
        });
    });
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Chart of Account Details</legend>

        @Html.ValidationSummary(false, "One or more validation errors occured. Correct and try again.")

        <div class="editor-label">
            @Html.LabelFor(model => model.ChartOfAccountType)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ChartOfAccountType, chartofaccounttype, new { id = "ddlchartaccounttype" })
            @Html.ValidationMessageFor(model => model.ChartOfAccountType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ChartOfAccountCategory)
        </div>
        <div>
            @Html.DropDownListFor(model => model.ChartOfAccountCategory, accountcategory)
            @Html.ValidationMessageFor(model => model.ChartOfAccountCategory)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ParentId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ParentId, chartofaccountparent, new { id = "ddlchartofaccountparent" })
            @Html.ValidationMessageFor(model => model.ParentId)
        </div>

        @Html.HiddenFor(model => model.ParentId)

        <div class="editor-label">
            @Html.LabelFor(model => model.AccountCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AccountCode)
            @Html.ValidationMessageFor(model => model.AccountCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AccountName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AccountName)
            @Html.ValidationMessageFor(model => model.AccountName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsActive)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsActive)
            @Html.ValidationMessageFor(model => model.IsActive)
        </div>

        <div class="editor-field"><input type="submit" value="Create" class="btn btn-default" /></div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "chartofaccountslist")
</div>






