﻿@using Nikopeshe.Entity.DataModels
@using Nikopeshe.WebApplication.Controllers
@using Microsoft.Web.Mvc

@{
    ViewBag.Title = "Chart of Accounts";

    var header = ViewBag.Header as string;
}

<h2>
    @Html.Raw(header)
</h2>
<script src="~/scripts/datatables/jquery.datatables.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#chartofaccountgrid').dataTable({
            // Ajax settings
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "@(Url.Action("getallchartofaccounts", "ChartofAccount"))",
            "sServerMethod": "POST",
            // Callback settings
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                /* row manipulation */
                var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));

                var h = ("0" + createdDate.getHours()).slice(-2);
                var m = ("0" + createdDate.getMinutes()).slice(-2);
                var s = ("0" + createdDate.getSeconds()).slice(-2);

                var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;

                $('td:eq(0)', nRow).html(dt_Created);

                $('td:eq(7)', nRow).html('<a href="/chartofaccount/chartofaccountsdetails/' + aData.Id + '">' + "View" + '</a>' +
                    '|' + '<a href="/chartofaccount/editchartofaccount/' + aData.Id + '">' + "Edit" + '</a>' + '|' + '<a href="/chartofaccount/accountstatement/' + aData.AccountCode + '">' + "Statement" + '</a>');
                return nRow;
               
                return nRow;
            },
            // Display settings
            "iDisplayLength": 10,
            "bJQueryUI": true,
            "aaSorting": [[0, "desc"]],
            "aoColumns": [
            { "mDataProp": "CreatedDate", "sTitle": "Created Date" },
            { "mDataProp": "Parent.AccountName", "sTitle": "Parent", "sDefaultContent": "n/a" },
            { "mDataProp": "ChartOfAccountTypeDescription", "sTitle": "Type", "sWidth": "7%" },
            { "mDataProp": "AccountCode", "sTitle": "Account Code" },
            { "mDataProp": "AccountName", "sTitle": "Account Name" },
            { "mDataProp": "ChartOfAccountCategoryDescription", "sTitle": "Category" },
            { "mDataProp": "IsActive", "sTitle": "Is Active?" },
            { "mDataProp": "Commands", "sTitle": "", "bSortable": false }]
        });
    });

</script>
<div>
    <fieldset>
        <legend>Chart of Accounts</legend>        
        <p>@Html.ActionLink("New Chart of Account", "addnewchartofaccount", "ChartofAccount")</p>    
        <table cellpadding="0" cellspacing="1" id="chartofaccountgrid">
            <tbody>
                <tr>
                    <td colspan="7" class="dataTables_empty">
                        Loading data from server
                    </td>
                </tr>
            </tbody>
        </table>

    </fieldset>
</div>