﻿@using Nikopeshe.Entity.DataModels
@using Nikopeshe.WebApplication.Controllers
@using Microsoft.Web.Mvc
@{
    ViewBag.Title = "Graduated Scale List";

    string header = ViewBag.Header as string;
}

<h2>
    @Html.Raw(header)
</h2>
<script src="~/scripts/datatables/jquery.datatables.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#chargesgrid').dataTable({
            // Ajax settings
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "@(Url.Action("GetAllGraduatedScale", "GraduatedScale"))",
            "sServerMethod": "POST",
            // Callback settings
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));

                var h = ("0" + createdDate.getHours()).slice(-2);
                var m = ("0" + createdDate.getMinutes()).slice(-2);
                var s = ("0" + createdDate.getSeconds()).slice(-2);

                var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;

                $('td:eq(0)', nRow).html(dt_Created);
                $('td:eq(6)', nRow).html('<a href="/GraduatedScale/UpdateGraduatedScale/' + aData.Id + '">' + "Edit Graduated Scale" + '</a>');
                return nRow;
            },
            // Display settings
            "iDisplayLength": 10,
            "bJQueryUI": true,
            "aaSorting": [[0, "desc"]],
            "aoColumns": [
            { "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "12%" },
            { "mDataProp": "Charge.ChargeName", "sTitle": "Charge Name", "sWidth": "12%" },
            { "mDataProp": "LowerLimit", "sTitle": "Lower Limit", "sWidth": "10%" },
            { "mDataProp": "UpperLimit", "sTitle": "Upper Limit", "sWidth": "10%" },
            { "mDataProp": "ChargeTypeDesc", "sTitle": "Charge Type Desc", "sWidth": "12%" },            
            { "mDataProp": "Value", "sTitle": "Value", "sWidth": "7%" },            
            { "mDataProp": "Commands", "sTitle": "", "bSortable": false, "sWidth": "12%" }],
        });
    });

</script>
<div>
    <fieldset>
        <div><p><p> @Html.ActionLink("Create New Graduated Scale", "CreateNewGraduatedScale", "GraduatedScale", null, new { @class = "classname" })</p></div>
        <legend>Graduated Scale Listing</legend>
        <table cellpadding="0" cellspacing="1" id="chargesgrid">
            <tbody>
                <tr>
                    <td colspan="7" class="dataTables_empty">
                        Loading data from server
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</div>

<style>
    a.classname {
        background-color: #d3dce0;
        border: 1px solid #787878;
        text-decoration: none;
        cursor: pointer;
        font-size: 1.1em;
        border-radius: 3px;
        font-weight: 600;
        padding: 7px;
        margin-right: 8px;
        width: auto;
    }
</style>