﻿@using Nikopeshe.WebApplication.Extensions
@model Nikopeshe.Entity.DataModels.GraduatedScale

@{
    ViewBag.Title = "Update Graduated Scale";

    var ChargeSelectList = ViewBag.ChargeSelectList as IList<SelectListItem>;    
}

<h1><b>Update Graduated Scale</b></h1>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false, "Operation was unsuccessful. Please correct the errors and try again.")
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Fill in below details.</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ChargeId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ChargeId, ChargeSelectList)
            @Html.ValidationMessageFor(model => model.ChargeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LowerLimit)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LowerLimit)
            @Html.ValidationMessageFor(model => model.LowerLimit)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UpperLimit)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UpperLimit)
            @Html.ValidationMessageFor(model => model.UpperLimit)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ChargeType)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => model.ChargeType, "Select Charge Type")
            @Html.ValidationMessageFor(model => model.ChargeType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Value)
        </div>        
        <div class="editor-field">
            @Html.EditorFor(model => model.Value)
            @Html.ValidationMessageFor(model => model.Value)
        </div>

        <div class="editor-field"><input type="submit" value="Create" class="btn btn-default" /></div>
    </fieldset>
}

<div class="form-actions no-color">
    @Html.ActionLink("Back to List", "Index")
</div>

