﻿@model Nikopeshe.Entity.DataModels.Report
@using Nikopeshe.WebApplication.Extensions
@using Nikopeshe.Data.Mappings
@using Nikopeshe.WebApplication.Models

@{
    ViewBag.Title = "Report";
    var roleslist = ViewBag.Roles as List<CheckBoxListInfo>;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>New Report</legend>
        @Html.ValidationSummary(false, "Operation was unsuccessful. Please correct the errors and try again.")
        <div class="form-group">            

            <div class="editor-label">
                @Html.LabelFor(model => model.FolderName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.FolderName)
                @Html.ValidationMessageFor(model => model.FolderName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.ReportName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ReportName)
                @Html.ValidationMessageFor(model => model.ReportName)
            </div>            

            <div class="editor-label">
                @Html.LabelFor(model => model.IsParameterized)
            </div>
            <div class="editor-field">
                @Html.CheckBoxFor(model => model.IsParameterized)
                @Html.ValidationMessageFor(model => model.IsParameterized)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.ParameterName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ParameterName)
                @Html.ValidationMessageFor(model => model.ParameterName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Description)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.RoleCategory)
            </div>
            <div class="editor-field">
                @Html.Raw(Html.CheckBoxList("RoleCategory", roleslist))
                @Html.ValidationMessageFor(model => model.RoleCategory)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.IsEnabled)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.IsEnabled)
                @Html.ValidationMessageFor(model => model.IsEnabled)
            </div>

            <div class="editor-field"><input type="submit" value="Save" class="btn btn-default" /></div>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


