﻿@using Nikopeshe.Entity.DataModels
@using Nikopeshe.WebApplication.Controllers
@using Microsoft.Web.Mvc
@model IEnumerable<Nikopeshe.WebApplication.Models.SystemRoles>
@using GridMvc.Html
@{
    ViewBag.Title = "Report List";

    string header = ViewBag.Header as string;
}

<h2>
    @Html.Raw(header)
</h2>
<script src="~/scripts/datatables/jquery.datatables.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#reportGrid').dataTable({
            // Ajax settings
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "@(Url.Action("GetAllReports", "Report"))",
            "sServerMethod": "POST",
            // Callback settings
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));

                var h = ("0" + createdDate.getHours()).slice(-2);
                var m = ("0" + createdDate.getMinutes()).slice(-2);
                var s = ("0" + createdDate.getSeconds()).slice(-2);

                ///var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;

               // $('td:eq(0)', nRow).html(dt_Created);

                if (aData.IsEnabled == 1) {
                    //$('td:eq(0)', nRow).html('<a href="/report/viewreport/' + aData.Id + '">' + aData.ReportName + '</a>');

                    $('td:eq(0)', nRow).html('<a href="/report/report/' + aData.Id + '">' + aData.ReportName + '</a>');

                    //$('td:eq(0)', nRow).html('<a href="/' + aData.ReportPath + '">' + aData.ReportName + '</a>');
                }
                return nRow;
            },
            // Display settings
            "iDisplayLength": 10,
            "bJQueryUI": true,
            "aaSorting": [[0, "asc"]],
            "aoColumns": [
            //{ "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "12%" },            
            { "mDataProp": "ReportName", "sTitle": "Report Name", "sWidth": "10%" },           
            { "mDataProp": "Description", "sTitle": "Description", "sWidth": "10%" }],
        });
    });

</script>
<div>
    <fieldset>        
        @Html.ActionLink("Create Report", "create", "report")
        <legend>Reports</legend>
        <table cellpadding="0" cellspacing="1" id="reportGrid">
            <tbody>
                <tr>
                    <td colspan="7" class="dataTables_empty">
                        Loading data from server
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</div>
@*@if (Roles.IsUserInRole("Administrator"))
{
    <div style="width:500px;">
        <fieldset>
            <legend>Reports in Roles</legend>
            @Html.Grid(Model).Columns(columns =>
                    {
                        columns.Add(model => model.RoleName).Titled("Name")
                         .Filterable(true).Sanitized(false).Encoded(false).
                           RenderValueAs(model => Html.ActionLink(model.RoleName,
                             "rolereports", "report", new { id = model.RoleName }, null)
                               .ToHtmlString());
                        columns.Add(c => c.Actions).Titled("").Sortable(false);

                    }).WithPaging(10).Sortable(true)
        </fieldset>
    </div>
}*@

 
<style>
    a.classname {
        background-color: #d3dce0;
        border: 1px solid #787878;
        text-decoration: none;
        cursor: pointer;
        font-size: 1.1em;
        border-radius: 3px;
        font-weight: 600;
        padding: 7px;
        margin-right: 8px;
        width: auto;
    }
</style>