﻿@model IEnumerable<Nikopeshe.WebApplication.Models.SystemRoles>   
@using GridMvc.Html
@{
    ViewBag.Title = "Index";
}
<html>

<body>    
    <hr />
    <div style="width:500px;">
        <fieldset>
            <legend>Reports in Roles</legend>
            @Html.Grid(Model).Columns(columns =>
                    {
                        columns.Add(model => model.RoleName).Titled("Name")
                         .Filterable(true).Sanitized(false).Encoded(false).
                           RenderValueAs(model => Html.ActionLink(model.RoleName,
                             "rolereports", "report", new { id = model.RoleName }, null)
                               .ToHtmlString());
                        columns.Add(c => c.Actions).Titled("").Sortable(false);
                        
                    }).WithPaging(10).Sortable(true)
        </fieldset>
    </div>    
</body>
</html> 