﻿@model IEnumerable<Nikopeshe.WebApplication.Models.ReportInRoleDetails>
@using GridMvc.Html
@{
    ViewBag.Title = "Index";
}
<html>

<body>
    <hr />
    <div style="width:500px;">
        <fieldset>
            <legend>Reports in Roles</legend>
            @Html.Grid(Model).Columns(columns =>
                    {
                        columns.Add(model => model.FolderName).Titled("Folder Name")
                         .Filterable(true).Sanitized(false).Encoded(false).Sortable(false);
                        
                        columns.Add(model => model.ReportName).Titled("Report Name")
                        .Filterable(true).Sanitized(false).Encoded(false).Sortable(false);
                        
                        columns.Add(model => model.IsEnabled).Titled("Is Enabled?")
                        .Filterable(true).Sanitized(false).Encoded(false).Sortable(false);

                        columns.Add(model => model.Actions).Titled("")
                         .Filterable(true).Sanitized(false).Encoded(false).
                           RenderValueAs(model => Html.ActionLink(model.ReportName.ToString(),
                             "report", "report", new { id = model.ReportId }, null)
                               .ToHtmlString());                        
                        
                    }).WithPaging(10).Sortable(true).EmptyText("There are no reports.")
        </fieldset>
    </div>
</body>
</html> 