﻿@using Nikopeshe.Entity.DataModels
@using Nikopeshe.WebApplication.Controllers
@using Microsoft.Web.Mvc

@{
    ViewBag.Title = "Chart of Accounts";

    var header = ViewBag.Header as string;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <script src="~/scripts/datatables/jquery.datatables.js"></script>
    @*<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">*@
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script>
        $(function () {
            $("#tabs").tabs();
        });
    </script>
</head>
<body>
    <fieldset>
        <p>@Html.ActionLink("New Chart of Account", "addnewchartofaccount", "ChartofAccount")</p>
        <legend>Chart of Accounts</legend>
        <div id="tabs">
            <ul>
                <li><a href="#tabs-1">Assets</a></li>
                <li><a href="#tabs-2">Liability</a></li>
                <li><a href="#tabs-3">Equity</a></li>
                <li><a href="#tabs-4">Income</a></li>
                <li><a href="#tabs-5">Expense</a></li>
            </ul>
            <div id="tabs-1">
                <h2>
                    @Html.Raw(header)
                </h2>                
                <script type="text/javascript">
                    $(document).ready(function () {

                        $('#chartofaccountassetsgrid').dataTable({
                            // Ajax settings
                            "sPaginationType": "full_numbers",
                            "bProcessing": true,
                            "bServerSide": true,
                            "sAjaxSource": "@(Url.Action("getallchartofaccounts", "ChartofAccount", new { id = 1000000 }))",
                            "sServerMethod": "POST",
                            // Callback settings
                            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                                /* row manipulation */
                                var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));

                                var h = ("0" + createdDate.getHours()).slice(-2);
                                var m = ("0" + createdDate.getMinutes()).slice(-2);
                                var s = ("0" + createdDate.getSeconds()).slice(-2);

                                var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;

                                $('td:eq(0)', nRow).html(dt_Created);

                                $('td:eq(7)', nRow).html('<a href="/chartofaccount/chartofaccountsdetails/' + aData.Id + '">' + "View" + '</a>' +
                                    '|' + '<a href="/chartofaccount/editchartofaccount/' + aData.Id + '">' + "Edit" + '</a>' + '|' + '<a href="/chartofaccount/accountstatement/' + aData.AccountCode + '">' + "Statement" + '</a>');
                                return nRow;

                                return nRow;
                            },
                            // Display settings
                            "iDisplayLength": 10,
                            "bJQueryUI": true,
                            "aaSorting": [[0, "desc"]],
                            "aoColumns": [
                            { "mDataProp": "CreatedDate", "sTitle": "Created Date" },
                            { "mDataProp": "Parent.AccountName", "sTitle": "Parent", "sDefaultContent": "n/a", "bSortable": false },
                            { "mDataProp": "ChartOfAccountTypeDescription", "sTitle": "Type", "sWidth": "7%" },
                            { "mDataProp": "AccountCode", "sTitle": "Account Code" },
                            { "mDataProp": "AccountName", "sTitle": "Account Name" },
                            { "mDataProp": "ChartOfAccountCategoryDescription", "sTitle": "Category" },
                            { "mDataProp": "IsActive", "sTitle": "Is Active?" },
                            { "mDataProp": "Commands", "sTitle": "", "bSortable": false }]
                        });
                    });

                </script>
                <div>                    
                    <table cellpadding="0" cellspacing="1" id="chartofaccountassetsgrid">
                        <tbody>
                            <tr>
                                <td colspan="7" class="dataTables_empty">
                                    Loading data from server
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="tabs-2">
                <h2>
                    @Html.Raw(header)
                </h2>                
                <script type="text/javascript">
                    $(document).ready(function () {

                        $('#chartofaccountliabilitygrid').dataTable({
                            // Ajax settings
                            "sPaginationType": "full_numbers",
                            "bProcessing": true,
                            "bServerSide": true,
                            "sAjaxSource": "@(Url.Action("getallchartofaccounts", "ChartofAccount", new { id = 2000000 }))",
                            "sServerMethod": "POST",
                            // Callback settings
                            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                                /* row manipulation */
                                var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));

                                var h = ("0" + createdDate.getHours()).slice(-2);
                                var m = ("0" + createdDate.getMinutes()).slice(-2);
                                var s = ("0" + createdDate.getSeconds()).slice(-2);

                                var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;

                                $('td:eq(0)', nRow).html(dt_Created);

                                $('td:eq(7)', nRow).html('<a href="/chartofaccount/chartofaccountsdetails/' + aData.Id + '">' + "View" + '</a>' +
                                    '|' + '<a href="/chartofaccount/editchartofaccount/' + aData.Id + '">' + "Edit" + '</a>' + '|' + '<a href="/chartofaccount/accountstatement/' + aData.AccountCode + '">' + "Statement" + '</a>');
                                return nRow;

                                return nRow;
                            },
                            // Display settings
                            "iDisplayLength": 10,
                            "bJQueryUI": true,
                            "aaSorting": [[0, "desc"]],
                            "aoColumns": [
                            { "mDataProp": "CreatedDate", "sTitle": "Created Date" },
                            { "mDataProp": "Parent.AccountName", "sTitle": "Parent", "sDefaultContent": "n/a", "bSortable": false },
                            { "mDataProp": "ChartOfAccountTypeDescription", "sTitle": "Type", "sWidth": "7%" },
                            { "mDataProp": "AccountCode", "sTitle": "Account Code" },
                            { "mDataProp": "AccountName", "sTitle": "Account Name" },
                            { "mDataProp": "ChartOfAccountCategoryDescription", "sTitle": "Category" },
                            { "mDataProp": "IsActive", "sTitle": "Is Active?" },
                            { "mDataProp": "Commands", "sTitle": "", "bSortable": false }]
                        });
                    });

                </script>
                <div>
                    <table cellpadding="0" cellspacing="1" id="chartofaccountliabilitygrid">
                        <tbody>
                            <tr>
                                <td colspan="7" class="dataTables_empty">
                                    Loading data from server
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="tabs-3">
                <h2>
                    @Html.Raw(header)
                </h2>                
                <script type="text/javascript">
                    $(document).ready(function () {

                        $('#chartofaccountequitygrid').dataTable({
                            // Ajax settings
                            "sPaginationType": "full_numbers",
                            "bProcessing": true,
                            "bServerSide": true,
                            "sAjaxSource": "@(Url.Action("getallchartofaccounts", "ChartofAccount", new { id = 3000000 }))",
                            "sServerMethod": "POST",
                            // Callback settings
                            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                                /* row manipulation */
                                var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));

                                var h = ("0" + createdDate.getHours()).slice(-2);
                                var m = ("0" + createdDate.getMinutes()).slice(-2);
                                var s = ("0" + createdDate.getSeconds()).slice(-2);

                                var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;

                                $('td:eq(0)', nRow).html(dt_Created);

                                $('td:eq(7)', nRow).html('<a href="/chartofaccount/chartofaccountsdetails/' + aData.Id + '">' + "View" + '</a>' +
                                    '|' + '<a href="/chartofaccount/editchartofaccount/' + aData.Id + '">' + "Edit" + '</a>' + '|' + '<a href="/chartofaccount/accountstatement/' + aData.AccountCode + '">' + "Statement" + '</a>');
                                return nRow;

                                return nRow;
                            },
                            // Display settings
                            "iDisplayLength": 10,
                            "bJQueryUI": true,
                            "aaSorting": [[0, "desc"]],
                            "aoColumns": [
                            { "mDataProp": "CreatedDate", "sTitle": "Created Date" },
                            { "mDataProp": "Parent.AccountName", "sTitle": "Parent", "sDefaultContent": "n/a", "bSortable": false },
                            { "mDataProp": "ChartOfAccountTypeDescription", "sTitle": "Type", "sWidth": "7%" },
                            { "mDataProp": "AccountCode", "sTitle": "Account Code" },
                            { "mDataProp": "AccountName", "sTitle": "Account Name" },
                            { "mDataProp": "ChartOfAccountCategoryDescription", "sTitle": "Category" },
                            { "mDataProp": "IsActive", "sTitle": "Is Active?" },
                            { "mDataProp": "Commands", "sTitle": "", "bSortable": false }]
                        });
                    });

                </script>
                <div>                    
                    <table cellpadding="0" cellspacing="1" id="chartofaccountequitygrid">
                        <tbody>
                            <tr>
                                <td colspan="7" class="dataTables_empty">
                                    Loading data from server
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="tabs-4">
                <h2>
                    @Html.Raw(header)
                </h2>                
                <script type="text/javascript">
                    $(document).ready(function () {

                        $('#chartofaccountincomegrid').dataTable({
                            // Ajax settings
                            "sPaginationType": "full_numbers",
                            "bProcessing": true,
                            "bServerSide": true,
                            "sAjaxSource": "@(Url.Action("getallchartofaccounts", "ChartofAccount", new { id = 4000000 }))",
                            "sServerMethod": "POST",
                            // Callback settings
                            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                                /* row manipulation */
                                var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));

                                var h = ("0" + createdDate.getHours()).slice(-2);
                                var m = ("0" + createdDate.getMinutes()).slice(-2);
                                var s = ("0" + createdDate.getSeconds()).slice(-2);

                                var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;

                                $('td:eq(0)', nRow).html(dt_Created);

                                $('td:eq(7)', nRow).html('<a href="/chartofaccount/chartofaccountsdetails/' + aData.Id + '">' + "View" + '</a>' +
                                    '|' + '<a href="/chartofaccount/editchartofaccount/' + aData.Id + '">' + "Edit" + '</a>' + '|' + '<a href="/chartofaccount/accountstatement/' + aData.AccountCode + '">' + "Statement" + '</a>');
                                return nRow;

                                return nRow;
                            },
                            // Display settings
                            "iDisplayLength": 10,
                            "bJQueryUI": true,
                            "aaSorting": [[0, "desc"]],
                            "aoColumns": [
                            { "mDataProp": "CreatedDate", "sTitle": "Created Date" },
                            { "mDataProp": "Parent.AccountName", "sTitle": "Parent", "sDefaultContent": "n/a", "bSortable": false },
                            { "mDataProp": "ChartOfAccountTypeDescription", "sTitle": "Type", "sWidth": "7%" },
                            { "mDataProp": "AccountCode", "sTitle": "Account Code" },
                            { "mDataProp": "AccountName", "sTitle": "Account Name" },
                            { "mDataProp": "ChartOfAccountCategoryDescription", "sTitle": "Category" },
                            { "mDataProp": "IsActive", "sTitle": "Is Active?" },
                            { "mDataProp": "Commands", "sTitle": "", "bSortable": false }]
                        });
                    });

                </script>
                <div>
                    <table cellpadding="0" cellspacing="1" id="chartofaccountincomegrid">
                        <tbody>
                            <tr>
                                <td colspan="7" class="dataTables_empty">
                                    Loading data from server
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="tabs-5">
                <h2>
                    @Html.Raw(header)
                </h2>                
                <script type="text/javascript">
                    $(document).ready(function () {

                        $('#chartofaccountexpensegrid').dataTable({
                            // Ajax settings
                            "sPaginationType": "full_numbers",
                            "bProcessing": true,
                            "bServerSide": true,
                            "sAjaxSource": "@(Url.Action("getallchartofaccounts", "ChartofAccount", new { id = 5000000 }))",
                            "sServerMethod": "POST",
                            // Callback settings
                            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                                /* row manipulation */
                                var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));

                                var h = ("0" + createdDate.getHours()).slice(-2);
                                var m = ("0" + createdDate.getMinutes()).slice(-2);
                                var s = ("0" + createdDate.getSeconds()).slice(-2);

                                var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;

                                $('td:eq(0)', nRow).html(dt_Created);

                                $('td:eq(7)', nRow).html('<a href="/chartofaccount/chartofaccountsdetails/' + aData.Id + '">' + "View" + '</a>' +
                                    '|' + '<a href="/chartofaccount/editchartofaccount/' + aData.Id + '">' + "Edit" + '</a>' + '|' + '<a href="/chartofaccount/accountstatement/' + aData.AccountCode + '">' + "Statement" + '</a>');
                                return nRow;

                                return nRow;
                            },
                            // Display settings
                            "iDisplayLength": 10,
                            "bJQueryUI": true,
                            "aaSorting": [[0, "desc"]],
                            "aoColumns": [
                            { "mDataProp": "CreatedDate", "sTitle": "Created Date" },
                            { "mDataProp": "Parent.AccountName", "sTitle": "Parent", "sDefaultContent": "n/a", "bSortable": false },
                            { "mDataProp": "ChartOfAccountTypeDescription", "sTitle": "Type", "sWidth": "7%" },
                            { "mDataProp": "AccountCode", "sTitle": "Account Code" },
                            { "mDataProp": "AccountName", "sTitle": "Account Name" },
                            { "mDataProp": "ChartOfAccountCategoryDescription", "sTitle": "Category" },
                            { "mDataProp": "IsActive", "sTitle": "Is Active?" },
                            { "mDataProp": "Commands", "sTitle": "", "bSortable": false }]
                        });
                    });

                </script>
                <div>
                    <table cellpadding="0" cellspacing="1" id="chartofaccountexpensegrid">
                        <tbody>
                            <tr>
                                <td colspan="7" class="dataTables_empty">
                                    Loading data from server
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </fieldset>
</body>
</html>