﻿@using Nikopeshe.Entity.DataModels
@using Nikopeshe.WebApplication.Controllers
@using Microsoft.Web.Mvc
@using Nikopeshe.WebApplication.Extensions
@{
    ViewBag.Title = "Loan Application Documents";

    string header = ViewBag.Header as string;

    var id = ViewBag.Id;

    var customername = ViewBag.CustomerFullName as string;
    var loanreferencenumber = ViewBag.LoanRefNo as string;
    
}

<h2>
    @Html.Raw(header)
</h2>

<script type="text/javascript">
    $(document).ready(function () {

        $('#loanapplicationdocuments').dataTable({
            // Ajax settings
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "@(Url.Action("GetLoanRequestDocuments", "DocumentManagement", new { id = id }))",
            "sServerMethod": "POST",
            // Callback settings
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                /* row manipulation */

                var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));

                var h = ("0" + createdDate.getHours()).slice(-2);
                var m = ("0" + createdDate.getMinutes()).slice(-2);
                var s = ("0" + createdDate.getSeconds()).slice(-2);

                var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;

                $('td:eq(0)', nRow).html(dt_Created);

                $('td:eq(3)', nRow).html('<a href="/DocumentManagement/LoanRequestDocumentView/' + aData.Id + '"target="_blank">' + aData.DocumentTypeDesc + '</a>');
                return nRow;
            },
            // Display settings
            "iDisplayLength": 100,
            "bJQueryUI": true,
            "aaSorting": [[0, "desc"]],
            "aoColumns": [
            { "mDataProp": "CreatedDate", "sTitle": "Created Date" },
            { "mDataProp": "LoanRequest.CustomerAccount.Customer.FullName", "sTitle": "Customer Name", "bSortable": false  },
            { "mDataProp": "LoanRequest.LoanReferenceNumber", "sTitle": "Loan Ref No" },
            { "mDataProp": "DocumentTypeDesc", "sTitle": "DocumentType Desc" }],
        });
    });

</script>
<div>
    <fieldset>
        <legend>Documents for @customername, Loan Reference No @loanreferencenumber</legend>
        <div><p><p> @Html.ActionLink("Upload Loan Request Document", "UploadLoanApplicationDocuments", "DocumentManagement", new {@id = @id }, new { @class = "classname" })</p></div>
        <table cellpadding="0" cellspacing="1" id="loanapplicationdocuments">
            <tbody>
                <tr>
                    <td colspan="7" class="dataTables_empty">
                        Loading data from server
                    </td>
                </tr>
            </tbody>
        </table>
        <div></div>
    </fieldset>
</div>

<style> 
    a.classname {
        background-color: #d3dce0;
        border: 1px solid #787878;
        text-decoration: none;
        cursor: pointer;
        font-size: 1.1em;
        border-radius: 3px;
        font-weight: 600;
        padding: 7px;
        margin-right: 8px;
        width: auto;
    }
</style>