﻿@{
    Layout = null;


    var gender = ViewBag.GenderCheckList as List<CheckBoxListInfo>;

    var professionSelectList = ViewBag.ProfessionSelectList as IList<SelectListItem>;

    var BranchSelectList = ViewBag.BranchesSelectList as IList<SelectListItem>;

    var RelationshipManagerSelectList = ViewBag.RelationshipManagerSelectList as IList<SelectListItem>;

    var IncomeSelectList = ViewBag.IncomeRange as IList<SelectListItem>;

    var groupSelectList = ViewBag.GroupSelectList as IList<SelectListItem>;
}

@using Nikopeshe.WebApplication.Extensions
@model Nikopeshe.Entity.DataModels.Customer
@using Nikopeshe.WebApplication.Models
<script type="text/javascript">

    

    
    $(document).ready(function () {
        var rmguid = "";
        var groupNm = "";
        $(document).tooltip();
        $("#WardName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/LoanOfficer/GroupSearchArray",
                    type: "POST",
                    dataType: "json",
                    data: { id: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            rmguid = "";
                            groupNm = "";

                            rmguid = item.RelationshipManagerId;
                            groupNm = item.GroupName;
                            return { label: item.GroupNumberGroupName, value: item.GroupNumber };
                        }))
                    }
                })
            }
        });


        $('#WardName').focusout(function () {
            var mimi = $("#WardName").val();
            $.getJSON('/customer/RMSelectListByGroupNumber', { groupNumber: mimi }, function (carData) {
                var select = $("#RelationshipManagerId");
                select.empty();
                $.each(carData, function (index, itemData) {

                    select.append($('<option/>', {
                        value: itemData.Value,
                        text: itemData.Text
                    }));
                });
            });

            rmguid = "";
            groupNm = "";
            $("#RelationshipManagerId").attr('disabled', 'disabled');
            $('#gRPNo').hide();
            $('#rManager').hide();
        });

        $(function () {
            $("input[name='clientType']").click(function () {
                if ($("#individual").is(":checked")) {
                    $("#dvGroup").hide();
                    $("#WardName").removeAttr('required');
                    // $("#RelationshipManagerId").removeAttr('required');
                    $("#GroupMemberNumber").removeAttr('required');
                    $("#GroupRole").removeAttr('required');
                    $("#GroupRole").attr('disabled', 'disabled');
                } else {
                    $("#dvGroup").show();
                    $("#WardName").attr('required', 'required');
                    //$("#RelationshipManagerId").attr('required', 'required');
                    $("#GroupMemberNumber").attr('required', 'required');
                    $("#GroupRole").attr('required', 'required');
                    $("#GroupRole").removeAttr('disabled');
                }
            });
        });

        $(window).load(function () {

            if ($("#individual").is(":checked")) {
                $("#dvGroup").hide();
                $("#WardName").removeAttr('required');
                // $("#RelationshipManagerId").removeAttr('required');
                $("#GroupMemberNumber").removeAttr('required');
                $("#GroupRole").removeAttr('required');
                $("#GroupRole").attr('disabled', 'disabled');
            } else {
                $("#dvGroup").show();
                $("#WardName").attr('required', 'required');
                //$("#RelationshipManagerId").attr('required', 'required');
                $("#GroupMemberNumber").attr('required', 'required');
                $("#GroupRole").attr('required', 'required');
                $("#GroupRole").removeAttr('disabled');
            }
        });

        $(function () {
            var clientCode = "@(ViewBag.ClientCode)";
            console.log(clientCode);
            if (clientCode == "4") {
                $("#dvIndividual").addClass("hidden");
                $("#individual").removeAttr("checked");
                $("#group").attr("checked", "checked");
                $("#dvGroup").show();
            } else {
                $("#dvIndividual").removeClass("hidden");
                $("#individual").attr("checked", "checked");
                $("#group").removeAttr("checked");
                $("#dvGroup").hide();
            }
        });
    });
    </script>
    <h1><span><b>Client Type</b></span></h1>
    
    <label for="individual" id="dvIndividual">
        <input type="radio" id="individual" checked="checked" name="clientType" />
        <b>Individual Client</b>
    </label>

    <label for="group" id="dvGroupCheck">
        <input type="radio" id="group" name="clientType" />
        <b>Add to Existing Group</b>
    </label>

    <div id="dvGroup">

        <div class="form-group">
            Group Number<br>
            @Html.EditorFor(model => model.WardName)   
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RelationshipManagerId)
            @Html.DropDownListFor(model => model.RelationshipManagerId, RelationshipManagerSelectList)
            @Html.ValidationMessageFor(model => model.RelationshipManagerId)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.GroupMemberNumber)
            @Html.EditorFor(model => model.GroupMemberNumber)
            @Html.ValidationMessageFor(x => x.GroupMemberNumber)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.GroupRole)
            @Html.EnumDropDownListFor(model => model.GroupRole, "Select Group Role")
        </div>
    </div>

    <footer class="col-xs-12 form-group text-right">
        @(Html.Kendo().Button()
                .Name("Next1")
                .Content("Next")
                .HtmlAttributes(new { @class = "k-primary" })
                .Events(ev => ev.Click("onNextClick")))
    </footer>

