﻿@{
    Layout = null;

    var groupSelectList = ViewBag.GroupSelectList as IList<SelectListItem>;
}

@model Nikopeshe.Entity.DataModels.Customer

<div class="form-inline">

    <div class="form-group">
        @Html.LabelFor(m => m.GroupId)
        @Html.DropDownListFor(model => model.GroupId, groupSelectList)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.GroupMemberNumber)
        @Html.EditorFor(model => model.GroupMemberNumber)
        @Html.ValidationMessageFor(x => x.GroupMemberNumber)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.GroupRole)
        @Html.EnumDropDownListFor(model => model.GroupRole, "Select Group Role")
    </div>

    <footer class="col-xs-12 form-group text-right">
        @(Html.Kendo().Button()
                .Name("Previous3")
                .Content("Previous")
                .Events(ev => ev.Click("onPreviousClick")))

        @(Html.Kendo().Button()
                .Name("Next4")
                .Content("Next")
                .HtmlAttributes(new { @class = "k-primary" })
                .Events(ev => ev.Click("onNextClick")))
    </footer>
</div>
