﻿@{
    Layout = null;
}

@model Nikopeshe.Entity.DataModels.Customer

<div class="form-inline">

    <div class="form-group">
        @Html.LabelFor(m => m.NextOfKinName)
        @(Html.Kendo().TextBoxFor(m => m.NextOfKinName)
                                .HtmlAttributes(new { placeholder = "Next of Kin Name" }))
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.NextofKinRelationship)
        @(Html.Kendo().TextBoxFor(m => m.NextofKinRelationship)
                                .HtmlAttributes(new { placeholder = "Next of Kin Relationship" }))
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.NextOfKinIDNumber)
        @(Html.Kendo().TextBoxFor(m => m.NextOfKinIDNumber)
                                .HtmlAttributes(new { placeholder = "Next of Kin ID No" }))
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.NextOfKinTelNumber)
        @(Html.Kendo().TextBoxFor(m => m.NextOfKinTelNumber)
                                .HtmlAttributes(new { placeholder = "Next of Kin Mobile Number" }))
    </div>

    <footer class="col-xs-12 form-group text-right">
        @(Html.Kendo().Button()
                .Name("Previous2")
                .Content("Previous")
                .Events(ev => ev.Click("onPreviousClick")))

        @(Html.Kendo().Button()
                .Name("Next3")
                .Content("Next")
                .HtmlAttributes(new { @class = "k-primary" })
                .Events(ev => ev.Click("onNextClick")))
    </footer>
</div>
