﻿@{
    Layout = null;


    var gender = ViewBag.GenderCheckList as List<CheckBoxListInfo>;

    var professionSelectList = ViewBag.ProfessionSelectList as IList<SelectListItem>;

    var BranchSelectList = ViewBag.BranchesSelectList as IList<SelectListItem>;

    var RelationshipManagerSelectList = ViewBag.RelationshipManagerSelectList as IList<SelectListItem>;

    var IncomeSelectList = ViewBag.IncomeRange as IList<SelectListItem>;

    var IDNumber = ViewBag.IDNumber;

    var MobileNumber = ViewBag.MobileNumber;

    var TitleToView = ViewBag.TitleToView;
}

@using Nikopeshe.WebApplication.Extensions
@model Nikopeshe.Entity.DataModels.Customer
@using Nikopeshe.WebApplication.Models

<script type="text/javascript">
    var titleKey = "";
    $(document).ready(function () {
        $('#ddlBranches').on("change", function () {
            $.getJSON('/customer/RMSelectList/' + $('#ddlBranches').val(), function (data) {
                var items = null;
                items += "<option value='NULL'>Select Relationship Manager</option>";
                $.each(data, function (i, state) {
                    items += "<option value='" + state.Value + "'>" + state.Text + "</option>";
                });
                $('#ParentId').html(items);
            });
        });

        $("#IDNumber").attr('required', 'required');
        $("#MobileNumber").attr('required', 'required');
        //$("#Title").val(@TitleToView);
        //$("#Title option:contains(" + @TitleToView + ")").attr('selected', 'selected');
        titleKey = $("#Title option:contains(@TitleToView)").val();
        $("#Title").val(titleKey);
    });
</script>

<form class="form-inline col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
            @Html.LabelFor(model => model.BranchId)
            @Html.DropDownListFor(model => model.BranchId, BranchSelectList, new { id = "ddlBranches" })
            @Html.ValidationMessageFor(model => model.BranchId)
        </div>

        <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
            @Html.LabelFor(model => model.RelationshipManagerId)
            @Html.DropDownListFor(model => model.RelationshipManagerId, RelationshipManagerSelectList, new { id = "ParentId" })
            @Html.ValidationMessageFor(model => model.RelationshipManagerId)
        </div>

        <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
            @Html.LabelFor(m => m.Gender)
            @Html.EnumDropDownListFor(x => x.Gender, "Gender")
        </div>

        <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
            @Html.LabelFor(m => m.Title)
            @Html.EnumDropDownListFor(x => x.Title, "Title")
        </div>
    </div>

    <div class="row">
        <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
            @Html.LabelFor(m => m.FirstName)
            @(Html.Kendo().TextBoxFor(m => m.FirstName).HtmlAttributes(new { placeholder = "First Name", @class = "k-textbox required" }))
        </div>
        <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
            @Html.LabelFor(m => m.MiddleName)
            @(Html.Kendo().TextBoxFor(m => m.MiddleName).HtmlAttributes(new { placeholder = "Middle Name" }))
        </div>
        <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
            @Html.LabelFor(m => m.LastName)
            @(Html.Kendo().TextBoxFor(m => m.LastName).HtmlAttributes(new { placeholder = "Last Name" }))
        </div>
        @if (Roles.IsUserInRole("Administrator"))
        {
            <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
                @Html.LabelFor(m => m.MobileNumber)
                @(Html.Kendo().TextBoxFor(m => m.MobileNumber).HtmlAttributes(new { placeholder = "Mobile Number" }))
            </div>


            <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
                @Html.LabelFor(m => m.IDNumber)
                @(Html.Kendo().TextBoxFor(m => m.IDNumber).HtmlAttributes(new { placeholder = "ID Number" }))
            </div>

        }

        else
        {
            <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
                @Html.HiddenFor(x => x.IDNumber)
            </div>

            <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
                @Html.HiddenFor(x => x.MobileNumber)
            </div>
        }

        <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
            @Html.LabelFor(m => m.DateofBirth)
            @(Html.Kendo().DatePickerFor(m => m.DateofBirth))
        </div>
        <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
            @Html.LabelFor(m => m.KRAPIN)
            @(Html.Kendo().TextBoxFor(m => m.KRAPIN).HtmlAttributes(new { placeholder = "KRA PIN" }))
        </div><div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
            @Html.LabelFor(m => m.EmailAddress)
            @(Html.Kendo().TextBoxFor(m => m.EmailAddress).HtmlAttributes(new { placeholder = "Email Address", type = "emailaddress" }))
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
            @Html.LabelFor(m => m.ProfessionId)
            @(Html.DropDownListFor(m => m.ProfessionId, professionSelectList))
        </div>

        <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
            @Html.LabelFor(m => m.Occupation)
            @(Html.Kendo().TextBoxFor(m => m.Occupation).HtmlAttributes(new { placeholder = "Dealing In" }))
        </div>

        <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
            @Html.LabelFor(m => m.PoBoxNumber)
            @(Html.Kendo().TextBoxFor(m => m.PoBoxNumber)
                                    .HtmlAttributes(new { placeholder = "P.O. Box Number" }))
        </div>
        <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
            @Html.LabelFor(m => m.PostalCode)
            @(Html.Kendo().TextBoxFor(m => m.PostalCode)
                                    .HtmlAttributes(new { placeholder = "Postal Code" }))
        </div>
    </div>
    <div class="row">
        @*<div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
            @Html.LabelFor(x => x.IncomeRange)
            @Html.DropDownListFor(x => x.IncomeRange, IncomeSelectList)
        </div>*@
        <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
            @Html.LabelFor(m => m.MaritalStatus)
            @Html.EnumDropDownListFor(x => x.MaritalStatus, "Marital Status", htmlAttributes: new
                                           {
                                               @class = "MaritalStatus",
                                               @name = "Marital Status",
                                               @id = "MaritalStatus",
                                           })
        </div>

        <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12 Spouse">
            @Html.LabelFor(m => m.SpouseName)
            @(Html.Kendo().TextBoxFor(m => m.SpouseName)
                                        .HtmlAttributes(new { placeholder = "Spouse Name" }))
        </div>

        <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12 Spouse">
            @Html.LabelFor(m => m.SpouseIdNumber)
            @(Html.Kendo().TextBoxFor(m => m.SpouseIdNumber)
                                                .HtmlAttributes(new { placeholder = "Spouse Id Number" }))
        </div>

        <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12 Spouse">
            @Html.LabelFor(m => m.SpouseTelephoneNumber)
            @(Html.Kendo().TextBoxFor(m => m.SpouseTelephoneNumber)
                                                .HtmlAttributes(new { placeholder = "Spouse Telephone Number" }))
        </div>
    </div>
    <div class="row">
        

        <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
            @Html.LabelFor(x => x.JoiningFee)
            @Html.CheckBoxFor(x => x.JoiningFee)
        </div>
    </div>
    <footer class="col-xs-12 form-group text-right">
        @(Html.Kendo().Button()
                .Name("Next1")
                .Content("Next")
                .HtmlAttributes(new { @class = "k-primary" })
                .Events(ev => ev.Click("onNextClick")))
    </footer>

</form>
