﻿@{
    Layout = null;

    
}

@model Nikopeshe.Entity.DataModels.Customer

<div class="form-inline">

    

    

    <footer class="col-xs-12 form-group text-right">
        @(Html.Kendo().Button()
                .Name("Previous4")
                .Content("Previous")
                .Events(ev => ev.Click("onPreviousClick")))

        @(Html.Kendo().Button()
                .Name("Next4")
                .Content("Next")
                .HtmlAttributes(new { @class = "k-primary" })
                .Events(ev => ev.Click("onNextClick")))
    </footer>
</div>
