﻿@using Nikopeshe.WebApplication.Extensions
@model Nikopeshe.WebApplication.Controllers.USSDCustomer

@{
    ViewBag.Title = "Add Customer";

    var partnersList = ViewBag.PartnersSelectList as IList<SelectListItem>;
}

<h2>Add New Customer </h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false, "Operation was unsuccessful. Please correct the errors and try again.")
    
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Add New Customer</legend>

        <div>
            @Html.LabelFor(x => x.PartnerId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.PartnerId, partnersList)
            @Html.ValidationMessageFor(model => model.PartnerId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MobileNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MobileNumber)
            @Html.ValidationMessageFor(model => model.MobileNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IDNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IDNumber)
            @Html.ValidationMessageFor(model => model.IDNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PreQualifiedAmount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PreQualifiedAmount)
            @Html.ValidationMessageFor(model => model.PreQualifiedAmount)
        </div>

        <div class="editor-field">
        <input type="submit" value="Register" class="btn btn-default" />
        </div>

    </fieldset>
}


