﻿@model Nikopeshe.Entity.DataModels.Customer
@{
    ViewBag.Title = "MEMBER REGISTRATION FORM";
}

<h1>@ViewBag.Title.</h1>

@(Html.Kendo().ProgressBar()
                  .Name("profileCompleteness")
                  .Type(ProgressBarType.Percent)
                  .ShowStatus(false)
                  .Min(0)
                  .Max(5)
                  .Value(1)
)

<link href="~/Content/custom.css" rel="stylesheet" />

@using (Html.BeginForm("Create", "Customer", FormMethod.Post, new { @class = "form-inline", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "Operation was unsuccessful. Please correct the errors and try again.")

    @(Html.Kendo().TabStrip()
                  .Name("tabstrip")
                  .Items(tabstrip =>
                  {
                      tabstrip.Add().Text("Client Type")
                          .Selected(true)
                          .Content(m => Html.Partial("_ClientType", m));
                      
                      tabstrip.Add().Text("Customer Information")
                          .Enabled(false)
                          .Content(m => Html.Partial("_CustomerInformation", m));
                      
                      tabstrip.Add().Text("Location")
                          .Enabled(false)
                          .Content(m => Html.Partial("_Location", m));
                                                 
                      tabstrip.Add().Text("Next of Kin")
                          .Enabled(false)
                          .Content(m => Html.Partial("_NextOfKin", m));
                      
                      tabstrip.Add().Text("Overview")
                          .Enabled(false)
                          .Content(m => Html.Partial("_Submit", m));
                  })
                .Events(ev =>
                {
                    ev.Select("onSelect");
                    ev.Show("onShow");
                })
    )
}

@section Scripts {
    <script>

        var progress,
            tabs,
            currentIndex = 0;

        $(document).ready(function () {
            progress = $("#profileCompleteness").data("kendoProgressBar");
            tabs = $("#tabstrip").data("kendoTabStrip");
        })

        function onSelect(e) {

            var selectedIndex = tabIndexOfElement(e.item),

            isMovingBack = selectedIndex < currentIndex;

            if (isMovingBack || isTabValidAt(currentIndex)) {
                console.log("tab passed validation")
                currentIndex = selectedIndex;
                tabs.enable(getTabAtIndex(currentIndex), true);
            }
            else {
                e.preventDefault();
            }
        }

        function onPreviousClick(e) {
            e.preventDefault();
            tabs.select(tabs.select().prev());
        }

        function onNextClick(e) {
            e.preventDefault();

            tabs.select(getTabAtIndex(currentIndex + 1));
        }

        function getTabAtIndex(index) {
            return tabs.tabGroup.children().eq(index);
        }

        function tabIndexOfElement(element) {
            return tabs.element.find(element).index();
        }

        function isTabValidAt(tabIndex) {
            var el = tabs.contentElement(tabIndex),
                val = $(el).kendoValidator().data("kendoValidator");
            return val.validate();
        }

        function onShow(e) {
            progress.value(currentIndex + 1);
        }

    </script>
}

<script type="text/javascript">
    var validationMessageTmpl = kendo.template($("#message").html());

    function error(args) {
        if (args.errors) {
            var grid = $("#tabstrip").data("kendoGrid");
            grid.one("dataBinding", function (e) {
                e.preventDefault();   // cancel grid rebind if error occurs

                for (var error in args.errors) {
                    showMessage(grid.editable.element, error, args.errors[error].errors);
                }
            });
        }
    }

    function showMessage(container, name, errors) {
        //add the validation message to the form
        container.find("[data-valmsg-for=" + name + "],[data-val-msg-for=" + name + "]")
        .replaceWith(validationMessageTmpl({ field: name, message: errors[0] }))
    }
</script>

<script type="text/jscript">
    $(document).ready(function () {
        $(".MaritalStatus").on("click", function () {
            if ($(this).val() == 2) {
                $(".Spouse").slideDown(150);
            } else {
                $(".Spouse").slideUp(150);
            }
            
        })
    })
</script>

