﻿@using Nikopeshe.WebApplication.Extensions
@model Nikopeshe.Entity.DataModels.Customer
@using Nikopeshe.WebApplication.Models

@{
    ViewBag.Title = "Customer Registration";

    var IncomeRange = ViewBag.IncomeRange as IList<SelectListItem>;
    var banksSelectList = ViewBag.BanksSelectList as IList<SelectListItem>;
    var BranchSelectList = ViewBag.BranchesSelectList as IList<SelectListItem>;

    var RelationshipManagerSelectList = ViewBag.RelationshipManagerSelectList as IList<SelectListItem>;

    var GroupSelectList = ViewBag.GroupSelectList as IList<SelectListItem>;

    var maritalStatus = ViewBag.MaritalStatusCheckList as List<CheckBoxListInfo>;

    var gender = ViewBag.GenderCheckList as List<CheckBoxListInfo>;
    
    
}
<script type="text/javascript">
    $(function () {
        $('input.uniquegender').click(function () {
            $('input.uniquegender:checked').not(this).removeAttr('checked');
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        $('input.uniquemaritalstatus').click(function () {
            $('input.uniquemaritalstatus:checked').not(this).removeAttr('checked');
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        $(".group_question").change(function () {
            if ($(this).is(":checked")) {
                $(".group_answer").show();
            } else {
                $(".group_answer").hide();
            }
        });
    });
</script>

<h1><b>Customer Registration</b></h1>

@using (Html.BeginForm())
{        
    @Html.ValidationSummary(false, "Operation was unsuccessful. Please correct the errors and try again.")
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Fill in below details.</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerType)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => model.CustomerType, "Select Customer Type")
            @Html.ValidationMessageFor(model => model.CustomerType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BranchId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.BranchId, BranchSelectList)
            @Html.ValidationMessageFor(model => model.BranchId)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.BelongsToAGroup)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.BelongsToAGroup, new { @class = "group_question" })
            @Html.ValidationMessageFor(model => model.BelongsToAGroup)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GroupId, new { @class = "group_answer" })
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.GroupId, GroupSelectList, new { @class = "group_answer" })
            @Html.ValidationMessageFor(model => model.GroupId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GroupRole, new { @class = "group_answer" })
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => model.GroupRole, "Select Group Role", new { @class = "group_answer" })
            @Html.ValidationMessageFor(model => model.GroupRole)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RelationshipManagerId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.RelationshipManagerId, RelationshipManagerSelectList)
            @Html.ValidationMessageFor(model => model.RelationshipManagerId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName, new { onkeyup = "InputToUpper(this);" })
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MiddleName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MiddleName, new {onkeyup="InputToUpper(this);"})
            @Html.ValidationMessageFor(model => model.MiddleName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName, new { onkeyup = "InputToUpper(this);" })
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MobileNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MobileNumber)
            @Html.ValidationMessageFor(model => model.MobileNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IDNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IDNumber)
            @Html.ValidationMessageFor(model => model.IDNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.KRAPIN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KRAPIN)
            @Html.ValidationMessageFor(model => model.KRAPIN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmailAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmailAddress)
            @Html.ValidationMessageFor(model => model.EmailAddress)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Occupation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Occupation)
            @Html.ValidationMessageFor(model => model.Occupation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Gender)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(x => x.Gender, "Gender")
            @Html.ValidationMessageFor(model => model.Gender)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateofBirth)
        </div>
        <div class="editor-field">
            @Html.Raw(Html.DatePicker("DateofBirth", Model.DateofBirth.ToString("dd/MM/yyyy")))
            @Html.ValidationMessageFor(model => model.DateofBirth)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MaritalStatus)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(x => x.MaritalStatus, "Marital Status")
            @Html.ValidationMessageFor(model => model.MaritalStatus)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IncomeRange)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x => x.IncomeRange, IncomeRange)
            @Html.ValidationMessageFor(model => model.IncomeRange)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SpouseName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(x => x.SpouseName)
            @Html.ValidationMessageFor(model => model.SpouseName)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.SpouseIdNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(x => x.SpouseIdNumber)
            @Html.ValidationMessageFor(model => model.SpouseIdNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SpouseTelephoneNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(x => x.SpouseTelephoneNumber)
            @Html.ValidationMessageFor(model => model.SpouseTelephoneNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NextOfKinName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(x => x.NextOfKinName)
            @Html.ValidationMessageFor(model => model.NextOfKinName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NextOfKinIDNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(x => x.NextOfKinIDNumber)
            @Html.ValidationMessageFor(model => model.NextOfKinIDNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NextOfKinTelNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(x => x.NextOfKinTelNumber)
            @Html.ValidationMessageFor(model => model.NextOfKinTelNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BankCode)
        </div>
        <div class="editor-field">
            @Html.DropDownList("BankCode", banksSelectList, new { id = "ddlBanks" })
            @Html.ValidationMessageFor(model => model.BankCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BankAccountNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(x => x.BankAccountNumber)
            @Html.ValidationMessageFor(model => model.BankAccountNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Village)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Village)
            @Html.ValidationMessageFor(model => model.Village)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Landmark)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Landmark)
            @Html.ValidationMessageFor(model => model.Landmark)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PlotNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PlotNumber)
            @Html.ValidationMessageFor(model => model.PlotNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmailAlertsEnabled)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmailAlertsEnabled)
            @Html.ValidationMessageFor(model => model.EmailAlertsEnabled)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SMSAlertsEnabled)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SMSAlertsEnabled)
            @Html.ValidationMessageFor(model => model.SMSAlertsEnabled)
        </div>

        <div class="editor-field"><input type="submit" value="Register" class="btn btn-default" /></div>
        
        @*</div>*@
    </fieldset>
}

<script>
    $(document).ready(function () {
        $("#DateofBirth").datepicker()
    });
</script>


