﻿@{
    ViewBag.Title = "Account";
}
<fieldset>
    <legend>Registration Status</legend>
        Account created successfully. 
    @Html.ActionLink("Back to List", "index", "customer")
</fieldset>


