﻿Test
@(Html.Kendo().DropDownList()
              .Name("REMId")
              .BindTo(ViewBag.RelationshipManagerSelectList)
)
Test 2
@(Html.Kendo().DropDownList()
              .Name("BranchID")
              .BindTo(ViewBag.BranchesSelectList)
)

<a href="#" class="k-button" id="update">Update Selected</a>

@(Html.Kendo().Grid<Nikopeshe.Entity.DataModels.Customer>()
    .Name("Grid")
    .Columns(columns =>
    {        
        columns.Bound(e => e.FullName).Sortable(false);
        columns.Bound(e => e.MobileNumber).Sortable(false).Width(50);
        columns.Bound(e => e.IDNumber).Sortable(false);
        columns.Bound(e => e.Branch.BranchName)
               .Filterable(filterable => filterable.UI("branchFilter"))
               .Width(200);

        columns.Bound(e => e.RelationshipManager.FullName)
               .Filterable(filterable => filterable.UI("rmFilter"))
               .Width(200);
        
        columns.Bound(e => e.IsEnabled).Sortable(false);
        columns.Bound(e => e.Id).ClientTemplate("<input type=\"checkbox\" />");
    })
    .Filterable(filterable => filterable
        .Extra(false)
        .Operators(operators => operators
            .ForString(str => str.Clear()
                .StartsWith("Starts with")
                .IsEqualTo("Is equal to")
                .IsNotEqualTo("Is not equal to")
            ))
        )
    .DataSource(dataSource => dataSource
        .Ajax()
        .Batch(true)
        .Read(read => read.Action("FilterMenuCustomization_Read", "Customer"))
        .PageSize(10)
        .Update("transfercustomers", "Customer")
        .Model(model => model.Id(p => p.MobileNumber))                
     )
)


<script type="text/javascript">
    function branchFilter(element) {
        element.kendoDropDownList({
            dataSource: {
                transport: {
                    read: "@Url.Action("FilterMenuCustomization_Branch")"
                }
            },
            optionLabel: "--Select Value--"
        });
    }

    function rmFilter(element) {
        element.kendoDropDownList({
            dataSource: {
                transport: {
                    read: "@Url.Action("FilterMenuCustomization_RMs")"
                }
            },
            optionLabel: "--Select Value--"
        });
    }
</script>

<script>
    $(document).ready(function () {
        $("#update").click(function () {
            var grid = $("#Grid").data("kendoGrid");
            var value = $("#xId").data("kendoDropDownList").value();
            var xId = $("REMId").data("kendoDropDownList").value();
            var Name2 = $("BranchID").data("kendoDropDownList").value();
            var models = [];

            //find the selected models
            grid.tbody
                .find(":checked")
                .closest("tr")
                .each(function () {
                    models.push(grid.dataItem(this));
                    Name2.pus(Name2);
                });

            //update the models value
            for (var i = 0, length = models.length; i < length; i++) {
                models[i].set("Id", value);
            }

            //submit the value to the server
            grid.dataSource.sync();
        });
    });
</script>