﻿@using ReportViewerForMvc

@{
    ViewBag.Title = "View Report";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Pilar - View Report</title>
    @*<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css">*@
    
</head>
<body>

    <div id="dialog" title="Report">
        @using (Html.BeginForm())
        {
            @*@Html.ValidationSummary(false, "Operation was unsuccessful. Please correct the errors and try again.")*@
            @Html.AntiForgeryToken()
            @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer,
    new
    {
        //scrolling = "yes",
        //Height = 10000,
        //Width = 25000,
        //Border = 10,
        //style = "width: 120%; border: 1px solid lightgray; height: 100%;overflow: scroll;",
        //src = "/ReportViewerWebForm.aspx"
    })
        }
    </div>
    <script>
    $(function () {
        $('#dialog').dialog({
            height: 1470,
            width: 1300,
            modal: false,
            resizable: true,
            top: 120,
        });
    });
    </script>
</body>

</html>