﻿@using Nikopeshe.Entity.DataModels
@using Nikopeshe.WebApplication.Controllers
@model ChartofAccount


@{
    ViewBag.Title = "Create Chart of Account";

    var chartofaccountcategory = ViewBag.AccountIdentifier as List<SelectListItem>;

    var parentHeaderList = ViewBag.ParentHeaderAccounts as List<SelectListItem>;
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#chartaccountcatergory").change(function () {
            var idModel = $(this).val();
            $.getJSON("/ChartofAccounts/LoadChartofAccountbyCategoryAndType", { id: idModel },
                    function (carData) {
                        var select = $("#parentGL");
                        select.empty();
                        select.append($('<option/>', {
                            value: 0,
                            text: "Select Parent GL"
                        }));
                        $.each(carData, function (index, itemData) {

                            select.append($('<option/>', {
                                value: itemData.Value,
                                text: itemData.Text
                            }));
                        });
                    });
        });
    });
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Chart of Account Details</legend>

        @Html.ValidationSummary(false, "Operation was unsuccessful. Please correct the errors and try again.")

        <div class="editor-label">
            @Html.LabelFor(model => model.ChartOfAccountType)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => model.ChartOfAccountType, "Select Account Type", new { id = "chartaccountcatergory" })
            @Html.ValidationMessageFor(model => model.ChartOfAccountType)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.ChartOfAccountCategory)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ChartOfAccountCategory, chartofaccountcategory, new { id = "chartaccountcatergory" })
            @Html.ValidationMessageFor(model => model.ChartOfAccountCategory)
        </div>
                
        <div class="editor-label">
            @Html.LabelFor(model => model.ParentId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ParentId, parentHeaderList, new { id = "parentGL" })
            @Html.ValidationMessageFor(model => model.ParentId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AccountCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AccountCode)
            @Html.ValidationMessageFor(model => model.AccountCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AccountName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AccountName)
            @Html.ValidationMessageFor(model => model.AccountName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsActive)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsActive)
            @Html.ValidationMessageFor(model => model.IsActive)
        </div>

        <div class="editor-field"><input type="submit" value="Create" class="btn btn-default" /></div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>





