﻿@using Nikopeshe.Entity.DataModels
@using Nikopeshe.WebApplication.Controllers
@using Microsoft.Web.Mvc

<button id="btnShowMyTab">Disbursements</button>

<div style="width: 1150px;">
    <div id="tabstrip">
        <ul>
            <li class="k-state-active">
                Pending Disbursement
            </li>
            
            <li>
                All
            </li>
        </ul>
        <div>
            <script type="text/javascript">
            $(document).ready(function () {
                $('#PendingDisbusementLoanrequest').dataTable({
                    // Ajax settings
                    "sPaginationType": "full_numbers",
                    "bProcessing": true,
                    "bServerSide": true,
                    "sAjaxSource": "@(Url.Action("GetPendingLoanRequestFilterInPage", "financemanager", new { id = 7 }))",
                    "sServerMethod": "POST",
                    // Callback settings
                    "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                        /* row manipulation */

                        var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));

                        var h = ("0" + createdDate.getHours()).slice(-2);
                        var m = ("0" + createdDate.getMinutes()).slice(-2);
                        var s = ("0" + createdDate.getSeconds()).slice(-2);

                        var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;

                        $('td:eq(0)', nRow).html(dt_Created);

                        var value = aData.LoanAmount;
                        var num = value.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
                        $('td:eq(5)', nRow).html(num);

                        var value1 = aData.InterestAmount;
                        var num1 = value1.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
                        $('td:eq(6)', nRow).html(num1);


                        //Status Approved
                        if (aData.Status == 7) {

                            $('td:eq(9)', nRow).html('<a href="/financemanager/disburseLoan/' + aData.Id + '">' +
                            "Disburse" + '</a>' + ' | ' + '<a href="/financemanager/rejectloan/' + aData.Id + '">' +
                            "Reject" + '</a>' + '</a>');
                        }

                        else if (aData.Status == 9) {
                            $('td:eq(9)', nRow).html("Approve" + ' | ' + "Reject" + '<a href="/financemanager/disburseLoan/' + aData.Id + '">' +
                            "Disburse" + '</a>');
                        }

                        else {
                            $('td:eq(9)', nRow).html("Approve" + ' | ' + "Reject");
                        }

                        return nRow;

                    },
                    // Display settings
                    "iDisplayLength": 100,
                    "bJQueryUI": true,
                    "aaSorting": [[0, "desc"]],
                    "aoColumns": [
                    { "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "8%" },
                    { "mDataProp": "CustomerAccount.Customer.FullName", "sTitle": "Customer Name", "sWidth": "10%" },
                    { "mDataProp": "CustomerAccount.Customer.IDNumber", "sTitle": "Id No", "sWidth": "3%" },
                    { "mDataProp": "PrimaryAccountNumber", "sTitle": "Mobile No", "sWidth": "7%" },
                    { "mDataProp": "LoanProduct.ProductName", "sTitle": "Product", "sWidth": "10%" },
                    { "mDataProp": "LoanAmount", "sTitle": "Amount", "sWidth": "5%", "type": "numeric-comma", targets: 3 },
                    { "mDataProp": "InterestAmount", "sTitle": "Interest", "sWidth": "5%", "type": "numeric-comma", targets: 3 },
                    { "mDataProp": "StatusDesc", "sTitle": "Status", "sWidth": "5%" },
                    { "mDataProp": "Branch.BranchName", "sTitle": "Branch", "sWidth": "3%" },
                    { "mDataProp": "Commands", "sTitle": "", "bSortable": false, "sWidth": "32%" }],
                });
            });

            </script>
            <div>
                @*<div><p><p> @Html.ActionLink("Register a Loan", "createnewloanrequest", "Loanrequest", null, new { @class = "classname" })</p></div>*@
                <table cellpadding="10" cellspacing="0" id="PendingDisbusementLoanrequest">
                    <tbody>
                        <tr>
                            <td colspan="7" class="myTable">
                                Loading data from server
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#AllLoanrequest').dataTable({
                        // Ajax settings
                        "sPaginationType": "full_numbers",
                        "bProcessing": true,
                        "bServerSide": true,
                        "sAjaxSource": "@(Url.Action("LoanTransactionsList", "financemanager"))",
                        "sServerMethod": "POST",
                        // Callback settings
                        "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                            /* row manipulation */

                            var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));

                            var h = ("0" + createdDate.getHours()).slice(-2);
                            var m = ("0" + createdDate.getMinutes()).slice(-2);
                            var s = ("0" + createdDate.getSeconds()).slice(-2);

                            var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;

                            $('td:eq(0)', nRow).html(dt_Created);

                            var value = aData.LoanAmount;
                            var num = value.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
                            $('td:eq(5)', nRow).html(num);

                            var value1 = aData.InterestAmount;
                            var num1 = value1.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
                            $('td:eq(6)', nRow).html(num1);


                            //Status Approved
                            if (aData.Status == 7) {

                                $('td:eq(9)', nRow).html('<a href="/financemanager/disburseLoan/' + aData.Id + '">' +
                                "Disburse" + '</a>' + ' | ' + '<a href="/financemanager/rejectloan/' + aData.Id + '">' +
                                "Reject" + '</a>' + '</a>');
                            }

                            else if (aData.Status == 9) {
                                $('td:eq(9)', nRow).html("Approve" + ' | ' + "Reject" + ' | ' + '<a href="/financemanager/reverseloan/' + aData.Id + '">' +
                                "Reverse" + '</a>');
                            }

                            else {
                                $('td:eq(9)', nRow).html("Approve" + ' | ' + "Reject");
                            }

                            return nRow;

                        },
                        // Display settings
                        "iDisplayLength": 100,
                        "bJQueryUI": true,
                        "aaSorting": [[0, "desc"]],
                        "aoColumns": [
                        { "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "8%" },
                        { "mDataProp": "CustomerAccount.Customer.FullName", "sTitle": "Customer Name", "sWidth": "10%" },
                        { "mDataProp": "CustomerAccount.Customer.IDNumber", "sTitle": "Id No", "sWidth": "3%" },
                        { "mDataProp": "PrimaryAccountNumber", "sTitle": "Mobile No", "sWidth": "7%" },
                        { "mDataProp": "LoanProduct.ProductName", "sTitle": "Product", "sWidth": "10%" },
                        { "mDataProp": "LoanAmount", "sTitle": "Amount", "sWidth": "5%", "type": "numeric-comma", targets: 3 },
                        { "mDataProp": "InterestAmount", "sTitle": "Interest", "sWidth": "5%", "type": "numeric-comma", targets: 3 },
                        { "mDataProp": "StatusDesc", "sTitle": "Status", "sWidth": "5%" },
                        { "mDataProp": "Branch.BranchName", "sTitle": "Branch", "sWidth": "3%" },
                        { "mDataProp": "Commands", "sTitle": "", "bSortable": false, "sWidth": "32%" }],
                    });
                });

            </script>
            <div>
                @*<div><p><p> @Html.ActionLink("Register a Loan", "createnewloanrequest", "Loanrequest", null, new { @class = "classname" })</p></div>*@
                <table cellpadding="10" cellspacing="0" id="AllLoanrequest">
                    <tbody>
                        <tr>
                            <td colspan="7" class="myTable">
                                Loading data from server
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $("#btnShowMyTab").click(function (e) {
        var tabstrip = $("#tabstrip").data("kendoTabStrip");
        var myTab = tabstrip.tabGroup.children("li").eq(2);
        tabstrip.select(myTab);
    });

    $("#tabstrip").kendoTabStrip();

</script>