﻿@model Nikopeshe.Entity.DataModels.Reconciliation
@using Nikopeshe.WebApplication.Models
@using Nikopeshe.WebApplication.Extensions
@{
    ViewBag.Title = "Upload File";

    var uploadFileCategory = ViewBag.FileUploadCategory as List<CheckBoxListInfo>;
}
<h2>
    Upload File
</h2>

@using (Html.BeginForm("UploadFile", "FinanceManager", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(false, "Operation was unsuccessful. Please correct the errors and try again.")
    <fieldset>
        <legend>Upload File</legend>
        <div class="editor-label">
            <label for="ExcelFileBlob">                
                <br />
                <span style="font-size: smaller;">
                    Note: The file must be in the correct format for successful upload.
                    @*@(Html.ActionLink<MakerController>(x => x.BankAndBranchCodes(), "Use this file to lookup Banks & Branch Codes")).*@
                </span>
            </label>
        </div>
        <div class="editor-label">
            <label for="ExcelFileBlob">
                Excel Workbook
                <br />
                <span style="font-size: smaller;">
                    Note: The Excel workbook is custom formatted. Ensure
                    all required fields have relevant data otherwise they will be skipped automatically.
                    @*@(Html.ActionLink<MakerController>(x => x.SampleWorkBook(), "Download Sample Excel WorkBook")).*@
                </span>
            </label>
        </div>
        <div class="editor-field">
            <input type="file" id="excelFileBlob" name="excelFileBlob" />
            @Html.ValidationMessage("excelFileBlob")
        </div>
               
        <div class="editor-label">
            @Html.Label("Remarks")
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Remarks)
            @Html.ValidationMessageFor(model => model.Remarks)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FileType)
        </div>
        <div class="editor-field">
            @Html.Raw(Html.CheckBoxList("FileType", uploadFileCategory, new { @class = "unique" }))
        </div>
        <p>
            <input type="submit" value="Upload" />
        </p>
    </fieldset> 
}
<script type="text/javascript">
    $(function () {
        $('input.unique').click(function () {
            $('input.unique:checked').not(this).removeAttr('checked');
        });
    });
</script>