﻿@model Nikopeshe.WebApplication.Models.LoanRequestViewModel
<div class="form-horizontal">

    @for (int i = 0; i < 2; i++)
    {
        <div class="row">
            <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12" id="gRPNo">

                <b>@Html.LabelFor(model => model.Collaterals[i].Description)</b>
                @Html.TextBoxFor(model => model.Collaterals[i].Description, new { @id = "description", @placeholder = "Description" })
                @Html.ValidationMessageFor(model => model.Collaterals[i].Description)

            </div>

            <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12" id="rManager">

                <b>@Html.LabelFor(model => model.Collaterals[i].Amount)</b>
                @Html.TextBoxFor(model => model.Collaterals[i].Amount, new { @id = "amount", @placeholder = "Amount" })
                @Html.ValidationMessageFor(model => model.Collaterals[i].Amount)

            </div>

        </div>

    }
    <footer class="col-xs-12 form-group text-right">

        @(Html.Kendo().Button()
                .Name("Previous2")
                .Content("Previous")
                .Events(ev => ev.Click("onPreviousClick")))

        @(Html.Kendo().Button()
                .Name("Next3")
                .Content("Next")
                .HtmlAttributes(new { @class = "k-primary" })
                .Events(ev => ev.Click("onNextClick")))
    </footer>
</div>

