﻿@model Nikopeshe.WebApplication.Models.LoanRequestViewModel
<div class="form-horizontal">

@for (int i = 0; i < 2; i++){
    <div class="row">
        <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12" id="gRPNo">

            <b>@Html.LabelFor(model => model.Guarantors[i].FirstName)</b>
            @Html.TextBoxFor(model => model.Guarantors[i].FirstName, new { @id = "fName", @placeholder = "First Name" })
            @Html.ValidationMessageFor(model => model.Guarantors[i].FirstName)

        </div>

        <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12" id="rManager">

            <b>@Html.LabelFor(model => model.Guarantors[i].LastName)</b>
            @Html.TextBoxFor(model => model.Guarantors[i].LastName, new { @id = "lName", @placeholder = "Last Name" })
            @Html.ValidationMessageFor(model => model.Guarantors[i].LastName)

        </div>

        <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">

            <b>@Html.LabelFor(model => model.Guarantors[i].IDNumber)</b>
            @Html.TextBoxFor(model => model.Guarantors[i].IDNumber, new { @id = "idNo", @placeholder = "ID Number" })
            @Html.ValidationMessageFor(model => model.Guarantors[i].IDNumber)

        </div>

        <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">

            <b>@Html.LabelFor(model => model.Guarantors[i].PhoneNumber)</b>
            @Html.TextBoxFor(model => model.Guarantors[i].PhoneNumber, new { @id = "phoneNumber", @placeholder = "Phone Number" })
            @Html.ValidationMessageFor(model => model.Guarantors[i].PhoneNumber)

        </div>
    </div>

    <div class="row">
        <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">

            <b>@Html.LabelFor(model => model.Guarantors[i].Address)</b>
            @Html.TextBoxFor(model => model.Guarantors[i].Address, new { @id = "address", @placeholder = "Address" })
            @Html.ValidationMessageFor(model => model.Guarantors[i].Address)

        </div>
        <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">

            <b>@Html.LabelFor(model => model.Guarantors[i].Relationship)</b>
            @Html.TextBoxFor(model => model.Guarantors[i].Relationship, new { @id = "relationship", @placeholder = "Relationship" })
            @Html.ValidationMessageFor(model => model.Guarantors[i].Relationship)

        </div>
        <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">

            <b>@Html.LabelFor(model => model.Guarantors[i].Amount)</b>
            @Html.TextBoxFor(model => model.Guarantors[i].Amount, new { @id = "amount", @placeholder = "Amount" })
            @Html.ValidationMessageFor(model => model.Guarantors[i].Amount)

        </div>

    </div>
}
    <footer class="col-xs-12 form-group text-right">

        @(Html.Kendo().Button()
                .Name("Previous1")
                .Content("Previous")
                .Events(ev => ev.Click("onPreviousClick")))

        @(Html.Kendo().Button()
                .Name("Next2")
                .Content("Next")
                .HtmlAttributes(new { @class = "k-primary" })
                .Events(ev => ev.Click("onNextClick")))
    </footer>
</div>
