﻿@model Nikopeshe.WebApplication.Models.LoanRequestViewModel
@using Nikopeshe.WebApplication.Extensions
@using Nikopeshe.Data.Mappings
@using Nikopeshe.WebApplication.Models

@{
    ViewBag.Title = "New Loan Request";

    var loanproductlist = ViewBag.LoanProductsList as List<SelectListItem>;

    var customerselectlist = ViewBag.CustomersList as List<SelectListItem>;

    var RMSelectList = ViewBag.RelationshipManagersSelectList as List<SelectListItem>;

    var eftselectlist = ViewBag.EFTTypes as List<CheckBoxListInfo>;

    var username = ViewBag.Username as string;
}

<script>
    $(form).submit(function () {
        $('#CustomerId').removeAttr('disabled');
        $('#PrimaryAccountNumber').removeAttr('disabled');
    })
</script>

<script>
    $(form).submit(function () {
        $('#HiddenField').val($('#CustomerId').val());
        $('#HiddenField').val($('#PrimaryAccountNumber').val());
    });
</script>
<div class="form-inline">
    <div class="row">
        <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12" id="gRPNo">
            
                <b>@Html.LabelFor(model => model.CustomerId)</b>
                @Html.DropDownListFor(model => model.CustomerId, customerselectlist, new { @disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.CustomerId)
            
        </div>

        <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12" id="rManager">
            
                <b>@Html.LabelFor(model => model.RelationshipManagerId)</b>
                @Html.DropDownListFor(model => model.RelationshipManagerId, RMSelectList)
                @Html.ValidationMessageFor(model => model.RelationshipManagerId)
            
        </div>

        <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
            
                <b>@Html.LabelFor(model => model.LoanProductId)</b>
                @Html.DropDownListFor(model => model.LoanProductId, loanproductlist)
                @Html.ValidationMessageFor(model => model.LoanProductId)
            
        </div>

        <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
            
                <b>@Html.LabelFor(model => model.LoanAmount)</b>
                @Html.TextBoxFor(model => model.LoanAmount, new { @id = "example2", @placeholder = "Loan Amount" })
                @Html.ValidationMessageFor(model => model.LoanAmount)
            
        </div>
    </div>

    <div class="row">
        <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12" id="gRPNo">
            
                @Html.LabelFor(model => model.Type)
                @Html.Raw(Html.CheckBoxList("Type", eftselectlist, new { @class = "unique" }))
                @Html.ValidationMessageFor(model => model.Type)
            
        </div>

        <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12" id="rManager">

                @Html.LabelFor(model => model.PrimaryAccountNumber)
                @Html.TextBoxFor(model => Model.PrimaryAccountNumber, new { @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.PrimaryAccountNumber)
            
        </div>

    </div>
    <footer class="col-xs-12 form-group text-right">
        @(Html.Kendo().Button()
                .Name("Next1")
                .Content("Next")
                .HtmlAttributes(new { @class = "k-primary" })
                .Events(ev => ev.Click("onNextClick")))
    </footer>
</div>


