﻿@model Nikopeshe.WebApplication.Models.LoanRequestViewModel
<h2>Confirmation</h2>
<p>
    Confirm the loan request details by clicking on the tabs, if happy click submit to save.
</p>
<footer class="col-xs-12 form-group text-right">
    @(Html.Kendo().Button()
                .Name("Previous3")
                .Content("Previous")
                .Events(ev => ev.Click("onPreviousClick")))
    @(Html.Kendo().Button()
                .Name("submit")
                .Content("Submit")
                .HtmlAttributes(new { @class = "k-primary" }))
</footer>
