﻿@using Nikopeshe.Entity.DataModels
@using Nikopeshe.WebApplication.Controllers
@using Microsoft.Web.Mvc
@{
    ViewBag.Title = "Loan Schedules";

    string header = ViewBag.Header as string;

    string FullNames = ViewBag.FullNames as string;

    var id = ViewBag.Id;

}

<h2>
    @Html.Raw(header)
</h2>
<script src="@Url.Content("~/scripts/datatables/jquery.datatables.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#Loanschedule').dataTable({
            // Ajax settings
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "@(Url.Action("GetCustomerLoanSchedule", "Loanrequest", new { id = id }))",
            "sServerMethod": "POST",
            // Callback settings
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                /* row manipulation */
               
                var createdDate = new Date(parseInt(aData.NextPaymentDate.replace("/Date(", "").replace(")/", ""), 10));

                var h = ("0" + createdDate.getHours()).slice(-2);
                var m = ("0" + createdDate.getMinutes()).slice(-2);
                var s = ("0" + createdDate.getSeconds()).slice(-2);

                var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;

                $('td:eq(0)', nRow).html(dt_Created);

                var value = aData.PrincipleAmount;
                var num = value.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");

                $('td:eq(1)', nRow).html(num);

                var value2 = aData.InterestAmount;
                var num2 = value2.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");

                $('td:eq(2)', nRow).html(num2);

                var value3 = aData.TotalAmount;
                var num3 = value3.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");

                $('td:eq(3)', nRow).html(num3);

                var value4 = aData.OutstandingLoanBalance;
                var num4 = value4.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");

                $('td:eq(4)', nRow).html(num4);

                return nRow;

            },
            // Display settings
            "iDisplayLength": 10,
            "bJQueryUI": true,
            "aaSorting": [[0, "desc"]],
            "aoColumns": [
            { "mDataProp": "NextPaymentDate", "sTitle": "Next Payment Date" },
            { "mDataProp": "PrincipleAmount", "sTitle": "Principle Amount" },
            { "mDataProp": "InterestAmount", "sTitle": "Interest Amount", "sWidth": "12%" },
            { "mDataProp": "TotalAmount", "sTitle": "Total Amount" },
            { "mDataProp": "OutstandingLoanBalance", "sTitle": "Outstanding Loan Balance" }],
        });
    });

</script>
<div>
    <fieldset>
        <legend>Loan Schedule for @FullNames</legend>
        <table cellpadding="0" cellspacing="1" id="Loanschedule">
            <tbody>
                <tr>
                    <td colspan="7" class="dataTables_empty">
                        Loading data from server
                    </td>
                </tr>
            </tbody>
        </table>
        <div></div>
    </fieldset>
</div>

