﻿@using Nikopeshe.Entity.DataModels
@using Nikopeshe.WebApplication.Controllers
@using Microsoft.Web.Mvc
@using System.Globalization
@using Nikopeshe.WebApplication.Extensions
@{
    ViewBag.Title = "Loan Requests";

    string header = ViewBag.Header as string;
}

<h2>
    @Html.Raw(header)
</h2>

<script type="text/javascript">
    $(document).ready(function () {
        $('#Loanrequest').dataTable({
            //drop down settings

            // Ajax settings
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "@(Url.Action("LoanTransactionsList", "Loanrequest"))",
            "sServerMethod": "POST",
            // Callback settings
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                /* row manipulation */

                var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));

                var h = ("0" + createdDate.getHours()).slice(-2);
                var m = ("0" + createdDate.getMinutes()).slice(-2);
                var s = ("0" + createdDate.getSeconds()).slice(-2);

                var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;

                $('td:eq(0)', nRow).html(dt_Created);

                var value = aData.LoanAmount;
                var num = value.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");

                $('td:eq(6)', nRow).html(num);

                var value2 = aData.InterestAmount;
                var num2 = value2.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");

                $('td:eq(7)', nRow).html(num2);


                if (aData.Status == 0) {

                    $('td:eq(10)', nRow).html('<a href="/Loanrequest/loanrequestdetails/' + aData.Id + '">' +
                    "View" + '<a href="/Loanrequest/EditLoanRequest/' + aData.Id + '">' +
                    "Edit" + '</a>' + '</a>' + ' | ' + '<a href="/Loanrequest/approveloan/' + aData.Id + '">' +
                    "Approve" + '</a>' + ' | ' + '<a href="/Loanrequest/rejectloan/' + aData.Id + '">' +
                    "Reject" + '</a>' + ' | ' +
                    " Disburse" + '</a>'); //+ ' | ' + '<a href="/DocumentManagement/LoanRequestDocuments/' + aData.Id + '">' + "Documents" + '</a>');

                }

                else if (aData.Status == 7) {
                    $('td:eq(10)', nRow).html('<a href="/Loanrequest/loanrequestdetails/' + aData.Id + '">' +
                    "View" + '</a>' + ' | ' +
                    "Approve" + ' | ' + "Reject" + '</a>' + ' | ' + '<a href="/Loanrequest/disburseloan/' + aData.Id + '">' +
                    "Disburse" + '</a>'); //+ ' | ' + '<a href="/DocumentManagement/LoanRequestDocuments/' + aData.Id + '">' + "Documents" + '</a>');
                }
                else if (aData.Status == 3) {
                    $('td:eq(10)', nRow).html('<a href="/Loanrequest/loanrequestdetails/' + aData.Id + '">' +
                    "View" + '</a>' + ' | ' +
                    "Approve" + ' | ' + "Reject" + ' | ' + "Disburse" + '</a>'); //+ ' | ' + '<a href="/DocumentManagement/LoanRequestDocuments/' + aData.Id + '">' + "Documents" + '</a>');
                }
                else if (aData.Status == 2) {
                    $('td:eq(10)', nRow).html('<a href="/Loanrequest/loanrequestdetails/' + aData.Id + '">' +
                    "View" + '</a>' + ' | ' +
                    "Approve" + ' | ' + "Reject" + ' | ' + "Disburse" + '</a>'); //+ ' | ' + '<a href="/DocumentManagement/LoanRequestDocuments/' + aData.Id + '">' + "Documents" + '</a>');
                }

                else

                    $('td:eq(10)', nRow).html('<a href="/Loanrequest/loanrequestdetails/' + aData.Id + '">' +
                    "View" + '</a>' + ' | ' +
                    "Approve" + ' | ' + "Reject" + ' | ' + "Disburse" + '</a>'); //+ ' | ' + '<a href="/DocumentManagement/LoanRequestDocuments/' + aData.Id + '">' + "Documents" + '</a>');

                return nRow;

            },
            // Display settings
            "iDisplayLength": 10,
            "bJQueryUI": true,
            "aaSorting": [[0, "desc"]],
            "aoColumns": [
            { "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "8%" },
            { "mDataProp": "CustomerAccount.Customer.FullName", "sTitle": "Customer Name", "sWidth": "10%" },
            { "mDataProp": "CustomerAccount.Customer.IDNumber", "sTitle": "Id No", "sWidth": "5%" },
            { "mDataProp": "CustomerAccount.Customer.MobileNumber", "sTitle": "Mobile No", "sWidth": "7%" },
            { "mDataProp": "LoanProduct.ProductName", "sTitle": "Product", "sWidth": "10%" },
            { "mDataProp": "LoanReferenceNumber", "sTitle": "Ref No.", "sWidth": "7%" },
            { "mDataProp": "LoanAmount", "sTitle": "Amount", "sWidth": "5%", "type": "numeric-comma", targets: 3 },
            { "mDataProp": "InterestAmount", "sTitle": "Interest", "sWidth": "5%", "type": "numeric-comma", targets: 3 },
            { "mDataProp": "StatusDesc", "sTitle": "Status", "sWidth": "5%" },
            { "mDataProp": "Branch.BranchName", "sTitle": "Branch", "sWidth": "5%" },
            { "mDataProp": "Commands", "sTitle": "", "bSortable": false, "sWidth": "32%" }],
        });

    });
</script>

<div>
    <fieldset>
        <legend>Loan Requests</legend>
        @*<div><p><p> @Html.ActionLink("Register a Loan", "createnewloanrequest", "Loanrequest", null, new { @class = "classname" })</p></div>*@
        <table cellpadding="0" cellspacing="1" id="Loanrequest">
            <tbody>
                <tr>
                    <td colspan="10" class="dataTables_empty">
                        Loading data from server
                    </td>
                </tr>
            </tbody>
        </table>
        <div></div>
    </fieldset>
</div>

<style>
    a.classname {
        background-color: #d3dce0;
        border: 1px solid #787878;
        text-decoration: none;
        cursor: pointer;
        font-size: 1.1em;
        border-radius: 3px;
        font-weight: 600;
        padding: 7px;
        margin-right: 8px;
        width: auto;
    }

        a.classname:hover {
            background-color: #E2E4FF;
        }
</style>