﻿@model Nikopeshe.Entity.DataModels.LoanRequest

@{
    string x = ViewBag.Result;
}

<div>
    <fieldset>
        <legend>Loan Request Details</legend>                            
        <div class="display-label">
            <b>@Html.LabelFor(model => model.LoanProductId)</b>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.LoanProduct.ProductName)
        </div>
               
        <div class="display-label">
            @Html.LabelFor(model => model.LoanReferenceNumber)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.LoanReferenceNumber)
        </div>
        
        <div class="display-label">
            <b>@Html.LabelFor(model => model.LoanAmount)</b>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.LoanAmount)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.InterestAmount)
        </div>
        <div class="display-field">
            @x
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.LoanProduct.Term)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.LoanProduct.Term)
        </div>        

        @if (Roles.IsUserInRole("Administrator"))
        {
            <div class="display-label">
                <b>@Html.LabelFor(model => model.CustomerAccount.Customer.FullName)</b>
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.CustomerAccount.Customer.FullName)
            </div>

            <div class="display-label">
                <b>@Html.LabelFor(model => model.SPSStatus)</b>
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.SPSStatusDesc)
            </div>
            <div class="display-label">
                <b>@Html.LabelFor(model => model.B2MResponseDesc)</b>
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.B2MResponseDesc)
            </div>

            <div class="display-label">
                <b>@Html.LabelFor(model => model.B2MResultDesc)</b>
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.B2MResultDesc)
            </div>

            <div class="display-label">
                <b>@Html.LabelFor(model => model.ApprovedDate)</b>
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.ApprovedDate)
            </div>

            <div class="display-label">
                <b>@Html.LabelFor(model => model.DisbursementDate)</b>
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.DisbursementDate)
            </div>
        }
        <div class="display-label">
            @Html.LabelFor(model => model.LoanStartDate)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.LoanStartDate)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.LoanEndDate)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.LoanEndDate)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.Status)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.StatusDesc)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.Remarks)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Remarks)
        </div>
      
        <div class="display-label">
            @Html.LabelFor(model => model.CreatedDate)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.CreatedDate)
        </div>

    </fieldset>
</div>
<p>
    @if(Roles.IsUserInRole("Customer"))
    {
        @Html.ActionLink("Back to List", "loanrequestlist", "customer")
    }
    
    else if(Roles.IsUserInRole("Administrator"))
    {
        @Html.ActionLink("Back to List", "allloanrequest")
    }

    else if (Roles.IsUserInRole("LoanOfficer"))
    {
        @Html.ActionLink("Back to List", "loanrequestlist")
    }

    else if (Roles.IsUserInRole("LoanManager"))
    {
        @Html.ActionLink("Back to List", "Index", "LoanManager")
    }
    
</p>
