﻿
@using Nikopeshe.Entity.DataModels
@using Nikopeshe.WebApplication.Controllers
@using Microsoft.Web.Mvc
@using System.Globalization
@using Nikopeshe.WebApplication.Extensions
@{
    ViewBag.Title = "Loan Requests";

    string header = ViewBag.Header as string;

}

<h2>
    @Html.Raw(header)
</h2>

<script type="text/javascript">
    $(document).ready(function () {
        $('#LoanDibsursementsGrid').dataTable({
            // Ajax settings
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "@(Url.Action("GetLoanDisbursementFilterInPage", "Loanrequest"))",
            "sServerMethod": "POST",
            // Callback settings
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                /* row manipulation */

                var createdDate = new Date(parseInt(aData.DisbursementDate.replace("/Date(", "").replace(")/", ""), 10));

                var h = ("0" + createdDate.getHours()).slice(-2);
                var m = ("0" + createdDate.getMinutes()).slice(-2);
                var s = ("0" + createdDate.getSeconds()).slice(-2);

                var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;

                $('td:eq(0)', nRow).html(dt_Created);

                var value = aData.LoanAmount;
                var num = value.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");

                $('td:eq(5)', nRow).html(num);

                return nRow;

            },
            // Display settings
            "iDisplayLength": 10,
            "bJQueryUI": true,
            "aaSorting": [[0, "desc"]],
            "aoColumns": [
            { "mDataProp": "DisbursementDate", "sTitle": "Disbursement Date" },
            { "mDataProp": "CustomerAccount.Customer.FullName", "sTitle": "Customer Name" },
            { "mDataProp": "CustomerAccount.Customer.MobileNumber", "sTitle": "Mobile No." },
            { "mDataProp": "SPSStatusDesc", "sTitle": "Disbursement Status" },
            { "mDataProp": "StatusDesc", "sTitle": "Loan Status" },            
            { "mDataProp": "LoanAmount", "sTitle": "LoanAmount" },
            { "mDataProp": "LoanReferenceNumber", "sTitle": "Reference" },
            { "mDataProp": "B2MResponseDesc", "sTitle": "M-Pesa Response" },
            { "mDataProp": "B2MResultDesc", "sTitle": "M-Pesa Result" },
            { "mDataProp": "B2MTransactionID", "sTitle": "M-Pesa Receipt No." }],
        });
    });

</script>
<div>
    <fieldset>
        <legend>Loan Disbursements</legend>
        <table cellpadding="10" cellspacing="0" id="LoanDibsursementsGrid">
            <tbody>
                <tr>
                    <td colspan="0" class="myTable">
                        Loading data from server
                    </td>
                </tr>
            </tbody>
        </table>
        <div></div>
    </fieldset>
</div>

