﻿@using Nikopeshe.Entity.DataModels
@using Nikopeshe.WebApplication.Controllers
@using Microsoft.Web.Mvc
@{
    ViewBag.Title = "Loan Schedules";

    string header = ViewBag.Header as string;

    string FullNames = ViewBag.FullNames as string;

    var id = ViewBag.Id;

}

<h2>
    @Html.Raw(header)
</h2>
<script src="@Url.Content("~/scripts/datatables/jquery.datatables.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#Loanschedule').dataTable({                                   
            // Ajax settings
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "@(Url.Action("GetLoanSchedule", "Loanrequest", new { id = id}))",
            "sServerMethod": "POST",
            // Callback settings
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                /* row manipulation */
               
                var createdDate = new Date(parseInt(aData.NextPaymentDate.replace("/Date(", "").replace(")/", ""), 10));

                var h = ("0" + createdDate.getHours()).slice(-2);
                var m = ("0" + createdDate.getMinutes()).slice(-2);
                var s = ("0" + createdDate.getSeconds()).slice(-2);

                var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;

                $('td:eq(0)', nRow).html(dt_Created);

                return nRow;

            },
            // Display settings
            "iDisplayLength": 10,
            "bJQueryUI": true,
            "aaSorting": [[0, "asc"]],
            "aoColumns": [
            { "mDataProp": "NextPaymentDate", "sTitle": "Next Payment Date" },
            { "mDataProp": "PrincipleAmount", "sTitle": "Principle Amount" },
            { "mDataProp": "InterestAmount", "sTitle": "Interest Amount", "sWidth": "12%" },
            { "mDataProp": "TotalAmount", "sTitle": "Total Amount" },
            { "mDataProp": "OutstandingLoanBalance", "sTitle": "Outstanding Loan Balance" }],
        });
    });

</script>
<div>
    <fieldset>
        <legend>Loan Schedule for @FullNames</legend>
        <table cellpadding="0" cellspacing="1" id="Loanschedule">
            <tbody>
                <tr>
                    <td colspan="7" class="dataTables_empty">
                        Loading data from server
                    </td>
                </tr>
            </tbody>
        </table>
        <div></div>
        @*<button type="button" class="export-excel">Export Excel</button>*@
    </fieldset>
</div>

