﻿@model Nikopeshe.Entity.DataModels.LoanRequest
@using Nikopeshe.WebApplication.Extensions
@using Nikopeshe.WebApplication.Models
@using Nikopeshe.Data.Mappings

@{
    ViewBag.Title = "New Loan Request";       

    var loanproductlist = ViewBag.LoanProductsList as List<SelectListItem>;
    
    var banksSelectList = ViewBag.BanksSelectList as List<SelectListItem>;

    //var branchesSelectList = ViewBag.BranchesSelectList as List<SelectListItem>;

    var eftselectlist = ViewBag.EFTTypes as List<CheckBoxListInfo>;

    var username = ViewBag.Username as string;    
}
<script type="text/javascript" src="~/scripts/jquery-2.2.0.js"></script>
<script type="text/javascript" src="~/scripts/jquery.price_format.2.0.js"></script>
<script type="text/javascript" src="~/scripts/jquery.price_format.2.0.min.js"></script>
<script type="text/javascript" src="~/scripts/jquery.numberformatter-1.2.4.js"></script>
@*<script>
    $('#example2').priceFormat({
        prefix: 'R$ ',
        centsSeparator: ',',
        thousandsSeparator: '.'
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#ddlBanks").change(function () {
            var idModel = $(this).val();
            $.getJSON("/LoanRequest/LoadBranchesByBank", { id: idModel },
                    function (carData) {
                        var select = $("#ddlBranches");
                        select.empty();
                        select.append($('<option/>', {
                            value: 0,
                            text: "Choose Branch"
                        }));
                        $.each(carData, function (index, itemData) {

                            select.append($('<option/>', {
                                value: itemData.Value,
                                text: itemData.Text
                            }));
                        });
                    });
        });
    });
</script>*@

<script type="text/javascript">
    $(function () {
        $('input.unique').click(function () {
            $('#PrimaryAccountNumber').attr('value', '');
            $('#ddlBanks').attr('value', '0');
            $('#ddlBranches').attr('value', '0');
            $('input.unique:checked').not(this).removeAttr('checked');            
        });
    });
</script>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
              
        <fieldset>
            <legend>New Loan Request</legend>
            @Html.ValidationSummary(false, "Operation was unsuccessful. Please correct the errors and try again.")       

            <div class="editor-label">
                <b>@Html.LabelFor(model => model.LoanProductId)</b>
            </div>
            <div class="editor-field">
               @Html.DropDownListFor(model => model.LoanProductId, loanproductlist)
               @Html.ValidationMessageFor(model => model.LoanProductId)
            </div>

            <div class="editor-label">
                <b>@Html.LabelFor(model => model.NegotiatedInstallments)</b>
            </div>
            <div class="editor-field">
                @Html.Editor("NegotiatedInstallments", Model.NegotiatedInstallments.ToString())
                @Html.ValidationMessageFor(model => model.NegotiatedInstallments)
            </div>

            <div class="editor-label">
                <b>@Html.LabelFor(model => model.LoanAmount)</b>
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.LoanAmount, new { @id = "example2", @placeholder = "Loan Amount" })                
                @Html.ValidationMessageFor(model => model.LoanAmount)
            </div>
                
            <div class="editor-label">
                @Html.LabelFor(model => model.Type)
            </div>
            <div class="editor-field">
                @Html.Raw(Html.CheckBoxList("Type", eftselectlist, new { @class = "unique" }))
                @Html.ValidationMessageFor(model => model.Type)
            </div>            

            <div class="editor-label">
                @Html.LabelFor(model => model.PrimaryAccountNumber)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.PrimaryAccountNumber)
                @Html.ValidationMessageFor(model => model.PrimaryAccountNumber)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.ApplicantBankCode)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.ApplicantBankCode, banksSelectList, new { id = "ddlBanks" })
                @Html.ValidationMessageFor(model => model.ApplicantBankCode)
            </div>

            @*<div class="editor-label">
                @Html.LabelFor(model => model.ApplicantBranchCode)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.ApplicantBranchCode, branchesSelectList, new { id = "ddlBranches" })
                @Html.ValidationMessageFor(model => model.ApplicantBranchCode)
            </div>*@

            <div class="editor-field">
                @Html.CheckBoxFor(m => m.AcceptTermsAndConditions)
                @Html.ValidationMessageFor(m => m.AcceptTermsAndConditions)
                I have read and fully understood the @(Html.ActionLink("terms and conditions", "TermsAndConditions", "LoanRequest"))
                governing Loans offered by @DefaultSettings.Instance.ApplicationDisplayName
                and I hereby accept them and will abide by them.
            </div>
                            
            <div class="editor-field"><input type="submit" value="Borrow" class="btn btn-default" /></div>
</fieldset>        
}

<div>
    @Html.ActionLink("Back to List", "loanrequestlist", "Customer")
</div>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<script>
    $(function () {
        $("#datepicker").datepicker();
    });
</script>
