﻿@model Nikopeshe.Entity.DataModels.Branch         
@using Nikopeshe.WebApplication.Extensions
@using Nikopeshe.WebApplication.Models
@{
    ViewBag.Title = "Create Branch";

    var accountselectlist = ViewBag.GLAccountSelectList as List<SelectListItem>;  
    
    var branchType = ViewBag.BranchType as List<CheckBoxListInfo>;
}

<script type="text/javascript">
    $(function () {
        $('input.unique').click(function () {
            $('#Type').attr('value', '');            
            $('input.unique:checked').not(this).removeAttr('checked');
        });
    });
</script>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "Operation was unsuccessful. Please correct the errors and try again.")
    <fieldset>
        <legend>New Branch Details</legend>
        <div class="form-group">
            <div class="editor-label">
                @Html.LabelFor(model => model.BranchName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.BranchName)
                @Html.ValidationMessageFor(model => model.BranchName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.BranchCode)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.BranchCode)
                @Html.ValidationMessageFor(model => model.BranchCode)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Type)
            </div>
            <div class="editor-field">
                @Html.Raw(Html.CheckBoxList("Type", branchType, new { @class = "unique" }))
                @Html.ValidationMessageFor(model => model.Type)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.C2BNumber)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.C2BNumber)
                @Html.ValidationMessageFor(model => model.C2BNumber)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Location)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Location)
                @Html.ValidationMessageFor(model => model.Location)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.IsEnabled)
            </div>
            <div class="editor-field">
                @Html.CheckBoxFor(model => model.IsEnabled)
                @Html.ValidationMessageFor(model => model.IsEnabled)
            </div>

            <div class="editor-field"><input type="submit" value="Save" class="btn btn-default" /></div>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
