﻿@using Nikopeshe.Entity.DataModels
@using Nikopeshe.WebApplication.Controllers
@using Microsoft.Web.Mvc

@{
    ViewBag.Title = "Loan Transction History";

    var header = ViewBag.Header as string;

    var id = ViewBag.Id;
}

<h2>
    @Html.Raw(header)
</h2>

<script type="text/javascript">
    $(document).ready(function () {

        $('#customerloantransactionhistorygrid').dataTable({
            // Ajax settings
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "@(Url.Action("getcustomerloantransactionhistory", "LoanTransactionHistory", new { id = id }))",
            "sServerMethod": "POST",
            // Callback settings
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                /* row manipulation */
                var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));

                var h = ("0" + createdDate.getHours()).slice(-2);
                var m = ("0" + createdDate.getMinutes()).slice(-2);
                var s = ("0" + createdDate.getSeconds()).slice(-2);

                var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;

                $('td:eq(0)', nRow).html(dt_Created);

                var value1 = aData.TransactionAmount;
                var num1 = value.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");

                $('td:eq(4)', nRow).html(num1);

                var value2 = aData.InterestAmount;
                var num2 = value2.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");

                $('td:eq(5)', nRow).html(num2);

                return nRow;
            },
            // Display settings
            "iDisplayLength": 10,
            "bJQueryUI": true,
            "aaSorting": [[0, "desc"]],
            "aoColumns": [
            { "mDataProp": "CreatedDate", "sTitle": "CreatedDate" },
            { "mDataProp": "LoanRequest.Customer.FullName", "sTitle": "Customer Name" },
            { "mDataProp": "TransactionTypeDesc", "sTitle": "Transaction Type" },
            { "mDataProp": "LoanRequest.LoanReferenceNumber", "sTitle": "Loan Ref No", "bSortable": true },
            { "mDataProp": "TransactionAmount", "sTitle": "Transaction Amount", "sWidth": "12%" },
            { "mDataProp": "InterestAmount", "sTitle": "InterestAmount" },
            { "mDataProp": "Description", "sTitle": "Description" }],
        });
    });

</script>
<div>
    <fieldset>
        <legend>Loan Transaction History</legend>
        <table cellpadding="0" cellspacing="1" id="customerloantransactionhistorygrid">
            <tbody>
                <tr>
                    <td colspan="7" class="dataTables_empty">
                        Loading data from server
                    </td>
                </tr>
            </tbody>
        </table>       
    </fieldset>
</div>

