﻿@using Nikopeshe.Entity.DataModels
@using Nikopeshe.WebApplication.Controllers
@using Microsoft.Web.Mvc

@{
    ViewBag.Title = "Loan Transction History";

    var header = ViewBag.Header as string;
}

<h2>
    @Html.Raw(header)
</h2>

<script type="text/javascript">
    $(document).ready(function () {

        $('#LoanTransactionHistoryGrid').dataTable({
            // Ajax settings
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "@(Url.Action("getalltransactionhsitory", "LoanTransactionHistory"))",
            "sServerMethod": "POST",
            // Callback settings
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                /* row manipulation */
                var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));

                var h = ("0" + createdDate.getHours()).slice(-2);
                var m = ("0" + createdDate.getMinutes()).slice(-2);
                var s = ("0" + createdDate.getSeconds()).slice(-2);

                var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;

                $('td:eq(0)', nRow).html(dt_Created);
                return nRow;
            },
            // Display settings
            "iDisplayLength": 10,
            "bJQueryUI": true,
            "aaSorting": [[0, "desc"]],
            "aoColumns": [
            { "mDataProp": "CreatedDate", "sTitle": "CreatedDate" },
            { "mDataProp": "LoanRequest.Customer.FullName", "sTitle": "Customer Name" },            
            { "mDataProp": "TransactionTypeDesc", "sTitle": "Transaction Type" },
            { "mDataProp": "TransactionAmount", "sTitle": "Trx Amnt", "sWidth": "12%" },
            { "mDataProp": "InterestAmount", "sTitle": "Interest Amnt" },
            { "mDataProp": "Description", "sTitle": "Description" }],
        });
    });

</script>
<div>
    <fieldset>
        <legend>Loans Transaction History</legend>
        <table cellpadding="0" cellspacing="1" id="LoanTransactionHistoryGrid">
            <tbody>
                <tr>
                    <td colspan="7" class="dataTables_empty">
                        Loading data from server
                    </td>
                </tr>
            </tbody>            
        </table>               
    </fieldset>
</div>

