﻿@{
    ViewBag.Title = "Application";
}
<fieldset>
    <legend>Application</legend>
    <ol>
        <li> @Html.ActionLink("Personal Documents", "CustomerDocuments", "SelfRegistered")</li>
        @*<li> @Html.ActionLink("Loan Application Documents", "UploadLoanApplicationDocuments", "SelfRegistered")</li>*@
    </ol>
</fieldset>
