﻿@model Nikopeshe.Entity.DataModels.CustomerDocument

@{
    ViewBag.Title = "Upload Document";    
}


@using (Html.BeginForm("UploadFile", "SelfRegistered", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Upload Customer Documents</legend>
        @Html.ValidationSummary(false, "Operation was unsuccessful. Please correct the errors and try again.")
        
        <div class="editor-label">
            <b>@Html.LabelFor(model => model.DocumentType)</b>
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => model.DocumentType, "Select Document Type")
            @Html.ValidationMessageFor(model => model.DocumentType)
        </div>

        <div class="editor-field">
            <input type="file" name="PostedFile" />
        </div>

        <div class="editor-field"><input type="submit" value="Upload" class="btn btn-default" /></div>
    </fieldset>
}

