﻿@model Nikopeshe.Entity.DataModels.LoanRequestDocument

@{
    ViewBag.Title = "Upload Document";

    var pendingloanlist = ViewBag.PendingLoan as List<SelectListItem>;
    
}

@using (Html.BeginForm("UploadLoanApplicationDocuments", "SelfRegistered", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Upload Loan Request Documents</legend>
        @Html.ValidationSummary(false, "Operation was unsuccessful. Please correct the errors and try again.")
        <div class="editor-label">
            <b>@Html.LabelFor(model => model.LoanRequestId)</b>
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.LoanRequestId, pendingloanlist))
            @Html.ValidationMessageFor(model => model.CustomerId)
        </div>

        <div class="editor-label">
            <b>@Html.LabelFor(model => model.DocumentType)</b>
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => model.DocumentType, "Select Document Type")
            @Html.ValidationMessageFor(model => model.DocumentType)
        </div>

        <div class="editor-field">
            <input type="file" name="PostedFile" />
        </div>

        <div class="editor-field"><input type="submit" value="Upload" class="btn btn-default" /></div>
    </fieldset>
}
