﻿@model Nikopeshe.Entity.DataModels.SavingsProduct

@{
    ViewBag.Title = "New Savings Product";

    var liabilitychartofaccount = ViewBag.LiabilityChartofAccounts as IList<SelectListItem>;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Savings Product Details</legend>
        @Html.ValidationSummary(false, "Operation was unsuccessful. Please correct the errors and try again.")
        <div class="form-group">
            <div class="editor-label">
                @Html.LabelFor(model => model.ChartofAccountId, "Savings GL Account")
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.ChartofAccountId, liabilitychartofaccount)
                @Html.ValidationMessageFor(model => model.ChartofAccountId)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.ProductName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ProductName)
                @Html.ValidationMessageFor(model => model.ProductName)
            </div>           

            <div class="editor-label">
                @Html.LabelFor(model => model.IsDefault)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.IsDefault)
                @Html.ValidationMessageFor(model => model.IsDefault)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.IsEnabled)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.IsEnabled)
                @Html.ValidationMessageFor(model => model.IsEnabled)
            </div>

            <div class="editor-field"><input type="submit" value="Save" class="btn btn-default" /></div>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "SavingsProduct")
</div>

