﻿@using Nikopeshe.Entity.DataModels
@using Nikopeshe.WebApplication.Controllers
@using Microsoft.Web.Mvc
@{
    ViewBag.Title = "Loan Products Charges";

    var header = ViewBag.Header as string;
    var productname = ViewBag.LoanProductName as string;
    var Id = ViewBag.Id;
        
}

<h2>
    @Html.Raw(header)
</h2>
<script src="~/scripts/datatables/jquery.datatables.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#loanproductschargesgrid').dataTable({
            // Ajax settings
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "@(Url.Action("GetAllLoanProductCharges", "Products", new { id = Id }))",
            "sServerMethod": "POST",
            // Callback settings
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                /* row manipulation */
                var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));

                var h = ("0" + createdDate.getHours()).slice(-2);
                var m = ("0" + createdDate.getMinutes()).slice(-2);
                var s = ("0" + createdDate.getSeconds()).slice(-2);

                var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;

                $('td:eq(0)', nRow).html(dt_Created);
                $('td:eq(5)', nRow).html('<a href="/Loanproduct/editproduct/' + aData.Id + '">' +
                "Edit" + '</a>');
                return nRow;
            },
            // Display settings
            "iDisplayLength": 10,
            "bJQueryUI": true,
            "aaSorting": [[0, "desc"]],
            "aoColumns": [
            { "mDataProp": "CreatedDate", "sTitle": "Created Date" },
            { "mDataProp": "LoanProduct.ProductName", "sTitle": "Product Name" },
            { "mDataProp": "Charges.ChargeName", "sTitle": "Charge Name" },
            { "mDataProp": "Charges.ChargeRecoveryMethodDesc", "sTitle": "Charge RecoveryMethod Desc" },
            { "mDataProp": "Charges.IsRecurring", "sTitle": "Is Charge Recurring" }]
        });
    });

</script>
<div>
    <fieldset>
        <legend>Loan Charges for @productname</legend>        
        <table cellpadding="0" cellspacing="1" id="loanproductschargesgrid">
            <tbody>
                <tr>
                    <td colspan="7" class="dataTables_empty">
                        Loading data from server
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</div>
@Html.ActionLink("Back List", "loanproducts")

