﻿@using Nikopeshe.Entity.DataModels
@using Nikopeshe.WebApplication.Controllers
@using Microsoft.Web.Mvc
@{
    ViewBag.Title = "Loan Products";

    var header = ViewBag.Header as string;
}

<h2>
    @Html.Raw(header)
</h2>
<script src="~/scripts/datatables/jquery.datatables.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#allloanproductsgrid').dataTable({
            // Ajax settings
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "@(Url.Action("getallloanproducservice", "Products"))",
            "sServerMethod": "POST",
            // Callback settings
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                /* row manipulation */
                var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));

                var h = ("0" + createdDate.getHours()).slice(-2);
                var m = ("0" + createdDate.getMinutes()).slice(-2);
                var s = ("0" + createdDate.getSeconds()).slice(-2);

                var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;

                $('td:eq(0)', nRow).html(dt_Created);

                var value = aData.MaximumAmount;
                var num = value.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
                $('td:eq(6)', nRow).html(num);

                var value1 = aData.MinimumAmount;
                var num1 = value1.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
                $('td:eq(7)', nRow).html(num1);

                var value2 = aData.DefaultLoanAmount;
                var num2 = value2.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
                $('td:eq(8)', nRow).html(num2);

                $('td:eq(11)', nRow).html('<a href="/products/editproduct/' + aData.Id + '">' +
                "Edit" + '</a>' + '</a>' + ' | ' + '<a href="/products/LoanProductCharges/' + aData.Id + '">' +
                    "Applied Charges" + '</a>');
                return nRow;
            },
            // Display settings
            "iDisplayLength": 10,
            "bJQueryUI": true,
            "aaSorting": [[0, "desc"]],
            "aoColumns": [
            { "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "12%" },
            { "mDataProp": "ProductName", "sTitle": "Product Name" },
            { "mDataProp": "InterestChargeTypeDesc", "sTitle": "Interest Charge Type" },
            { "mDataProp": "InterestValue", "sTitle": "Interest Value", "sWidth": "8%" },
            { "mDataProp": "ProductCode", "sTitle": "Product Code", "sWidth": "8%" },
            { "mDataProp": "Term", "sTitle": "Term" },
            { "mDataProp": "MaximumAmount", "sTitle": "Max Amount", "sWidth": "10%" },
            { "mDataProp": "MinimumAmount", "sTitle": "Min Amount", "sWidth": "10%" },
            { "mDataProp": "DefaultLoanAmount", "sTitle": "Default Amount", "sWidth": "10%" },
            { "mDataProp": "IsEnabled", "sTitle": "Enabled" },
            { "mDataProp": "IsDefault", "sTitle": "Is Default" },
            { "mDataProp": "Commands", "sTitle": "", "bSortable": false }]
        });
    });

</script>
<div>
    <fieldset>
        <legend>Loan Product List</legend>
        <p>
            @if (Roles.IsUserInRole("Administrator"))
            {
                @Html.ActionLink("Add New Loan Product", "AddNewLoanProduct", "Products")
            }
        </p>
        <table cellpadding="0" cellspacing="1" id="allloanproductsgrid">
            <tbody>
                <tr>
                    <td colspan="7" class="dataTables_empty">
                        Loading data from server
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</div>

