﻿@model Nikopeshe.Entity.DataModels.LoanProduct

@{
    ViewBag.Title = "Loan Product Details";

    var productname = ViewBag.Productname as string;
}

<div>    
    <fieldset>
        <legend>Details for @productname</legend>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.ProductName)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.ProductName)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.InterestRate)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.InterestRate)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.Term)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.Term)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.MaximumAmount)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.MaximumAmount)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.MinimumAmount)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.MinimumAmount)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.PaymentFrequencyType)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.PaymentFrequencyType)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.DefaultLoanAmount)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.DefaultLoanAmount)
        </div>

        <div class="display-label">
            <b>@Html.DisplayName("Principal Account GL")</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.LoanChartAccount.ChartofAccountDescription)
        </div>

        <div class="display-label">
            <b>@Html.DisplayName("Interest Account GL")</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.InterestChartAccount.ChartofAccountDescription)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.IsEnabled)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.IsEnabled)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.CreatedDate)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.CreatedDate)
        </div>       
    </fieldset>
</div>
<p>
    @Html.ActionLink("Edit", "editproduct", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "LoanProducts")
</p>
