﻿@{ Layout = null;

   var banksSelectList = ViewBag.BanksSelectList as IList<SelectListItem>;
   
   var branchesSelectList = ViewBag.BranchesSelectList as IList<SelectListItem>;
   
 }
@model Nikopeshe.Entity.DataModels.Group

<div class="form-inline">
    <div class="form-group">
        @Html.LabelFor(model => model.BankCode)
        @Html.DropDownList("BankCode", banksSelectList, new { id = "ddlBanks" })
        @Html.ValidationMessageFor(model => model.BankCode)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.BranchCode)
        @Html.DropDownList("BranchCode", branchesSelectList, new { id = "ddlBranches" })
        @Html.ValidationMessageFor(model => model.BranchCode)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.BankAccountNumber)
        @(Html.Kendo().TextBoxFor(m => m.BankAccountNumber)
               .HtmlAttributes(new { placeholder = "Bank Account Number" }))
    </div>
    
    <footer class="col-xs-12 form-group text-right">
        @(Html.Kendo().Button()
                .Name("Previous3")
                .Content("Previous")
                .Events(ev => ev.Click("onPreviousClick")))

        @(Html.Kendo().Button()
                .Name("Next3")
                .Content("Next")
                .HtmlAttributes(new { @class = "k-primary" })
                .Events(ev => ev.Click("onNextClick")))
    </footer>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#ddlBanks").change(function () {
            var idModel = $(this).val();
            $.getJSON("/LoanOfficer/LoadBranchesByBank", { id: idModel },
                    function (carData) {
                        var select = $("#ddlBranches");
                        select.empty();
                        select.append($('<option/>', {
                            value: 0,
                            text: "Choose Branch"
                        }));
                        $.each(carData, function (index, itemData) {

                            select.append($('<option/>', {
                                value: itemData.Value,
                                text: itemData.Text
                            }));
                        });
                    });
        });
    });
</script>