﻿@{
    Layout = null;

    var professionSelectList = ViewBag.ProfessionSelectList as List<SelectListItem>;

    var branchesSelectList = ViewBag.SystemBranchesSelectList as List<SelectListItem>;

    var relationshipmanager = ViewBag.RelationshipManager as List<SelectListItem>;
}

@model Nikopeshe.Entity.DataModels.Group

<script type="text/javascript">
    $(document).ready(function () {
        $("#GroupNumber").attr('required', 'required');
        $("#GroupName").attr('disabled', 'disabled');

        $(document).tooltip();
        $("#GroupNumber").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/LoanOfficer/GroupHelperSearchArray",
                    type: "POST",
                    dataType: "json",
                    data: { GroupCode: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            if ($('#ddlCounties').val() == item.CountyCode)
                            {
                                return { label: item.GroupCodeGroupName, value: item.GroupCode };
                            }
                        }))
                    }
                })
            }
        });

        $('#GroupNumber').focusout(function () {

            $.get('/LoanOfficer/GroupHelperNameSearchArray', { GroupCode: $('#GroupNumber').val() }, function (data) {
                $("#GroupName").val(data);
                $("#ddlGroupNameHidden").val(data);
            });

        });

        $('#ddlBranche').change(function () {
            $('#ddlCounties').prop('disabled', false);
            $.getJSON('/customer/RMSelectList/' + $('#ddlBranche').val(), function (data) {
                var items = null;
                items += "<option value='NULL'>Select Relationship Manager</option>";
                $.each(data, function (i, state) {
                    items += "<option value='" + state.Value + "'>" + state.Text + "</option>";
                });
                $('#ParentId').html(items);
            });

            $("#ddlCounties").val($("#ddlCounties option:contains(" + $('#ddlBranche  option:selected').text() + ")").val());
            //$("#ddlCounties option:contains(" + $('#ddlBranche  option:selected').text() + ")").attr('selected', 'selected');
            $('#ddlCounties').change();
            $('#ddlCountiesHidden').val($('#ddlCounties').val());
            $('#ddlCounties').prop('disabled', 'disabled');
        });
    });

    $(window).load(function () {
        if ($("#ddlGroupType").val() == 1) {
            $(".GroupType").slideDown(150);
            $("#RegNo").attr('required', 'required');
            $("#RegNo").removeAttr('disabled');
            $("#DateOfReg").attr('required', 'required');
            $("#DateOfReg").removeAttr('disabled');
            $("#CurrentYearOfLicence").attr('required', 'required');
            $("#CurrentYearOfLicence").removeAttr('disabled');
            $('#DateOfReg').data('kendoDatePicker').enable(true);
        } else {
            $(".GroupType").slideUp(150);
            $("#RegNo").removeAttr('required');
            $("#RegNo").attr('disabled', 'disabled');
            $("#DateOfReg").removeAttr('required');
            $("#DateOfReg").attr('disabled', 'disabled');
            $("#CurrentYearOfLicence").removeAttr('required');
            $("#CurrentYearOfLicence").attr('disabled', 'disabled');
            $('#DateOfReg').data('kendoDatePicker').enable(false);
        }
        $('#ddlCounties').prop('disabled', 'disabled');
    })

    $(document).ready(function () {
        $("#ddlGroupType").change(function () {
            if ($(this).val() == 1) {
                $(".GroupType").slideDown(150);
                $("#RegNo").attr('required', 'required');
                $("#RegNo").removeAttr('disabled');
                $("#DateOfReg").attr('required', 'required');
                $("#DateOfReg").removeAttr('disabled');
                $("#CurrentYearOfLicence").attr('required', 'required');
                $("#CurrentYearOfLicence").removeAttr('disabled');
                $('#DateOfReg').data('kendoDatePicker').enable(true);
            } else {
                $(".GroupType").slideUp(150);
                $("#RegNo").removeAttr('required');
                $("#RegNo").attr('disabled', 'disabled');
                $("#DateOfReg").removeAttr('required');
                $("#DateOfReg").attr('disabled', 'disabled');
                $("#CurrentYearOfLicence").removeAttr('required');
                $("#CurrentYearOfLicence").attr('disabled', 'disabled');
                $('#DateOfReg').data('kendoDatePicker').enable(false);
            }
        })

        $("#ddlGroupType").keyup(function () {
            if ($(this).val() == 1) {
                $(".GroupType").slideDown(150);
                $("#RegNo").attr('required', 'required');
                $("#RegNo").removeAttr('disabled');
                $("#DateOfReg").attr('required', 'required');
                $("#DateOfReg").removeAttr('disabled');
                $("#CurrentYearOfLicence").attr('required', 'required');
                $("#CurrentYearOfLicence").removeAttr('disabled');
                $('#DateOfReg').data('kendoDatePicker').enable(true);
            } else {
                $(".GroupType").slideUp(150);
                $("#RegNo").removeAttr('required');
                $("#RegNo").attr('disabled', 'disabled');
                $("#DateOfReg").removeAttr('required');
                $("#DateOfReg").attr('disabled', 'disabled');
                $("#CurrentYearOfLicence").removeAttr('required');
                $("#CurrentYearOfLicence").attr('disabled', 'disabled');
                $('#DateOfReg').data('kendoDatePicker').enable(false);
            }
        })
    })
</script>



    <div class="row">
    <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
        @Html.LabelFor(m => m.BranchId)
        @(Html.DropDownListFor(m => m.BranchId, branchesSelectList, new { id = "ddlBranche" }))
        @Html.ValidationMessageFor(m => m.BranchId)
    </div>

    <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
        @Html.LabelFor(m => m.RelationshipManagerId)
        @(Html.DropDownListFor(m => m.RelationshipManagerId, relationshipmanager, new { id = "ParentId" }))
        @Html.ValidationMessageFor(model => model.RelationshipManagerId)
    </div>

    <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
        @Html.LabelFor(m => m.GroupNumber)
        @(Html.EditorFor(m => m.GroupNumber))
    </div>
    <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
        @Html.LabelFor(m => m.GroupName)
        @(Html.Kendo().TextBoxFor(m => m.GroupName)
                .HtmlAttributes(new { placeholder = "Group Name", @class = "k-textbox required" }))
        @Html.HiddenFor(model => model.GroupName, new { id = "ddlGroupNameHidden" })

    </div>



</div>

<div class="row">
    <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
        @Html.LabelFor(m => m.GroupType)
        @(Html.EnumDropDownListFor(m => m.GroupType, new { id = "ddlGroupType" }))
        @Html.ValidationMessageFor(m => m.GroupType)
    </div>
    <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12 GroupType">
        @Html.LabelFor(m => m.RegistrationNumber)
        @(Html.Kendo().TextBoxFor(m => m.RegistrationNumber)
                                    .HtmlAttributes(new { placeholder = "Registration Number", @disabled = "disabled", id = "RegNo" }))
    </div>

    <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12 GroupType">
        @Html.LabelFor(m => m.GovtDateOfRegistration)
        @(Html.Kendo().DatePickerFor(m => m.GovtDateOfRegistration)
                                            .HtmlAttributes(new { placeholder = "Govt Registration", @disabled = "disabled", id = "DateOfReg" }))
    </div>

    <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12 GroupType">
        @Html.LabelFor(m => m.CurrentYearOfLicence)
        @(Html.Kendo().TextBoxFor(m => m.CurrentYearOfLicence)
                                            .HtmlAttributes(new { placeholder = "Current Year Of Licence", @disabled = "disabled", id = "CurrentYearOfLicence" }))
    </div>


</div>

<div class="row">
    <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
        @Html.LabelFor(m => m.DateOfRegistration)
        @(Html.Kendo().DatePickerFor(m => m.DateOfRegistration)
                                            .HtmlAttributes(new { placeholder = "JoyWo Registration" }))
    </div>

    <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
        @Html.LabelFor(m => m.PoBox)
        @(Html.Kendo().TextBoxFor(m => m.PoBox)
                                    .HtmlAttributes(new { placeholder = "P.O. Box Number" }))
    </div>
    <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
        @Html.LabelFor(m => m.PostalCode)
        @(Html.Kendo().TextBoxFor(m => m.PostalCode)
                                    .HtmlAttributes(new { placeholder = "Postal Code" }))
    </div>
    <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
        @Html.LabelFor(m => m.TelephoneNumber)
        @(Html.Kendo().TextBoxFor(m => m.TelephoneNumber)
                            .HtmlAttributes(new { placeholder = "Mobile Number" }))
    </div>

</div>

<div class="row">
    <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
        @Html.LabelFor(m => m.ProfessionId)
        @(Html.DropDownListFor(m => m.ProfessionId, professionSelectList))
    </div>
    <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
        @Html.LabelFor(m => m.DealingIn)
        @(Html.Kendo().TextBoxFor(m => m.DealingIn)
                            .HtmlAttributes(new { placeholder = "Dealing In" }))
    </div>
    <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
        @Html.LabelFor(m => m.ElectionType)
        @(Html.EnumDropDownListFor(m => m.ElectionType, "Election Type"))
    </div>

    <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
        @Html.LabelFor(m => m.MeetingFrequency)
        @(Html.EnumDropDownListFor(m => m.MeetingFrequency, "Meeting Frequency"))
    </div>

</div>

    <footer class="col-xs-12 form-group text-right">
        @(Html.Kendo().Button()
             .Name("Next1")
             .Content("Next")
             .HtmlAttributes(new { @class = "k-primary" })
             .Events(ev => ev.Click("onNextClick")))
    </footer>

