﻿@{
    Layout = null;

    var banksSelectList = ViewBag.BanksSelectList as IList<SelectListItem>;

    var countySelectList = ViewBag.CountySelectList as List<SelectListItem>;

    var constituencySelectList = ViewBag.ConstituencySelectList as List<SelectListItem>;

    var countyAssemblyWardSelectList = ViewBag.CountyAssemblyWardSelectList as List<SelectListItem>;
   
}

@model Nikopeshe.Entity.DataModels.Group



    <div class="form-group">
        @Html.LabelFor(model => model.CountyCode)
        @Html.DropDownList("CountyCode", countySelectList, new { id = "ddlCounties" })
        @Html.ValidationMessageFor(model => model.CountyCode)
        @Html.HiddenFor(model => model.CountyCode, new { id = "ddlCountiesHidden" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ConstituencyCode)
        @Html.DropDownList("ConstituencyCode", constituencySelectList, new { id = "ddlConstituency" })
        @Html.ValidationMessageFor(model => model.ConstituencyCode)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.WardCode)
        @Html.DropDownList("WardCode", countyAssemblyWardSelectList, new { id = "ddlWard" })
        @Html.ValidationMessageFor(model => model.WardCode)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PlotNumber)
        @(Html.Kendo().TextBoxFor(m => m.PlotNumber)
                                .HtmlAttributes(new { placeholder = "Plot Number" }))
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Village)
        @(Html.Kendo().TextBoxFor(m => m.Village)
                        .HtmlAttributes(new { placeholder = "Village" }))
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Landmark)
        @(Html.Kendo().TextBoxFor(m => m.Landmark)
                .HtmlAttributes(new { placeholder = "Landmark" }))
    </div>

    <footer class="col-xs-12 form-group text-right">
        @(Html.Kendo().Button()
                .Name("Previous2")
                .Content("Previous")
                .Events(ev => ev.Click("onPreviousClick")))

        @(Html.Kendo().Button()
                .Name("Next2")
                .Content("Next")
                .HtmlAttributes(new { @class = "k-primary" })
                .Events(ev => ev.Click("onNextClick")))
    </footer>


<script type="text/javascript">
    $(document).ready(function () {
        $("#ddlCounties").change(function () {
            var idModel = $(this).val();
            $.getJSON("/LoanOfficer/LoadConstituencyByCounty", { id: idModel },
                    function (carData) {
                        var select = $("#ddlConstituency");
                        select.empty();
                        select.append($('<option/>', {
                            value: 0,
                            text: "Choose Constituency"
                        }));
                        $.each(carData, function (index, itemData) {

                            select.append($('<option/>', {
                                value: itemData.Value,
                                text: itemData.Text
                            }));
                        });
                    });
        });

        $("#ddlConstituency").change(function () {
            var idModel = $(this).val();
            var idconst = $("#ddlCounties").val();
            $.getJSON("/LoanOfficer/LoadCAWByConstituency", { countyId: idconst, constituencyId: idModel },
                    function (carData) {
                        var select = $("#ddlWard");
                        select.empty();
                        select.append($('<option/>', {
                            value: 0,
                            text: "Choose Ward"
                        }));
                        $.each(carData, function (index, itemData) {

                            select.append($('<option/>', {
                                value: itemData.Value,
                                text: itemData.Text
                            }));
                        });
                    });
        });
    });
</script>