﻿@using Nikopeshe.WebApplication.Extensions
@model Nikopeshe.Entity.DataModels.Group

@{
    ViewBag.Title = "Create Group";

    var banksSelectList = ViewBag.BanksSelectList as IList<SelectListItem>;

    var countySelectList = ViewBag.CountySelectList as List<SelectListItem>;

    var constituencySelectList = ViewBag.ConstituencySelectList as List<SelectListItem>;

    var cwaSelectList = ViewBag.CAWSelectList as List<SelectListItem>;
}

<h1>Create Group</h1>

<script type="text/javascript">
    $(document).ready(function () {
        $("#ddlCounties").change(function () {
            var idModel = $(this).val();
            $.getJSON("/LoanOfficer/LoadConstituencyByCounty", { id: idModel },
                    function (carData) {
                        var select = $("#ddlConstituency");
                        select.empty();
                        select.append($('<option/>', {
                            value: 0,
                            text: "Choose Constituency"
                        }));
                        $.each(carData, function (index, itemData) {

                            select.append($('<option/>', {
                                value: itemData.Value,
                                text: itemData.Text
                            }));
                        });
                    });
        });
    });
</script>


<script type="text/javascript">
    $(document).ready(function () {
        $("#ddlConstituency").change(function () {
            var idModel = $(this).val();
            $.getJSON("/LoanOfficer/LoadCAWByConstituency", { id: idModel },
                    function (carData) {
                        var select = $("#ddlCAW");
                        select.empty();
                        select.append($('<option/>', {
                            value: 0,
                            text: "Choose Constituency"
                        }));
                        $.each(carData, function (index, itemData) {

                            select.append($('<option/>', {
                                value: itemData.Value,
                                text: itemData.Text
                            }));
                        });
                    });
        });
    });
</script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false, "Operation was unsuccessful. Please correct the errors and try again.")
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Group Details</legend>

        @*<div class="form-group">*@
        <div class="editor-label">
            @Html.LabelFor(model => model.GroupName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GroupName)
            @Html.ValidationMessageFor(model => model.GroupName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RegistrationNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RegistrationNumber)
            @Html.ValidationMessageFor(model => model.RegistrationNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateOfRegistration)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateOfRegistration)
            @Html.ValidationMessageFor(model => model.DateOfRegistration)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PoBox)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PoBox)
            @Html.ValidationMessageFor(model => model.PoBox)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TelephoneNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TelephoneNumber)
            @Html.ValidationMessageFor(model => model.TelephoneNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmailAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmailAddress)
            @Html.ValidationMessageFor(model => model.EmailAddress)
        </div>

        @*<div class="editor-label">
                @Html.LabelFor(model => model.MainActivity)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.MainActivity)
                @Html.ValidationMessageFor(model => model.MainActivity)
            </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.DealingIn)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DealingIn)
            @Html.ValidationMessageFor(model => model.DealingIn)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ElectionType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ElectionType)
            @Html.ValidationMessageFor(model => model.ElectionType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BankCode)
        </div>
        <div class="editor-field">
            @Html.DropDownList("BankCode", banksSelectList, new { id = "ddlBanks" })
            @Html.ValidationMessageFor(model => model.BankCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BankAccountNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BankAccountNumber)
            @Html.ValidationMessageFor(model => model.BankAccountNumber)
        </div>

        @*<div class="editor-label">
                @Html.LabelFor(model => model.CountyCode)
            </div>
            <div class="editor-field">
                @Html.DropDownList("CountyCode", countySelectList, new { id = "ddlCounties" })
                @Html.ValidationMessageFor(model => model.CountyCode)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.ConstituencyCode)
            </div>
            <div class="editor-field">
                @Html.DropDownList("ConstituencyCode", constituencySelectList, new { id = "ddlConstituency" })
                @Html.ValidationMessageFor(model => model.ConstituencyCode)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.WardCode)
            </div>
            <div class="editor-field">
                @Html.EditorFor(x => x.WardCode)
                @Html.ValidationMessageFor(model => model.WardCode)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Village)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Village)
                @Html.ValidationMessageFor(model => model.Village)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Landmark)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Landmark)
                @Html.ValidationMessageFor(model => model.Landmark)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.PlotNumber)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.PlotNumber)
                @Html.ValidationMessageFor(model => model.PlotNumber)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.ChairPersonMemberNo)
            </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ChairPersonMemberNo)
                    @Html.ValidationMessageFor(model => model.ChairPersonMemberNo)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.TreasurerMemberNumber)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.TreasurerMemberNumber)
                    @Html.ValidationMessageFor(model => model.TreasurerMemberNumber)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.SecretaryMemberNumber)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.SecretaryMemberNumber)
                    @Html.ValidationMessageFor(model => model.SecretaryMemberNumber)
                </div>*@

        <div class="editor-field"><input type="submit" value="Register" class="btn btn-default" /></div>

        @*</div>*@
    </fieldset>
}

<script>
    $(document).ready(function () {
        $("#DateofBirth").datepicker()
    });
</script>




