﻿@model Nikopeshe.Entity.DataModels.Group
@{
    ViewBag.Title = "GROUP REGISTRATION FORM";
}

<h1>@ViewBag.Title.</h1>

@(Html.Kendo().ProgressBar()
                  .Name("profileCompleteness")
                  .Type(ProgressBarType.Percent)
                  .ShowStatus(false)
                  .Min(0)
                  .Max(4)
                  .Value(1)
)

@using (Html.BeginForm("EditGroup", "LoanOfficer", FormMethod.Post, new { @class = "form-inline", role = "form" }))
{
    @Html.AntiForgeryToken()

    @(Html.Kendo().TabStrip()
                  .Name("tabstrip")
                  .Items(tabstrip =>
                  {
                      tabstrip.Add().Text("Group Info")
                          .Selected(true)
                          .Content(m => Html.Partial("_EditGroupInfo", m));

                      tabstrip.Add().Text("Group Location")
                          .Enabled(false)
                          .Content(m => Html.Partial("_EditGroupLocation", m));

                      tabstrip.Add().Text("Banking Details")
                          .Enabled(false)
                          .Content(m => Html.Partial("_EditBankingDetails", m));

                      tabstrip.Add().Text("Overview")
                          .Enabled(false)
                          .Content(m => Html.Partial("_EditSubmit", m));
                  })
                .Events(ev =>
                {
                    ev.Select("onSelect");
                    ev.Show("onShow");
                })

    )
}

@section Scripts {
    <script>

        var progress,
            tabs,
            currentIndex = 0;

        $(document).ready(function () {
            progress = $("#profileCompleteness").data("kendoProgressBar");
            tabs = $("#tabstrip").data("kendoTabStrip");
        })

        function onSelect(e) {

            var selectedIndex = tabIndexOfElement(e.item),

            isMovingBack = selectedIndex < currentIndex;

            if (isMovingBack || isTabValidAt(currentIndex)) {
                console.log("tab passed validation")
                currentIndex = selectedIndex;
                tabs.enable(getTabAtIndex(currentIndex), true);
            }
            else {
                e.preventDefault();
            }
        }

        function onPreviousClick(e) {
            e.preventDefault();
            tabs.select(tabs.select().prev());
        }

        function onNextClick(e) {
            e.preventDefault();

            tabs.select(getTabAtIndex(currentIndex + 1));
        }

        function getTabAtIndex(index) {
            return tabs.tabGroup.children().eq(index);
        }

        function tabIndexOfElement(element) {
            return tabs.element.find(element).index();
        }

        function isTabValidAt(tabIndex) {
            var el = tabs.contentElement(tabIndex),
                val = $(el).kendoValidator().data("kendoValidator");
            return val.validate();
        }

        function onShow(e) {
            progress.value(currentIndex + 1);
        }

    </script>

}