﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Group Edit";
}
<fieldset>
    <legend>Group Update Status</legend>
    Group updated successfully.
    @Html.ActionLink("Back to List", "index", "loanofficer")
</fieldset>

