﻿@using Nikopeshe.Entity.DataModels
@using Nikopeshe.WebApplication.Controllers
@using Microsoft.Web.Mvc
@using Nikopeshe.WebApplication.Extensions
@{
    ViewBag.Title = "Group Members";

    string header = ViewBag.Header as string;

    var id = ViewBag.Id;
}

<h2>
    @Html.Raw(header)
</h2>

<script type="text/javascript">
    $(document).ready(function () {

        $('#GroupMembers').dataTable({
            // Ajax settings
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "@(Url.Action("GetGroupMembers", "LoanOfficer", new { id = id }))",
            "sServerMethod": "POST",
            // Callback settings
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                /* row manipulation */

                var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));

                var h = ("0" + createdDate.getHours()).slice(-2);
                var m = ("0" + createdDate.getMinutes()).slice(-2);
                var s = ("0" + createdDate.getSeconds()).slice(-2);

                var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
                $('td:eq(0)', nRow).html(dt_Created);
                return nRow;

            },
            // Display settings
            "iDisplayLength": 100,
            "bJQueryUI": true,
            "aaSorting": [[0, "desc"]],
            "aoColumns": [
            { "mDataProp": "CreatedDate", "sTitle": "Created Date" },
            { "mDataProp": "Group.GroupName", "sTitle": "Group Name", "sWidth": "12%" },
            { "mDataProp": "Group.RegistrationNumber", "sTitle": "Group Reg No." },
            { "mDataProp": "Customer.FullName", "sTitle": "Member Name" },
            { "mDataProp": "Customer.IDNumber", "sTitle": "Member ID No." },
            { "mDataProp": "GroupMemberNo", "sTitle": "Member Group No" },
            { "mDataProp": "GroupRoleDesc", "sTitle": "Role" }],
        });
    });

</script>
<div>
    <fieldset>
        <legend>Group Members for </legend>
        <table cellpadding="0" cellspacing="1" id="GroupMembers">
            <tbody>
                <tr>
                    <td colspan="7" class="dataTables_empty">
                        Loading data from server
                    </td>
                </tr>
            </tbody>
        </table>
        <div></div>
    </fieldset>
</div>

