﻿@{
    ViewBag.Title = "Create Group";
    
 }

<fieldset>
    <legend>Groups</legend>
    @(Html.Kendo().Grid<Nikopeshe.Entity.DataModels.Group>()
        .Name("Group")
      
    .ToolBar(tb => tb.Create())
    .Pageable()
    .DataSource(dataSource => dataSource.Ajax()
    .PageSize(25)
    .Model(model => model.Id(c => c.Id))
    .Read("GetCustomers", "LoanOfficer")
    .Events(events => events.Error("error_handler"))
    .Update("UpdateCustomer", "LoanOfficer")
    .Create("InsertCustomer", "LoanOfficer")
    .Destroy("DeleteCustomer", "LoanOfficer"))
    .Columns(cols =>
    {
        cols.Bound(c => c.GroupName).Width(300).Width(2);
        cols.Bound(c => c.RegistrationNumber);
        cols.Bound(c => c.DateOfRegistration);
        cols.Bound(c => c.PoBox);
        cols.Bound(c => c.TelephoneNumber);
        cols.Bound(c => c.MainActivity);
        cols.Bound(c => c.DealingIn);
        cols.Bound(c => c.ElectionType);
        cols.Bound(c => c.Id).Hidden();
        cols.Command(cmd =>
        {
            cmd.Edit();
            cmd.Destroy();
        });
    })
    )
</fieldset>

<script type="text/javascript">

    //register custom validation rules
    (function ($, kendo) {
        $.extend(true, kendo.ui.validator, {
            rules: { // custom rules
                productnamevalidation: function (input, params) {
                    if (input.is("[name='GroupName']") && input.val() != "") {
                        input.attr("data-productnamevalidation-msg", "Group Name should start with capital letter");
                        return /^[A-Z]/.test(input.val());
                    }

                    return true;
                }
            },
            messages: { //custom rules messages
                productnamevalidation: function (input) {
                    // return the message text
                    return input.attr("data-val-productnamevalidation");
                }
            }
        });
    })(jQuery, kendo);

    //show server errors if any
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>
