﻿@using Nikopeshe.Entity.DataModels
@using Nikopeshe.WebApplication.Controllers
@using Microsoft.Web.Mvc
@using Nikopeshe.WebApplication.Extensions
@{
    ViewBag.Title = "Group";

    string header = ViewBag.Header as string;
}

<h2>
    @Html.Raw(header)
</h2>

<script type="text/javascript">
    $(document).ready(function () {

        $('#Loanrequest').dataTable({
            // Ajax settings
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "bServerSide": true,

            "sAjaxSource": "@(Url.Action("GetGroupsFilterInPage", "LoanOfficer"))",
            "sServerMethod": "POST",
            // Callback settings
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                /* row manipulation */

                var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));

                var h = ("0" + createdDate.getHours()).slice(-2);
                var m = ("0" + createdDate.getMinutes()).slice(-2);
                var s = ("0" + createdDate.getSeconds()).slice(-2);

                var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;

                $('td:eq(0)', nRow).html(dt_Created);

                $('td:eq(6)', nRow).html('<a href="/loanofficer/groupmembers/' + aData.Id + '">' + 
                   "Group Members" + '</a>' + ' | ' + '<a href="/LoanOfficer/grouploanrequests/' + aData.CustomerId + '">'
                   + "Loan Requests" + '</a>' + '</a>' + ' | ' + '<a href="/loanofficer/registerloan/' + aData.CustomerId + '">' +
                   "Register Loan" + ' | ' + '<a href="/loanofficer/editgroup/' + aData.Id + '">' +
                   "Edit");
                
                return nRow;

            },
            // Display settings
            "iDisplayLength": 100,
            "bJQueryUI": true,
            "aaSorting": [[0, "desc"]],
            "aoColumns": [
            { "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "12%" },
            { "mDataProp": "GroupNumber", "sTitle": "Group Number", "sWidth": "10%" },
            { "mDataProp": "GroupName", "sTitle": "Group Name", "sWidth": "20%" },
            { "mDataProp": "RegistrationNumber", "sTitle": "Registration Number", "sWidth": "10%" },
            { "mDataProp": "TelephoneNumber", "sTitle": "Telephone Number", "sWidth": "10%" },
            { "mDataProp": "CurrentYearOfLicence", "sTitle": "Year of License", "sWidth": "8%" },
            { "mDataProp": "Commands", "sTitle": "" }],
        });
    });

</script>
<div>
    <fieldset>
        <legend>Group List</legend>
        <div><p><p> @Html.ActionLink("Create New Group", "groupregistration", "LoanOfficer", null, new { @class = "classname" })</p></div>
        <table cellpadding="0" cellspacing="1" id="Loanrequest">
            <tbody>
                <tr>
                    <td colspan="7" class="dataTables_empty">
                        Loading data from server
                    </td>
                </tr>
            </tbody>
        </table>
        <div></div>
    </fieldset>
</div>
<style>
    a.classname {
        background-color: #d3dce0;
        border: 1px solid #787878;
        text-decoration: none;
        cursor: pointer;
        font-size: 1.1em;
        border-radius: 3px;
        font-weight: 600;
        padding: 7px;
        margin-right: 8px;
        width: auto;
    }

        a.classname:hover {
            background-color: #E2E4FF;
        }
</style>
