﻿@model Nikopeshe.Entity.DataModels.LoanRequest
@using Nikopeshe.WebApplication.Extensions
@using Nikopeshe.Data.Mappings
@using Nikopeshe.WebApplication.Models

@{
    ViewBag.Title = "Create Group Loan";

    var loanproductlist = ViewBag.LoanProductsList as List<SelectListItem>;

    var customerselectlist = ViewBag.CustomersList as List<SelectListItem>;

    var banksSelectList = ViewBag.BanksSelectList as List<SelectListItem>;

    var eftselectlist = ViewBag.EFTTypes as List<CheckBoxListInfo>;
    var RMSelectList = ViewBag.RelationshipManagersSelectList as List<SelectListItem>;

    ////var branchesSelectList = ViewBag.BranchesSelectList as List<SelectListItem>;
    //var eftselectlist = ViewBag.EFTTypes as List<CheckBoxListInfo>;

    //var username = ViewBag.Username as string;

    string mobileNumber = ViewBag.MobileNumber as string;

    string bankAccountNumber = ViewBag.BankAccountNumber as string;
    
    }

<script type="text/javascript">
    $(function () {
        $('input.unique').click(function () {
            $('#ddlBanks').attr('value', '0');
            $('#ddlBranches').attr('value', '0');
            $('input.unique:checked').not(this).removeAttr('checked');

            if ($(this).val() == 1) {
                $('#ddlBanks').prop("disabled", 'disabled');
            }
            else {
                $('#ddlBanks').removeAttr("disabled");
            }
        });
    });
</script>
<script>
    $(form).submit(function () {
        $('#CustomerId').removeAttr('disabled');
        $('#PrimaryAccountNumber').removeAttr('disabled');
    })
</script>

<script>
    $(form).submit(function () {
        $('#HiddenField').val($('#CustomerId').val());
        $('#HiddenField').val($('#PrimaryAccountNumber').val());
    });
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Create New Loan Request</legend>
        @Html.HiddenFor(x => x.CustomerId)
        @Html.HiddenFor(x => x.PrimaryAccountNumber)
        @Html.ValidationSummary(false, "Operation was unsuccessful. Please correct the errors and try again.")

        <div class="editor-label">
            <b>@Html.LabelFor(model => model.CustomerId)</b>
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.CustomerId, customerselectlist, new { @disabled = "disabled" })
            @Html.ValidationMessageFor(model => model.CustomerId)
        </div>

        <div class="editor-label">
            <b>@Html.LabelFor(model => model.RelationshipManagerId)</b>
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.RelationshipManagerId, RMSelectList)
            @Html.ValidationMessageFor(model => model.RelationshipManagerId)
        </div>

        <div class="editor-label">
            <b>@Html.LabelFor(model => model.LoanProductId)</b>
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.LoanProductId, loanproductlist)
            @Html.ValidationMessageFor(model => model.LoanProductId)
        </div>

        @*<div class="editor-label">
                <b>@Html.LabelFor(model => model.NegotiatedInstallments)</b>
            </div>
            <div class="editor-field">
                @Html.Editor("NegotiatedInstallments", Model.NegotiatedInstallments)
                @Html.ValidationMessageFor(model => model.NegotiatedInstallments)
            </div>*@

        <div class="editor-label">
            <b>@Html.LabelFor(model => model.LoanAmount)</b>
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.LoanAmount, new { @id = "example2", @placeholder = "Loan Amount" })
            @Html.ValidationMessageFor(model => model.LoanAmount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Type)
        </div>
        <div class="editor-field">
            @Html.Raw(Html.CheckBoxList("Type", eftselectlist, new { @class = "unique" }))
            @Html.ValidationMessageFor(model => model.Type)
        </div>

        <div class="editor-label">
            @Html.Label("Bank Account Number")
        </div>
        <div class="editor-field">
            @bankAccountNumber
        </div>

        <div class="editor-label">
            @Html.Label("Mobile Account Number")
        </div>
        <div class="editor-field">
            @mobileNumber
        </div>


        @*<div class="editor-label">
                @Html.LabelFor(model => model.ApplicantBankCode)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.ApplicantBankCode, banksSelectList, new { id = "ddlBanks" })
                @Html.ValidationMessageFor(model => model.ApplicantBankCode)
            </div>*@

        @*<div class="editor-label">
                @Html.LabelFor(model => model.ApplicantBranchCode)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.ApplicantBranchCode, branchesSelectList, new { id = "ddlBranches" })
                @Html.ValidationMessageFor(model => model.ApplicantBranchCode)
            </div>*@
        <p></p>
        @*<div class="editor-field">
                @Html.CheckBoxFor(m => m.AcceptTermsAndConditions)
                @Html.ValidationMessageFor(m => m.AcceptTermsAndConditions)
                I have read and fully understood the @(Html.ActionLink("terms and conditions", "TermsAndConditions", "LoanRequest"))
                governing Loans offered by @DefaultSettings.Instance.ApplicationDisplayName
                and I hereby accept them and will abide by them.
            </div>*@
        <div class="editor-field"><input type="submit" value="Create" class="btn btn-default" /></div>
    </fieldset>
}