﻿@model Nikopeshe.Entity.DataModels.TransactionHistory

@{
    ViewBag.Title = "Add Transaction Tistory";
    
    var customerlist = ViewBag.Customerlist as List<SelectListItem>;        
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Add Transaction History</legend>
        <div class="form-group">
            @Html.ValidationSummary(false)

            <div class="editor-label">
                @Html.LabelFor(model => model.CustomerId)
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.CustomerId, customerlist)
                    @Html.ValidationMessageFor(model => model.CustomerId)
                </div>
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Amount)
                <div class="editor-field">
                    @Html.EditorFor(model => model.Amount)
                    @Html.ValidationMessageFor(model => model.Amount)
                </div>
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.TransactionType)
                <div class="editor-field">
                    @Html.EnumDropDownListFor(model => model.TransactionType, "Select...")
                    @Html.ValidationMessageFor(model => model.TransactionType)
                </div>
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Type)
                <div class="editor-field">
                    @Html.EnumDropDownListFor(model => model.Type, "Select...")
                    @Html.ValidationMessageFor(model => model.Type)
                </div>
            </div>

            <div class="editor-field"><input type="submit" value="Create" class="btn btn-default" /></div>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
