﻿@using Nikopeshe.Entity.DataModels
@using Nikopeshe.WebApplication.Controllers
@using Microsoft.Web.Mvc
@{
    ViewBag.Title = "Transaction History";

    string header = ViewBag.Header as string;

    var customerid = ViewBag.CustomerId;
}

<h2>
    @Html.Raw(header)
</h2>

<script type="text/javascript">
    $(document).ready(function () {

        $('#transactionhistorygrid').dataTable({
            // Ajax settings
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "@(Url.Action("Getcustomertransactionhistory", "TransactionsHistory", new { id = customerid }))",            
            "sServerMethod": "POST",
            // Callback settings
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                /* row manipulation */

                var paymentdueDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
                $('td:eq(0)', nRow).html(paymentdueDate.getDate() + "/" + paymentdueDate.getMonth() + 1 + "/" + paymentdueDate.getFullYear());

                var transactiondate = new Date(parseInt(aData.TransactionDateTime.replace("/Date(", "").replace(")/", ""), 10));
                $('td:eq(4)', nRow).html(transactiondate.getMonth() + 1 + "/" + transactiondate.getDate() + "/" + transactiondate.getFullYear());


                //$('td:eq(6)', nRow).html('<a href="/Loanrequest/loanrequestdetails/' + aData.Id + '">' +
                //"Loan Details" + '</a>');
                return nRow;

            },
            // Display settings
            "iDisplayLength": 10,
            "bJQueryUI": true,
            "aaSorting": [[0, "desc"]],
            "aoColumns": [
            { "mDataProp": "CreatedDate", "sTitle": "Created Date" },
            { "mDataProp": "Customer.FullName", "sTitle": "Customer Name" },
            { "mDataProp": "Amount", "sTitle": "Amount", "sWidth": "12%" },
            { "mDataProp": "TransactionTypeDesc", "sTitle": "Transaction Type" },
            { "mDataProp": "TransactionDateTime", "sTitle": "Trx DateTime" },
            { "mDataProp": "TypeDesc", "sTitle": "Type" }],
            //{ "mDataProp": "Commands", "sTitle": "" }],
        });
    });

</script>
<div>
    <fieldset>
        <legend>Transaction History</legend>
        <table cellpadding="0" cellspacing="1" id="transactionhistorygrid">
            <tbody>
                <tr>
                    <td colspan="7" class="dataTables_empty">
                        Loading data from server
                    </td>
                </tr>
            </tbody>
        </table>
        <div></div>
    </fieldset>
</div>

