﻿@using Nikopeshe.Entity.DataModels
@using Nikopeshe.WebApplication.Controllers
@using Microsoft.Web.Mvc

@{
    ViewBag.Title = "Savings Products";

    var header = ViewBag.Header as string;
}

<h2>
    @Html.Raw(header)
</h2>
<script src="~/scripts/datatables/jquery.datatables.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#allloanproductsgrid').dataTable({
            // Ajax settings
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "@(Url.Action("GetAllSavingsProduct", "SavingsProduct"))",
            "sServerMethod": "POST",
            // Callback settings
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                /* row manipulation */
                var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));

                var h = ("0" + createdDate.getHours()).slice(-2);
                var m = ("0" + createdDate.getMinutes()).slice(-2);
                var s = ("0" + createdDate.getSeconds()).slice(-2);

                var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;

                $('td:eq(0)', nRow).html(dt_Created);
                $('td:eq(5)', nRow).html('<a href="/SavingsProduct/editsavingproduct/' + aData.Id + '">' +
                "Edit" + '</a>');
                return nRow;
            },
            // Display settings
            "iDisplayLength": 10,
            "bJQueryUI": true,
            "aaSorting": [[0, "desc"]],
            "aoColumns": [
            { "mDataProp": "CreatedDate", "sTitle": "Created Date" },            
            { "mDataProp": "ProductName", "sTitle": "Product Name", "sWidth": "16%" },
            { "mDataProp": "ProductCode", "sTitle": "Product Code" },
            { "mDataProp": "IsEnabled", "sTitle": "Enabled" },
            { "mDataProp": "IsDefault", "sTitle": "Is Default?" },
            { "mDataProp": "Commands", "sTitle": "", "bSortable": false }]
        });
    });

</script>
<div>
    <fieldset>
        <legend>Savings Product List</legend>
        <p>
            @if (Roles.IsUserInRole("Administrator"))
            {
                @Html.ActionLink("Add New Savings Product", "CreateNewSavingsProduct", "SavingsProduct")
            }
        </p>
        <table cellpadding="0" cellspacing="1" id="allloanproductsgrid">
            <tbody>
                <tr>
                    <td colspan="7" class="dataTables_empty">
                        Loading data from server
                    </td>
                </tr>
            </tbody>
        </table>

    </fieldset>
</div>

