﻿
@model Nikopeshe.WebApplication.Models.CustomerVerification

@{
    ViewBag.Title = "Approve Customer";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend> Approval Code</legend>        
        @Html.ValidationSummary(false)
        <p><h4>Please provide the approval code sent to you via email/text.</h4></p>
        <div class="editor-label">
            <b>@Html.LabelFor(model => model.ApprovalCode)</b>
        </div>
        <div class="editor-field">
            <div class="numbers">
                @Html.EditorFor(model => model.ApprovalCode)
            </div>
            @Html.ValidationMessageFor(model => model.ApprovalCode)
        </div>

        <div class="editor-field"><input type="submit" value="Submit" class="btn btn-default" /></div>

        <h5> @Html.ActionLink("Regenerate Approval Code", "newapprovalcode", "Account")</h5>
    </fieldset>
}
