﻿@using Microsoft.AspNet.Identity
@model Nikopeshe.WebApplication.Models.ManageUserViewModel

<p>You're logged in as <strong>@User.Identity.GetUserName()</strong>.</p>

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    ViewBag.Title = "Change Password";
    
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Change Password</legend>

        @Html.ValidationSummary()
        <div class="label-field">
            @Html.LabelFor(m => m.OldPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.OldPassword)
        </div>

        <div class="label-field">
            @Html.LabelFor(m => m.NewPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.NewPassword)
        </div>
        <div class="label-field">
            @Html.LabelFor(m => m.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.ConfirmPassword)
        </div>
        <div class="editor-field"><input type="submit" value="Change Password" class="btn btn-default" /></div>
    </fieldset>
}
