﻿@model Nikopeshe.Entity.DataModels.UserInfo
@using Nikopeshe.WebApplication.Extensions
@using Nikopeshe.WebApplication.Models
@{
    ViewBag.Title = "Edit User";

    var roleslist = ViewBag.Roles as List<CheckBoxListInfo>; ;

    var username = ViewBag.Username as string;

    var BranchSelectList = ViewBag.BranchesSelectList as IList<SelectListItem>;
}

<script type="text/javascript">
    $(function () {
        $('input.unique').click(function () {
            $('input.unique:checked').not(this).removeAttr('checked');
        });
    });
</script>
    
<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()    
    <fieldset>
        <legend>Edit User Account</legend>

        @Html.ValidationSummary()
        <div class="form-group">
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.UserName)   
            
            <div class="editor-label">
                @Html.LabelFor(model => model.BranchId)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.BranchId, BranchSelectList)
                @Html.ValidationMessageFor(model => model.BranchId)
            </div>
                     
            <div class="editor-label">
                @Html.LabelFor(model => model.UserName)
            </div>
            <div class="editor-field">
                @Html.DisplayName(@username)                
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.FirstName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.LastName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Email)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.IsApproved)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.IsApproved)
                @Html.ValidationMessageFor(model => model.IsApproved)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.IsLockedOut)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.IsLockedOut)
                @Html.ValidationMessageFor(model => model.IsLockedOut)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Roles)
            </div>
            <div class="editor-field">
               @Html.Raw(Html.CheckBoxList("Roles", roleslist, new { @class = "unique" }))
                @Html.ValidationMessageFor(model => model.Roles)
            </div>

            <div class="editor-field"><input type="submit" value="Save" class="btn btn-default" /></div>
        </div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
