﻿@model Nikopeshe.WebApplication.Models.LoginViewModel

@{
    ViewBag.Title = "Log On";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<h2>Please enter your login credentials</h2>

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "Login was unsuccessful. Please correct the errors and try again.")

    <fieldset>
        <legend>Account Information</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName, new { autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>            
        </ol>
        <input type="submit" value="Log in" />
        <p>
            @Html.ActionLink("Forgot Password?", "ForgotPassword")
        </p>
    </fieldset>
    @*<p>
        @Html.ActionLink("Register", "createaccount", "Account") if you don't have an account.
    </p>*@
}