﻿@{
    ViewBag.Title = "Password Reset Successfully";
}
<fieldset>
    <legend>Password Reset Successfully</legend>
    We have sent you an email with your new password. Kindly check you mailbox.
    @Html.ActionLink("Login Here", "Login", "Account")
</fieldset>