﻿
@{
    ViewBag.Title = "Account";
}
<fieldset>
    <legend>Registration Status</legend>
    Account created successfully. An email/text message has been sent to you with your approval code. Provide the code after login to approve your account.
    @Html.ActionLink("Login here", "Login", "Account")
</fieldset>


