﻿@model Nikopeshe.Entity.DataModels.UserInfo

@{
    ViewBag.Title = "UnLock user";

}

<h3><b>Are you sure you want to unlock this user?</b></h3>

@using (Html.BeginForm())
{    
    @Html.AntiForgeryToken()
    @*@Html.HiddenFor(model => model.Id)*@
    @Html.HiddenFor(model => model.UserName)
    @Html.HiddenFor(model => model.LastName)
    @Html.HiddenFor(model => model.FirstName)
    @Html.HiddenFor(model => model.Email)

    <fieldset>
        <legend>Unlock User</legend>
        @Html.ValidationSummary(false)

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.FirstName)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.FirstName)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.LastName)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.LastName)
        </div>

        <div class="display-label">
            <b> @Html.DisplayNameFor(model => model.Email)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.Email)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.IsApproved)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.IsApproved)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.IsLockedOut)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.IsLockedOut)
        </div>
        
        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.CreatedDate)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.CreatedDate)
        </div>

        <div class="editor-field"><input type="submit" value="Unlock" class="btn btn-default" /></div>
        <div class="form-actions no-color">
            @Html.ActionLink("Back to List", "Index")
        </div>
    </fieldset>
}

