﻿@model IEnumerable<Nikopeshe.Entity.DataModels.UserInfo>
@using GridMvc.Html
@{
    ViewBag.Title = "Index";
}
<html>

<body>
    <hr />
    <div style="width:1000px;">
        <fieldset>
            <legend>Users in Roles</legend>
            @Html.Grid(Model).Columns(columns =>
                    {
                        columns.Add(model => model.UserName).Titled("Username")
                         .Filterable(true).Sanitized(false).Encoded(false).Sortable(false);

                        columns.Add(model => model.FirstName).Titled("First Name")
                        .Filterable(true).Sanitized(false).Encoded(false).Sortable(false);

                        columns.Add(model => model.LastName).Titled("Last Name")
                        .Filterable(true).Sanitized(false).Encoded(false).Sortable(false);

                        columns.Add(model => model.BranchName).Titled("Branch Name")
                       .Filterable(true).Sanitized(false).Encoded(false).Sortable(false);

                        columns.Add(model => model.Roles).Titled("Roles")
                       .Filterable(true).Sanitized(false).Encoded(false).Sortable(false);

                        columns.Add(model => model.Commands).Titled("")
                         .Filterable(true).Sanitized(false).Encoded(false).
                           RenderValueAs(model => Html.ActionLink("Edit",
                             "edituser", "account", new { id = model.Id }, null)
                               .ToHtmlString());
                    }).WithPaging(10).Sortable(true).EmptyText("There are no users.")
        </fieldset>
    </div>
</body>
</html> 