﻿@model Nikopeshe.Entity.DataModels.UserInfo

@{
    ViewBag.Title = "User Details";

    var rolename = ViewBag.RoleName as string;

    var username = ViewBag.Username as string;   
}

<div>
    <fieldset>
        <legend>Details for @username</legend>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.UserName)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.UserName)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.FirstName)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.FirstName)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.LastName)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.LastName)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.Email)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.Email)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.IsApproved)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.IsApproved)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.IsLockedOut)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.IsLockedOut)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.CreatedDate)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.CreatedDate)
        </div>
        
        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.Roles)</b>
        </div>

        <div class="display-field">
            @Html.DisplayName(@rolename)
        </div>       
    </fieldset>
</div>
<p>    
    @Html.ActionLink("Back to List", "Index")
</p>
