﻿@using Nikopeshe.WebApplication.Extensions
@model Nikopeshe.WebApplication.Models.GraduatedScalePartialViewModel
@{
    ViewBag.Title = "New Charge";
    
}

<h1><b>Create Charge Graduated Scale</b></h1>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false, "Operation was unsuccessful. Please correct the errors and try again.")
    <fieldset>
        <legend>Fill in below details.</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.LowerLimit)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LowerLimit)
            @Html.ValidationMessageFor(model => model.LowerLimit)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UpperLimit)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UpperLimit)
            @Html.ValidationMessageFor(model => model.UpperLimit)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ChargeType)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => model.ChargeType, "Select Charge Type")
            @Html.ValidationMessageFor(model => model.ChargeType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ChargePercentage)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ChargePercentage)
            @Html.ValidationMessageFor(model => model.ChargePercentage)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ChargeFixedAmount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ChargeFixedAmount)
            @Html.ValidationMessageFor(model => model.ChargeFixedAmount)
        </div>
    </fieldset>
}


