﻿@model Nikopeshe.Entity.DataModels.LoanProduct
@using Nikopeshe.WebApplication.Models
@using Nikopeshe.WebApplication.Extensions

@{
    ViewBag.Title = "New Loan Product";

    var accountselectlist = ViewBag.GLAccountSelectList as List<SelectListItem>;
    var interestChargeType = ViewBag.InterestChargeTypeCheckList as List<CheckBoxListInfo>;
    var incomeGL = ViewBag.IncomeGLAccount as List<SelectListItem>;
    var chargeinfo = ViewBag.CheckBoxList as List<CheckBoxListInfo>;
}

<script type="text/javascript">
    $(function () {
        $('input.unique').click(function () {
            $('input.unique:checked').not(this).removeAttr('checked');
        });
    });
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "Operation was unsuccessful. Please correct the errors and try again.")
    <fieldset>
        <legend>Loan Product Details</legend>
        <div class="form-group">
            <div class="editor-label">
                @Html.LabelFor(model => model.ProductName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ProductName)
                @Html.ValidationMessageFor(model => model.ProductName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.InterestChargeType)
            </div>
            <div class="editor-field">
                @Html.Raw(Html.CheckBoxList("InterestChargeType", interestChargeType, new { @class = "unique" }))
                @Html.ValidationMessageFor(model => model.InterestChargeType)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.InterestValue)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.InterestValue)
                @Html.ValidationMessageFor(model => model.InterestValue)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Term)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Term)
                @Html.ValidationMessageFor(model => model.Term)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.MinimumAmount)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.MinimumAmount)
                @Html.ValidationMessageFor(model => model.MinimumAmount)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.MaximumAmount)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.MaximumAmount)
                @Html.ValidationMessageFor(model => model.MaximumAmount)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.DefaultLoanAmount)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.DefaultLoanAmount)
                @Html.ValidationMessageFor(model => model.DefaultLoanAmount)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.LoanGLAccountId, "Loan GL Account")
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.LoanGLAccountId, accountselectlist)
                @Html.ValidationMessageFor(model => model.LoanGLAccountId)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.InterestGLAccountId, "Interest Account GL")
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.InterestGLAccountId, incomeGL)
                @Html.ValidationMessageFor(model => model.InterestGLAccountId)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.PaymentFrequencyType)
            </div>
            <div class="editor-field">
                @Html.EnumDropDownListFor(model => model.PaymentFrequencyType, "Payment Frequency")
                @Html.ValidationMessageFor(model => model.PaymentFrequencyType)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.PrincipalRecoveryMethod)
            </div>
            <div class="editor-field">
                @Html.EnumDropDownListFor(model => model.PrincipalRecoveryMethod, "Pricipal Recovery Method")
                @Html.ValidationMessageFor(model => model.PrincipalRecoveryMethod)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.IsEnabled)
            </div>
            <div class="editor-field">
                @Html.CheckBoxFor(model => model.IsEnabled)
                @Html.ValidationMessageFor(model => model.IsEnabled)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.IsMicroLoan)
            </div>
            <div class="editor-field">
                @Html.CheckBoxFor(model => model.IsMicroLoan)
                @Html.ValidationMessageFor(model => model.IsMicroLoan)
            </div>

            @if (chargeinfo.Count != 0)
            {
                <div class="editor-label">
                    <b>@Html.LabelFor(model => model.Charges)</b>
                </div>
                <div class="editor-field">
                    @Html.Raw(Html.CheckBoxList("Charge", chargeinfo))
                </div>
            }

            <div class="editor-field"><input type="submit" value="Save" class="btn btn-default" /></div>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
