﻿@{
    ViewBag.Title = "Products";
}
<fieldset>
    <legend>Products</legend>
    <ol>
        <li> @Html.ActionLink("Loan Products", "LoanProducts", "Products")</li>
        <li> @Html.ActionLink("Savings Products", "SavingsProduct", "Products")</li>       
    </ol>
</fieldset>
