﻿@model Nikopeshe.Entity.DataModels.SavingsProduct

@{
    ViewBag.Title = "Loan Product Details";

    var productname = ViewBag.SavingsProductname as string;
}

<div>
    <fieldset>
        <legend>Details for @productname</legend>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.ProductName)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.ProductName)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.ProductCode)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.ProductCode)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.IsDefault)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.IsDefault)
        </div>
        
        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.IsEnabled)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.IsEnabled)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.CreatedDate)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.CreatedDate)
        </div>
    </fieldset>
</div>
<p>
    @Html.ActionLink("Edit", "editproduct", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "SavingsProduct")
</p>
