﻿@{
    ViewBag.Title = "Application";
}
<fieldset>
    <legend>Application</legend>
    <ol>
        <li> @Html.ActionLink("Chart of Accounts", "chartofaccountslist", "ChartofAccount")</li>
        <li> @Html.ActionLink("General Ledger Mappings", "Index", "SystemGeneralLedgerAccountMapping")</li>
        <li> @Html.ActionLink("Products", "Index", "Products")</li> 
        <li> @Html.ActionLink("Charges", "Index", "Charges")</li>  
        <li> @Html.ActionLink("Graduated Scale", "Index", "GraduatedScale")</li>
        <li> @Html.ActionLink("Settings", "Settings", "Application")</li>
        <li> @Html.ActionLink("Branches", "Index", "Branch")</li>         
        <li> @Html.ActionLink("Content", "Create", "Dashboard")</li>        
        <li> @Html.ActionLink("Relationship Manager", "Index", "RelationshipManager")</li>  
        <li> @Html.ActionLink("Reports", "Index", "Report")</li> 
        <li> @Html.ActionLink("Audit Log", "auditlogs", "Application")</li>        
    </ol>
</fieldset>
