﻿
@{
    ViewBag.Title = "Index";
    var pendingconfirmationc2b = ViewBag.PendingConfirmationC2B;
    var pendingemails = ViewBag.PendingEmails;
    var pendingprocessingc2b = ViewBag.PendingProcessingC2B;
    var queuedemails = ViewBag.QueuedEmails;
}

<fieldset>
    <legend>Dashboard</legend>
    <table style="width:30%" border="1">
        <tr>
            <td>Pending Confirmation C2B</td>
            <td>@pendingconfirmationc2b</td>
        </tr>

        <tr>
            <td>Pending Processing C2B</td>
            <td>@pendingprocessingc2b</td>
        </tr>

        <tr>
            <td>Pending Emails</td>
            <td>@pendingemails</td>
        </tr>

        <tr>
            <td>Queued Emails</td>
            <td>@queuedemails</td>
        </tr>
    </table>
</fieldset>


