﻿@{
    ViewBag.Title = "Password Reset Successfully";
}
<fieldset>
    <legend>Password Reset Successfully</legend>
    We have sent you an email with further instructions for completing the password recovery process. Kindly check your mailbox.
</fieldset>