﻿@model Nikopeshe.Entity.DataModels.PasswordRecoveryRequest

@{
    ViewBag.Title = "Forgot Password";

    var securityquestions = ViewBag.SecurityQuestions as List<SelectListItem>;        
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
                
    <fieldset>
        <legend>Password Recovery Request</legend>
        @Html.ValidationSummary(false)

        <div class="display-label">
            @Html.LabelFor(model => model.UserName)
         </div>
        <div class="display-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>       

        <div class="editor-field"><input type="submit" value="Submit" class="btn btn-default" /></div>
    </fieldset>
}

