﻿@using Nikopeshe.WebApplication.Controllers
@using Microsoft.Web.Mvc;
@{
    ViewBag.Title = "Membership";

    //var islockedout = ViewBag.IsUserLockedOut; 
}
<h2>
    Membership
</h2>
<script type="text/javascript">
    $(document).ready(function () {

        $('#usersGrid').dataTable({
            // Ajax settings
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "@(Url.Action("GetAllUsers", "Account"))",
            "sServerMethod": "POST",
            // Callback settings
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                /* row manipulation */

                var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));

                var h = ("0" + createdDate.getHours()).slice(-2);
                var m = ("0" + createdDate.getMinutes()).slice(-2);
                var s = ("0" + createdDate.getSeconds()).slice(-2);

                var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;

                $('td:eq(0)', nRow).html(dt_Created);

                $('td:eq(7)', nRow).html('<a href="/Account/ViewUser/' + aData.UserName + '">' + "View" + '</a>' + ' | ' + '<a href="/Account/EditUser/' + aData.Id + '">' + "Edit" + '</a>');
                
                /* return*/
                return nRow;
            },
            // Display settings
            "iDisplayLength": 10,
            "bJQueryUI": true,
            "aaSorting": [[0, "asc"]],
            "aoColumns": [
            { "mDataProp": "CreatedDate", "sTitle": "Date Created" },
            { "mDataProp": "UserName", "sTitle": "User Name" },
            { "mDataProp": "Email", "sTitle": "Email" },
            { "mDataProp": "FirstName", "sTitle": "First Name" },
            { "mDataProp": "LastName", "sTitle": "Last Name" },
            { "mDataProp": "Branch.BranchName", "sTitle": "Branch Name" },
            { "mDataProp": "IsApproved", "sTitle": "Is Approved?" },
            { "mDataProp": "IsLockedOut", "sTitle": "Is Locked Out?" },            
            { "mDataProp": "Commands", "sTitle": "", "bSortable": false }],
        });
    });

</script>
<div>
    <fieldset>
        <legend>Users</legend>
        <table cellpadding="0" cellspacing="1" id="usersGrid">
            <tbody>
                <tr>
                    <td colspan="6" class="dataTables_empty">
                        Loading data from server
                    </td>
                </tr>
            </tbody>
        </table>
        @{
            if (Roles.IsUserInRole("Administrator"))
            {
                <p>
                    @(Html.ActionLink<AccountController>(x => x.Register(), "Create User"))
                </p>
            }
        }
    </fieldset>
</div>