﻿@using Nikopeshe.WebApplication.Controllers
@using Microsoft.Web.Mvc;
@*@using GridMvc.Html;*@
@model IEnumerable<Nikopeshe.WebApplication.Models.SystemRoles>

@{
    ViewBag.Title = "Membership";    
}
<h2>
    Membership
</h2>
<script type="text/javascript">
    $(document).ready(function () {

        $('#usersGrid').dataTable({
            // Ajax settings
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "@(Url.Action("GetAllMembersList", "Account"))",
            "sServerMethod": "POST",
            // Callback settings
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                /* row manipulation */

                var createdDate = new Date(parseInt(aData.CreationDate.replace("/Date(", "").replace(")/", ""), 10));

                var lastactivitydate = new Date(parseInt(aData.LastActivityDate.replace("/Date(", "").replace(")/", ""), 10));

                var lastlogindate = new Date(parseInt(aData.LastLoginDate.replace("/Date(", "").replace(")/", ""), 10));

                var h1 = ("0" + createdDate.getHours()).slice(-2);
                var m1 = ("0" + createdDate.getMinutes()).slice(-2);
                var s1 = ("0" + createdDate.getSeconds()).slice(-2);

                var h2 = ("3" + lastactivitydate.getHours()).slice(-2);
                var m2 = ("3" + lastactivitydate.getMinutes()).slice(-2);
                var s2 = ("3" + lastactivitydate.getSeconds()).slice(-2);

                var h3 = ("4" + lastlogindate.getHours()).slice(-2);
                var m3 = ("4" + lastlogindate.getMinutes()).slice(-2);
                var s3 = ("4" + lastlogindate.getSeconds()).slice(-2);

                var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h1 + ":" + m1 + ":" + s1;

                var dt_lastactivitydate = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h2 + ":" + m2 + ":" + s2;

                var dt_lastlogindate = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h3 + ":" + m3 + ":" + s3;

                $('td:eq(0)', nRow).html(dt_Created);

                $('td:eq(3)', nRow).html(dt_lastactivitydate);

                $('td:eq(4)', nRow).html(dt_lastlogindate);

                if (aData.IsLockedOut == 1 || aData.IsApproved == 0) {

                    $('td:eq(8)', nRow).html('<a href="/Account/UnlockUser/' + aData.UserName + '">' +
                    "Unlock" + '</a>');

                }
                else {
                    $('td:eq(8)', nRow).html('<a href="/Account/LockUser/' + aData.UserName + '">' +
                    "Lock" + '</a>');
                }
               

                /* return*/
                return nRow;
            },
            // Display settings
            "iDisplayLength": 10,
            "bJQueryUI": true,
            "aaSorting": [[0, "asc"]],
            "aoColumns": [
            { "mDataProp": "CreationDate", "sTitle": "Creation Date" },
            { "mDataProp": "UserName", "sTitle": "User Name" },
            { "mDataProp": "Email", "sTitle": "Email" },
            { "mDataProp": "LastActivityDate", "sTitle": "Last Activity Date" },
            { "mDataProp": "LastLoginDate", "sTitle": "Last Login Date" },
            { "mDataProp": "IsOnline", "sTitle": "Is Online?" },
            { "mDataProp": "IsApproved", "sTitle": "Is Approved" },
            { "mDataProp": "IsLockedOut", "sTitle": "Is Locked Out" },
            { "mDataProp": "ProviderName", "sTitle": "", "bSortable": false }],
        });
    });

</script>
<div>    
    <fieldset>       
        <legend>Members</legend>
        <div><p><p> @Html.ActionLink("Create User", "Register", "Account", null, new { @class = "classname" })</p></div>
        <table cellpadding="0" cellspacing="1" id="usersGrid">
            <tbody>
                <tr>
                    <td colspan="6" class="dataTables_empty">
                        Loading data from server
                    </td>
                </tr>
            </tbody>
        </table>        
    </fieldset>
</div>

@*<div style="width:500px;">
    <fieldset>
        <legend>Roles</legend>
        @Html.Grid(Model).Columns(columns =>
                    {
                        columns.Add(model => model.RoleName).Titled("")
                         .Filterable(true);

                        columns.Add(model => model.Actions).Titled("UsersInRole")
                         .Filterable(true).Sanitized(false).Encoded(false).
                           RenderValueAs(model => Html.ActionLink("Users In Role",
                             "usersinrole", "account", new { id = model.RoleName }, null)
                               .ToHtmlString());

                    }).WithPaging(10).Sortable(true)
    </fieldset>
</div>*@