﻿@model Nikopeshe.Entity.DataModels.UserInfo
@{
    ViewBag.Title = "Register";

    var roleslist = ViewBag.Roles as IEnumerable<SelectListItem>;

    var BranchSelectList = ViewBag.BranchesSelectList as IList<SelectListItem>;
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <fieldset>
    <legend>Fill in the form</legend>
    
    @Html.ValidationSummary()
        <div class="form-group">
            <div class="editor-label">
                @Html.LabelFor(model => model.BranchId)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.BranchId, BranchSelectList)
                @Html.ValidationMessageFor(model => model.BranchId)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.UserName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.FirstName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.LastName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>


            <div class="editor-label">
                @Html.LabelFor(model => model.Email)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.IsApproved)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.IsApproved)
                @Html.ValidationMessageFor(model => model.IsApproved)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.IsLockedOut)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.IsLockedOut)
                @Html.ValidationMessageFor(model => model.IsLockedOut)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Roles)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.Roles, roleslist)
                @Html.ValidationMessageFor(model => model.Roles)
            </div>
           
            <div class="editor-field"><input type="submit" value="Save" class="btn btn-default" /></div>
            </div>
        </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
