﻿@model Nikopeshe.Entity.DataModels.PasswordRecoveryRequest
@{
    ViewBag.Title = "Reset Password";

    var securityquestions = ViewBag.SecurityQuestions as List<SelectListItem>;

    var username = TempData["Username"] as string;
}

@using (Html.BeginForm())
{   
    @Html.AntiForgeryToken()
    
    <fieldset>
        <legend>Password Recovery Request</legend>
        @Html.ValidationSummary(false)

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.UserName)</b>
        </div>
        <div class="display-field">
            @Html.TextBoxFor(model => model.UserName, new { @Value = username })
        </div>       
        <div class="editor-field"><input type="submit" value="Submit" class="btn btn-default" /></div>
    </fieldset>
}

