﻿@using Nikopeshe.WebApplication.Extensions
@using Nikopeshe.Data.Mappings
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store" />
    <meta http-equiv="Pragma" content="no-cache" />
    <title>@DefaultSettings.Instance.ApplicationDisplayName - @ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="~/scripts/datatables/jquery.datatables.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <link href="~/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/DataTables/css/jquery.dataTables_themeroller.css" rel="stylesheet" type="text/css" />
    <link href="~/content/tabs.css" rel="stylesheet" type="text/css" />
    <script src="~/content/popup.js"></script>

    <link href="@Url.Content("~/Content/jquery-ui-timepicker-addon.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-ui-timepicker-addon.min.js")" type="text/javascript"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @*@Scripts.Render("~/bundles/knockout")*@
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/jqueryui")
    @Styles.Render("~/Content/bootstrap")

    <style>
        .modal-content {
            width: 1000px !important;
            margin: 60px auto !important;
        }
    </style>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                var target = $(e.target).attr("href")
                alert(target);
            });
        })
    </script>
    <script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-unified-export-file-1.0.js")" type="text/javascript"></script>
    <!--This bundle was moved by the Telerik VS Extensions for compatibility reasons-->
    @Scripts.Render("~/bundles/jquery")
    <!--This CSS entry was added by the Telerik VS Extensions for compatibility reasons-->
    <link href="@Url.Content("~/Content/kendo.compatibility.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.1.112/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.1.112/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.1.112/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.1.112/kendo.default.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.1.112/kendo.dataviz.default.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/kendo/2016.1.112/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.1.112/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.1.112/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.1.112/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse">
                <span class="logonew">
                    <p></p>
                </span>
                <div class="navbar-top">
                    @Html.Partial("_LoginPartial")
                    @if (Roles.IsUserInRole("Customer"))
                    {
                        if (ValidateLoanRequestDocumentAvailability.LoanRequestDocumentValidation())
                        {
                            @Html.Partial("_CustomerDialog")
                        }
                    }

                </div>
                <div class="navbar-bottom">
                    <ul id="menu">
                        @if (Request.IsAuthenticated)
                        {
                            if (Roles.IsUserInRole("Customer"))
                            {
                                <li class='@Html.IsActive("Customer", "Dashboard")'>
                                    @Html.ActionLink("Dashboard", "Dashboard", "Customer", null, new { @class = "navbar-brand" })
                                </li>
                                <li class='@Html.IsActive("Customer", "loanrequestlist")'>
                                    @Html.ActionLink("Loan Requests", "loanrequestlist", "Customer", null, new { @class = "navbar-brand" })
                                </li>
                                <li class='@Html.IsActive("LoanTransactionHistory", "loanhistory")'>
                                    @Html.ActionLink("Loan History", "loanhistory", "LoanTransactionHistory", null, new { @class = "navbar-brand" })
                                </li>
                                <li class='@Html.IsActive("SelfRegistered", "Index")'>
                                    @Html.ActionLink("Upload Document", "Index", "SelfRegistered", null, new { @class = "navbar-brand" })
                                </li>
                                <li class='@Html.IsActive("Loanrequest", "Index")'>
                                    @Html.ActionLink("Profile", "customerprofile", "Customer", null, new { @class = "navbar-brand" })
                                </li>
                                <li class='@Html.IsActive("Report", "Index")'>
                                    @Html.ActionLink("Reports", "Index", "Reports", null, new { @class = "navbar-brand" })
                                </li>

                            }
                            else if (Roles.IsUserInRole("Administrator"))
                            {
                                <li class='@Html.IsActive("Dashboard", "Dashboard")'>
                                    @Html.ActionLink("Dashboard", "Dashboard", "Dashboard", null, new { @class = "navbar-brand" })
                                </li>
                                <li class='@Html.IsActive("Customer", "Index")'>
                                    @Html.ActionLink("Members", "Index", "Customer", null, new { @class = "navbar-brand" })
                                </li>
                                <li class='@Html.IsActive("LoanOfficer", "Index")'>
                                    @Html.ActionLink("Groups", "Index", "LoanOfficer", null, new { @class = "navbar-brand" })
                                </li>
                                <li class='@Html.IsActive("Loanrequest", "Index")'>
                                    @Html.ActionLink("Loan Requests", "Index", "Loanrequest", null, new { @class = "navbar-brand" })
                                </li>

                                <li class='@Html.IsActive("Transactions", "Index")'>
                                    @Html.ActionLink("Transactions", "Payments", "Repayment", null, new { @class = "navbar-brand" })
                                </li>
                                <li class='@Html.IsActive("Account", "MembershipList")'>
                                    @Html.ActionLink("User Management", "MembershipList", "Account", null, new { @class = "navbar-brand" })
                                </li>
                                /*<li class='@Html.IsActive("Table Banking", "TableBanking")'>
                                    @*@Html.ActionLink("Table Banking", "Index", "Report", null, new { @class = "navbar-brand" })*@
                                    <a target="_blank" href="http://54.191.168.92:81/table_banker/dashboard_codes/1_jcb_director/index.php" class="navbar-brand">Table Banking</a>
                                </li>*/
                                <li class='@Html.IsActive("Application Settings", "Index")'>
                                    @Html.ActionLink("Application Settings", "Index", "Application", null, new { @class = "navbar-brand" })
                                </li>
                                <li class='@Html.IsActive("Report", "Index")'>
                                    @Html.ActionLink("Reports", "Index", "Report", null, new { @class = "navbar-brand" })
                                </li>
                            }

                            else if (Roles.IsUserInRole("LoanOfficer"))
                            {
                                <li class='@Html.IsActive("Dashboard", "Dashboard")'>
                                    @Html.ActionLink("Dashboard", "Dashboard", "Dashboard", null, new { @class = "navbar-brand" })
                                </li>
                                <li class='@Html.IsActive("Customer", "Index")'>
                                    @Html.ActionLink("Members", "Index", "Customer", null, new { @class = "navbar-brand" })
                                </li>
                                <li class='@Html.IsActive("LoanOfficer", "Index")'>
                                    @Html.ActionLink("Groups", "Index", "LoanOfficer", null, new { @class = "navbar-brand" })
                                </li>
                                <li class='@Html.IsActive("Loanrequest", "LoanRequestList")'>
                                    @Html.ActionLink("Loan Requests", "LoanRequestList", "Loanrequest", null, new { @class = "navbar-brand" })
                                </li>
                                <li class='@Html.IsActive("Table Banking", "TableBanking")'>
                                    @*@Html.ActionLink("Table Banking", "Index", "Report", null, new { @class = "navbar-brand" })*@
                                    <a target="_blank" href="http://54.191.168.92:81/table_banker/dashboard_codes/1_jcb_director/index.php" class="navbar-brand">Table Banking</a>
                                </li>
                                <li class='@Html.IsActive("Report", "Index")'>
                                    @Html.ActionLink("Reports", "Index", "Report", null, new { @class = "navbar-brand" })
                                </li>
                                
                            }

                            else if (Roles.IsUserInRole("LoanManager"))
                            {
                                <li class='@Html.IsActive("Dashboard", "Dashboard")'>
                                    @Html.ActionLink("Dashboard", "Dashboard", "Dashboard", null, new { @class = "navbar-brand" })
                                </li>
                                <li class='@Html.IsActive("LoanManager", "Index")'>
                                    @Html.ActionLink("Loan Requests", "Index", "LoanManager", null, new { @class = "navbar-brand" })
                                </li>
                                <li class='@Html.IsActive("Customer", "Index")'>
                                    @Html.ActionLink("Members", "Index", "Customer", null, new { @class = "navbar-brand" })
                                </li>
                                <li class='@Html.IsActive("Report", "Index")'>
                                    @Html.ActionLink("Reports", "Index", "Report", null, new { @class = "navbar-brand" })
                                </li>
                            }
                            
                            else if (Roles.IsUserInRole("DataManager"))
                            {                                
                                <li class='@Html.IsActive("LoanOfficer", "Index")'>
                                    @Html.ActionLink("Groups", "Index", "LoanOfficer", null, new { @class = "navbar-brand" })
                                </li>
                                <li class='@Html.IsActive("LoanOfficer", "CustomerList")'>
                                    @Html.ActionLink("Members", "Index", "Customer", null, new { @class = "navbar-brand" })
                                </li>                                
                            }

                            else if (Roles.IsUserInRole("FinanceManager"))
                            {
                                <li class='@Html.IsActive("Dashboard", "Dashboard")'>
                                    @Html.ActionLink("Dashboard", "Dashboard", "Dashboard", null, new { @class = "navbar-brand" })
                                </li>
                                <li class='@Html.IsActive("FinanceManager", "Index")'>
                                    @Html.ActionLink("Loan Requests", "Index", "FinanceManager", null, new { @class = "navbar-brand" })
                                </li>
                                <li class='@Html.IsActive("FinanceManager", "CustomerList")'>
                                    @Html.ActionLink("Members", "CustomerList", "FinanceManager", null, new { @class = "navbar-brand" })
                                </li>
                                <li class='@Html.IsActive("Transactions", "Index")'>
                                    @Html.ActionLink("Transactions", "Payments", "Repayment", null, new { @class = "navbar-brand" })
                                </li>
                                <li class='@Html.IsActive("FinanceManager", "JournalVoucherEntry")'>
                                    @Html.ActionLink("Journal", "JournalVoucherEntry", "FinanceManager", null, new { @class = "navbar-brand" })
                                </li>
                                <li class='@Html.IsActive("Report", "Index")'>
                                    @Html.ActionLink("Reports", "Index", "Report", null, new { @class = "navbar-brand" })
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="breadcrumbs">
            @if (Html.MvcSiteMap().SiteMap.CurrentNode != Html.MvcSiteMap().SiteMap.RootNode)
            {
                @Html.MvcSiteMap().SiteMapPath()
            }
        </div>
        @if (Request.IsAuthenticated)
        {
            @Html.Raw(Html.HeadsUp())
            @*<div class="sublinks"><ul><li><a href="http://localhost:56454/Loanrequest/allloanrequest" target="_blank">Pending Approval (0)</a></li><li><a href="http://app.pycs.co.ke/Reports/Pages/Report.aspx?ItemPath=%2fFFI+Reports%2fPayments+at+Credit+Approval" target="_blank">Pending Processing (0)</a></li><li><a href="http://app.pycs.co.ke/Reports/Pages/Report.aspx?ItemPath=%2fFFI+Reports%2fPayments+at+Credit+Approval" target="_blank">Credit Review (0)</a></li></ul></div>*@
            <br clear="all" />
        }

        @RenderBody()
        <hr />
        <footer>
            <span>@DefaultSettings.Instance.ApplicationDisplayName&nbsp;&copy;&nbsp;@DateTime.Now.Year</span>
        </footer>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("input").attr("autocomplete", "off");
        });
        // $(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);
    </script>

    <div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-content">
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            // Initialize numeric spinner input boxes
            //$(".numeric-spinner").spinedit();

            // Initalize modal dialog
            // attach modal-container bootstrap attributes to links with .modal-link class.
            // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
            $('body').on('click', '.modal-link', function (e) {
                e.preventDefault();
                $(this).attr('data-target', '#modal-container');
                $(this).attr('data-toggle', 'modal');
            });

            // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
            $('body').on('click', '.modal-close-btn', function () {
                $('#modal-container').modal('hide');
            });

            //clear modal cache, so that new content can be loaded
            $('#modal-container').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });

            $('#CancelModal').on('click', function () {
                return false;
            });
        });
    </script>

    @*@Scripts.Render("~/bundles/knockout")*@
    @Scripts.Render("~/bundles/bootstrap")
    @*@Scripts.Render("~/bundles/datetime")*@
    @Scripts.Render("~/bundles/jqueryui")

    @RenderSection("scripts", required: false)
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
</body>
</html>
