﻿@using Nikopeshe.Entity.DataModels
@using Nikopeshe.WebApplication.Controllers
@using Microsoft.Web.Mvc

<button id="btnShowMyTab">M-Pesa Repayments</button>

<div style="width: 1150px;">
    <div id="tabstrip">
        <ul>
            <li class="k-state-active">
                Suspense
            </li>
            <li>
                Processed
            </li>
            <li>
                All
            </li>            
        </ul>
        <div>
            <script type="text/javascript">
            $(document).ready(function () {
                $('#suspense').dataTable({
                    // Ajax settings
                    "sPaginationType": "full_numbers",
                    "bProcessing": true,
                    "bServerSide": true,
                    "sAjaxSource": "@(Url.Action("SuspenseAndUnknownTransactionsByStatusFilterInPage", "C2BNotification" ))",
                    "sServerMethod": "POST",
                    // Callback settings
                    "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                        /* row manipulation */
                        var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));

                        var h = ("0" + createdDate.getHours()).slice(-2);
                        var m = ("0" + createdDate.getMinutes()).slice(-2);
                        var s = ("0" + createdDate.getSeconds()).slice(-2);

                        var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;

                        $('td:eq(0)', nRow).html(dt_Created);

                        var value = aData.TransAmount;
                        var num = value.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");

                        $('td:eq(6)', nRow).html(num);

                        $('td:eq(8)', nRow).html('<a href="/financemanager/journalvoucher/' + aData.Id + '">' + "Create Journal");

                        return nRow;
                    },
                    // Display settings
                    "iDisplayLength": 10,
                    "bJQueryUI": true,
                    "aaSorting": [[0, "desc"]],
                    "aoColumns": [
                    { "mDataProp": "CreatedDate", "sTitle": "Created Date" },
                    { "mDataProp": "BillRefNumber", "sTitle": "Bill Ref No.", "sWidth": "7%" },
                    { "mDataProp": "BusinessShortCode", "sTitle": "B. Short Code", "sWidth": "12%" },
                    { "mDataProp": "FullName", "sTitle": "Payee Name", "sWidth": "15%" },
                    { "mDataProp": "MSISDN", "sTitle": "Mobile No." },
                    { "mDataProp": "StatusDesc", "sTitle": "Status" },
                    { "mDataProp": "TransAmount", "sTitle": "Trans Amount", "sWidth": "5%" },
                    { "mDataProp": "TransID", "sTitle": "TransID" },
                    { "mDataProp": "Commands", "sTitle": "", "bSortable": false }]
                });
            });

            </script>
            <table cellpadding="0" cellspacing="1" id="suspense">
                <tbody>
                    <tr>
                        <td colspan="7" class="dataTables_empty">
                            Loading data from server
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>        
        <div>
            <script type="text/javascript">
            $(document).ready(function () {
                $('#processed').dataTable({
                    // Ajax settings
                    "sPaginationType": "full_numbers",
                    "bProcessing": true,
                    "bServerSide": true,
                    "sAjaxSource": "@(Url.Action("C2BTransactionsByStatusFilterInPage", "C2BNotification"))",
                    "sServerMethod": "POST",
                    // Callback settings
                    "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                        /* row manipulation */
                        var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));

                        var h = ("0" + createdDate.getHours()).slice(-2);
                        var m = ("0" + createdDate.getMinutes()).slice(-2);
                        var s = ("0" + createdDate.getSeconds()).slice(-2);

                        var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;

                        $('td:eq(0)', nRow).html(dt_Created);

                        var value = aData.TransAmount;
                        var num = value.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");

                        $('td:eq(6)', nRow).html(num);

                        $('td:eq(8)', nRow).html('<a href="/c2bnotification/reverse/' + aData.Id + '">' + "Reverse" + '</a>');

                        return nRow;
                    },
                    // Display settings
                    "iDisplayLength": 10,
                    "bJQueryUI": true,
                    "aaSorting": [[0, "desc"]],
                    "aoColumns": [
                    { "mDataProp": "CreatedDate", "sTitle": "Created Date" },
                    { "mDataProp": "BillRefNumber", "sTitle": "Bill Ref No.", "sWidth": "7%" },
                    { "mDataProp": "BusinessShortCode", "sTitle": "B. Short Code", "sWidth": "12%" },
                    { "mDataProp": "FullName", "sTitle": "Payee Name", "sWidth": "15%" },
                    { "mDataProp": "MSISDN", "sTitle": "Mobile No." },
                    { "mDataProp": "StatusDesc", "sTitle": "Status" },
                    { "mDataProp": "TransAmount", "sTitle": "Trans Amount", "sWidth": "5%" },
                    { "mDataProp": "TransID", "sTitle": "TransID" },
                    { "mDataProp": "Commands", "sTitle": "", "bSortable": false }]
                });
            });

            </script>
            <table cellpadding="0" cellspacing="1" id="processed">
                <tbody>
                    <tr>
                        <td colspan="7" class="dataTables_empty">
                            Loading data from server
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
            <div>
                <script type="text/javascript">
                $(document).ready(function () {
                    $('#all').dataTable({
                        // Ajax settings
                        "sPaginationType": "full_numbers",
                        "bProcessing": true,
                        "bServerSide": true,
                        "sAjaxSource": "@(Url.Action("C2BTransactionsFilterInPage", "C2BNotification"))",
                        "sServerMethod": "POST",
                        // Callback settings
                        "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                            /* row manipulation */
                            var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));

                            var h = ("0" + createdDate.getHours()).slice(-2);
                            var m = ("0" + createdDate.getMinutes()).slice(-2);
                            var s = ("0" + createdDate.getSeconds()).slice(-2);

                            var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;

                            $('td:eq(0)', nRow).html(dt_Created);

                            var value = aData.TransAmount;
                            var num = value.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");

                            $('td:eq(6)', nRow).html(num);

                            return nRow;
                        },
                        // Display settings
                        "iDisplayLength": 10,
                        "bJQueryUI": true,
                        "aaSorting": [[0, "desc"]],
                        "aoColumns": [
                        { "mDataProp": "CreatedDate", "sTitle": "Created Date" },
                        { "mDataProp": "BillRefNumber", "sTitle": "Bill Ref No.", "sWidth": "7%" },
                        { "mDataProp": "BusinessShortCode", "sTitle": "B. Short Code", "sWidth": "12%" },
                        { "mDataProp": "FullName", "sTitle": "Payee Name", "sWidth": "15%" },
                        { "mDataProp": "MSISDN", "sTitle": "Mobile No." },
                        { "mDataProp": "StatusDesc", "sTitle": "Status" },
                        { "mDataProp": "TransAmount", "sTitle": "Trans Amount", "sWidth": "5%" },
                        { "mDataProp": "TransID", "sTitle": "TransID" }]
                    });
                });

                </script>
                <table cellpadding="0" cellspacing="1" id="all">
                    <tbody>
                        <tr>
                            <td colspan="7" class="dataTables_empty">
                                Loading data from server
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        
    </div>
</div>

<script>
    $("#btnShowMyTab").click(function (e) {
        var tabstrip = $("#tabstrip").data("kendoTabStrip");
        var myTab = tabstrip.tabGroup.children("li").eq(2);
        tabstrip.select(myTab);
    });

    $("#tabstrip").kendoTabStrip();

</script>