﻿@using Nikopeshe.Entity.DataModels
@using Nikopeshe.WebApplication.Controllers
@using Microsoft.Web.Mvc
@{
    ViewBag.Title = "C2B Notifications";

    var header = ViewBag.Header as string;
}

<body>
    <fieldset>
        <legend>C2B Notifications</legend>
    <h2>
        @Html.Raw(header)
    </h2>
    <script src="~/scripts/datatables/jquery.datatables.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#c2btransationsgrid').dataTable({
                // Ajax settings
                "sPaginationType": "full_numbers",
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "@(Url.Action("C2BTransactionsFilterInPage", "C2BNotification"))",
                "sServerMethod": "POST",
                // Callback settings
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    /* row manipulation */
                    var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));

                    var h = ("0" + createdDate.getHours()).slice(-2);
                    var m = ("0" + createdDate.getMinutes()).slice(-2);
                    var s = ("0" + createdDate.getSeconds()).slice(-2);

                    var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;

                    $('td:eq(0)', nRow).html(dt_Created);

                    var value = aData.TransAmount;
                    var num = value.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");

                    $('td:eq(6)', nRow).html(num);

                    $('td:eq(8)', nRow).html('<a href="/c2bnotification/reverse/' + aData.Id + '">' + "Reverse" + '</a>');

                    return nRow;
                },
                // Display settings
                "iDisplayLength": 10,
                "bJQueryUI": true,
                "aaSorting": [[0, "desc"]],
                "aoColumns": [
                { "mDataProp": "CreatedDate", "sTitle": "Created Date" },
                { "mDataProp": "BillRefNumber", "sTitle": "Bill Ref No.", "sWidth": "7%" },
                { "mDataProp": "BusinessShortCode", "sTitle": "B. Short Code", "sWidth": "12%" },
                { "mDataProp": "FullName", "sTitle": "Payee Name", "sWidth": "15%" },
                { "mDataProp": "MSISDN", "sTitle": "Mobile No." },
                { "mDataProp": "StatusDesc", "sTitle": "Status" },
                { "mDataProp": "TransAmount", "sTitle": "Trans Amount", "sWidth": "5%" },
                { "mDataProp": "TransID", "sTitle": "TransID" },
                { "mDataProp": "Commands", "sTitle": "", "bSortable": false }]
            });
        });

    </script>
    <div>
        <table cellpadding="0" cellspacing="1" id="c2btransationsgrid">
            <tbody>
                <tr>
                    <td colspan="7" class="dataTables_empty">
                        Loading data from server
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </fieldset>
</body>
