﻿@model Nikopeshe.Entity.DataModels.RelationshipManager
@using Nikopeshe.WebApplication.Extensions
@using Nikopeshe.WebApplication.Models
@{
    ViewBag.Title = "Edit Relationship Manager";

    var branchselectlist = ViewBag.branchedSelectList as List<SelectListItem>;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "Operation was unsuccessful. Please correct the errors and try again.")
    <fieldset>
        <legend>New Branch Details</legend>
        <div class="form-group">
            <div class="editor-label">
                @Html.LabelFor(model => model.BranchId)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.BranchId, branchselectlist)
                @Html.ValidationMessageFor(model => model.BranchId)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.FirstName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.LastName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.IDNumber)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.IDNumber)
                @Html.ValidationMessageFor(model => model.IDNumber)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.MobileNumber)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.MobileNumber)
                @Html.ValidationMessageFor(model => model.MobileNumber)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.EmailAddress)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.EmailAddress)
                @Html.ValidationMessageFor(model => model.EmailAddress)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.IsEnabled)
            </div>
            <div class="editor-field">
                @Html.CheckBoxFor(model => model.IsEnabled)
                @Html.ValidationMessageFor(model => model.IsEnabled)
            </div>

            <div class="editor-field"><input type="submit" value="Edit" class="btn btn-default" /></div>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
