﻿@using Nikopeshe.Entity.DataModels
@using Nikopeshe.WebApplication.Controllers
@using Microsoft.Web.Mvc
@using System.Globalization
@using Nikopeshe.WebApplication.Extensions
@{
    ViewBag.Title = "Relationship Managers";

    string header = ViewBag.Header as string;
}

<h2>
    @Html.Raw(header)
</h2>

<script type="text/javascript">
    $(document).ready(function () {
        $('#RelationshipManagerGrid').dataTable({
            "oLanguage": {
                "sInfoThousands": "'"
            },
            // Ajax settings
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "@(Url.Action("FindAllRelationshipManagers", "RelationshipManager"))",
            "sServerMethod": "POST",
            // Callback settings
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                /* row manipulation */

                var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));

                var h = ("0" + createdDate.getHours()).slice(-2);
                var m = ("0" + createdDate.getMinutes()).slice(-2);
                var s = ("0" + createdDate.getSeconds()).slice(-2);

                var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;

                $('td:eq(0)', nRow).html(dt_Created);

                $('td:eq(8)', nRow).html('<a href="/relationshipmanager/edit/' + aData.Id + '">' +
                    "Edit");
                
                return nRow;

            },
            // Display settings
            "iDisplayLength": 100,
            "bJQueryUI": true,
            "aaSorting": [[0, "desc"]],
            "aoColumns": [
            { "mDataProp": "CreatedDate", "sTitle": "Created Date" },
            { "mDataProp": "FirstName", "sTitle": "First Name" },
            { "mDataProp": "LastName", "sTitle": "Last Name" },
            { "mDataProp": "IDNumber", "sTitle": "ID Number" },
            { "mDataProp": "MobileNumber", "sTitle": "Mobile Number" },
            { "mDataProp": "EmailAddress", "sTitle": "EmailAddress" },
            { "mDataProp": "Branch.BranchName", "sTitle": "Branch Name" },
            { "mDataProp": "IsEnabled", "sTitle": "Is Enabled" },
            { "mDataProp": "Commands", "sTitle": "", "bSortable": false, "sWidth": "10%" }],
        });
    });

</script>
<div>
    <fieldset>
        <legend>Relationship Managers</legend>
        <div><p><p> @Html.ActionLink("Create RelationshipManager", "Create", "RelationshipManager", null, new { @class = "classname" })</p></div>
        <table cellpadding="0" cellspacing="1" id="RelationshipManagerGrid">
            <tbody>
                <tr>
                    <td colspan="20" class="myTable">
                        Loading data from server
                    </td>
                </tr>
            </tbody>
        </table>
        <div></div>
    </fieldset>
</div>

<style>
    a.classname {
        background-color: #d3dce0;
        border: 1px solid #787878;
        text-decoration: none;
        cursor: pointer;
        font-size: 1.1em;
        border-radius: 3px;
        font-weight: 600;
        padding: 7px;
        margin-right: 8px;
        width: auto;
    }

        a.classname:hover {
            background-color: #E2E4FF;
        }
</style>