﻿@using Nikopeshe.Entity.DataModels
@using Nikopeshe.WebApplication.Controllers
@using Microsoft.Web.Mvc
@{
    ViewBag.Title = "Branch List";

    var header = ViewBag.Header as string;
}

<h2>
    @Html.Raw(header)
</h2>
<script src="~/scripts/datatables/jquery.datatables.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#branchlistgrid').dataTable({
            // Ajax settings
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "@(Url.Action("GetAllBranches", "Branch"))",
            "sServerMethod": "POST",
            // Callback settings
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                /* row manipulation */
                var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));

                var h = ("0" + createdDate.getHours()).slice(-2);
                var m = ("0" + createdDate.getMinutes()).slice(-2);
                var s = ("0" + createdDate.getSeconds()).slice(-2);

                var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;

                $('td:eq(0)', nRow).html(dt_Created);

                $('td:eq(7)', nRow).html('<a href="/Branch/UpdateBranch/' + aData.Id + '">' + "Update Branch" + '</a>');

                return nRow;
            },
            // Display settings
            "iDisplayLength": 10,
            "bJQueryUI": true,
            "aaSorting": [[0, "desc"]],
            "aoColumns": [
            { "mDataProp": "CreatedDate", "sTitle": "Created Date" },
            { "mDataProp": "BranchName", "sTitle": "Branch Name" },
            { "mDataProp": "BranchCode", "sTitle": "Branch Code", "sWidth": "12%" },
            { "mDataProp": "Location", "sTitle": "Location", "sWidth": "12%" },
            { "mDataProp": "TypeDesc", "sTitle": "Type", "sWidth": "12%" },
            { "mDataProp": "C2BNumber", "sTitle": "Paybill Number", "sWidth": "12%" },
            { "mDataProp": "IsEnabled", "sTitle": "Is Opened?", "sWidth": "12%" },
            { "mDataProp": "Commands", "sTitle": "", "bSortable": false }]
        });
    });

</script>
<div>
    <fieldset>
        <legend>Branch List</legend>
        <div><p><p> @Html.ActionLink("Create New Branch", "AddNewBranch", "Branch", null, new { @class = "classname" })</p></div>
        <table cellpadding="0" cellspacing="1" id="branchlistgrid">
            <tbody>
                <tr>
                    <td colspan="7" class="dataTables_empty">
                        Loading data from server
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</div>

<style>
    a.classname {
        background-color: #d3dce0;
        border: 1px solid #787878;
        text-decoration: none;
        cursor: pointer;
        font-size: 1.1em;
        border-radius: 3px;
        font-weight: 600;
        padding: 7px;
        margin-right: 8px;
        width: auto;
    }

        a.classname:hover {
            background-color: #E2E4FF;
        }
</style>