﻿<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    @*<title>jQuery UI Dialog - Default functionality</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css">*@
    <script>
  $(function() {
    $( "#dialog" ).dialog();
  });
    </script>
</head>
<body>

    <div id="dialog" title="NB">
        <p>For your loan to be approved, you must provide the following documents:</p>
        <li>Latest Pay Slip.</li>
        <li>Loan Application Form.</li>
        <li>Last 6 Months Bank Statement.</li>        
    </div>
</body>
</html>
