﻿@using Microsoft.AspNet.Identity
@using Nikopeshe.WebApplication.Controllers;


@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                [Welcome @User.Identity.GetUserName()!]
            </li>
            @if (!Roles.IsUserInRole("Customer"))
            {
                <li>
                    @Html.ActionLink("[Change Password]", "ChangePassword", "Account")
                </li>
            }           
            <li><a href="javascript:document.getElementById('logoutForm').submit()">[Log off]</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "createaccount", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
