﻿@model Nikopeshe.Entity.DataModels.LoanTransactionHistory

@{
    ViewBag.Title = "Adjst";

    string customerName = Model.LoanRequest.CustomerAccount.Customer.FullName;

    string mobileNumber = Model.LoanRequest.CustomerAccount.Customer.MobileNumber;

    string loanRefNo = Model.LoanRequest.LoanReferenceNumber;

    string repaymentType = Model.RepaymentTypeDesc;

    string desc = Model.Description;

}

<h3><b>Are you sure you want to adjust this repayment request?</b></h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Adjust Loan Amount</legend>
        @Html.ValidationSummary(false)            
        
        <div class="editor-label">
            @Html.Label("Customer Full Name")
        </div>
        <div class="editor-field">
            @Html.DisplayName(customerName)
        </div>
        
        <div class="editor-label">
            @Html.Label("Customer Mobile Number")
        </div>
        <div class="editor-field">
            @Html.DisplayName(mobileNumber)
        </div>

        <div class="editor-label">
            @Html.Label("Loan Reference Number")
        </div>
        <div class="editor-field">
            @Html.DisplayName(loanRefNo)
        </div>
               
        <div class="editor-label">
            @Html.LabelFor(model => model.TransactionAmount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TransactionAmount)
            @Html.ValidationMessageFor(model => model.TransactionAmount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RepaymentType)
        </div>
        <div class="editor-field">
            @Html.DisplayName(repaymentType)            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.DisplayName(desc)
        </div>

        <div class="editor-field"><input type="submit" value="Adjust" class="btn btn-default" /></div>
    </fieldset>
}