﻿@using Nikopeshe.Entity.DataModels
@using Nikopeshe.WebApplication.Controllers
@using Microsoft.Web.Mvc

@{
    ViewBag.Title = "Loan Transction History";

    var header = ViewBag.Header as string;
}

<h2>
    @Html.Raw(header)
</h2>

<script type="text/javascript">
    $(document).ready(function () {

        $('#loanrepaymentgrid').dataTable({
            // Ajax settings
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "@(Url.Action("GetAllRepayments", "Repayment"))",
            "sServerMethod": "POST",
            // Callback settings
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                /* row manipulation */
                var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));

                var h = ("0" + createdDate.getHours()).slice(-2);
                var m = ("0" + createdDate.getMinutes()).slice(-2);
                var s = ("0" + createdDate.getSeconds()).slice(-2);

                var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;

                $('td:eq(0)', nRow).html(dt_Created);

                var value = aData.TransactionAmount;
                var num = value.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");

                $('td:eq(4)', nRow).html(num);

                //$('td:eq(9)', nRow).html('</a>' + '<a href="/Repayment/adjust/' + aData.Id + '">' +
                //"Adjust" + '</a>');
                
                return nRow;
            },
            // Display settings
            "iDisplayLength": 10,
            "bJQueryUI": true,
            "aaSorting": [[0, "desc"]],
            "aoColumns": [
            { "mDataProp": "CreatedDate", "sTitle": "CreatedDate", "sWidth": "10%" },
            { "mDataProp": "LoanRequest.CustomerAccount.Customer.FullName", "sTitle": "Customer Name", "sWidth": "12%" },            
            { "mDataProp": "ChartofAccount.ChartofAccountDescription", "sTitle": "Interest GL", "sWidth": "14%" },
            { "mDataProp": "TransactionTypeDesc", "sTitle": "Dr / Cr", "sWidth": "7%"  },
            { "mDataProp": "TransactionAmount", "sTitle": "Transaction Amount", "sWidth": "9%" },            
            { "mDataProp": "IsApproved", "sTitle": "Is Approved?" },
            { "mDataProp": "CreatedBy", "sTitle": "Created By" },
            { "mDataProp": "ApprovedBy", "sTitle": "Approved By" },
            { "mDataProp": "Description", "sTitle": "Remarks", "sWidth": "16%" },
            { "mDataProp": "Commands", "sTitle": "", "sWidth": "16%" }],
        });
    });

</script>
<div>
    <fieldset>
        <legend>Loan Repayment History</legend>
        <p> @Html.ActionLink("Post Loan Repayment", "loanrepayment", "Repayment")</p>
        <table cellpadding="0" cellspacing="1" id="loanrepaymentgrid">
            <tbody>
                <tr>
                    <td colspan="7" class="dataTables_empty">
                        Loading data from server
                    </td>
                </tr>
            </tbody>
        </table> 
              
    </fieldset>
</div>

