﻿@model Nikopeshe.Entity.DataModels.LoanTransactionHistory

@{
    ViewBag.Title = "Loan Repayment";            
    var customerselectlist = ViewBag.CustomerSelectList as List<SelectListItem>;
    var customermobilnumber = ViewBag.CustomerMobileNumber as string;
    var customerfullname = ViewBag.CustomerFullName as string;
    var loanreferenceNumber = ViewBag.LoanRefNo as string;
    var loanamount = ViewBag.LoanAmount as string;
    var paidamount = ViewBag.PaidAmount as string;
    var balance = ViewBag.Balance as string;
    var savingsAccountBalance = ViewBag.SavingsAccountBalance as string;
    var nextpaymentdate = ViewBag.NextPaymentDate as string;
    var installmentamount = ViewBag.InstallmentAmount as string;
    
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()                

    <fieldset>
        <legend>Post Loan Repayment</legend>
        @Html.ValidationSummary(false)
        @Html.ActionLink("Pick Customer ", "ViewLyubomir", "Repayment", null, new { @class = "modal-link btn btn-success" })
        @*<div class="editor-label">
            @Html.LabelFor(model => model.LoanRequestId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.LoanRequestId, customerselectlist)
            @Html.ValidationMessageFor(model => model.LoanRequestId)
        </div>*@
       
        @if (!string.IsNullOrWhiteSpace(customerfullname))
        {
            <div class="editor-label">
                @Html.Label("Customer Full Name")
            </div>
            <div class="editor-field">
                @Html.DisplayName(customerfullname)
            </div>
        }

        @if (!string.IsNullOrWhiteSpace(customermobilnumber))
        {
            <div class="editor-label">
                @Html.Label("Customer Mobile Number")
            </div>
            <div class="editor-field">
                @Html.DisplayName(customermobilnumber)
            </div>
        }

        @if (!string.IsNullOrWhiteSpace(loanreferenceNumber))
        {
            <div class="editor-label">
                @Html.Label("Loan Reference Number")
            </div>
            <div class="editor-field">
                @Html.DisplayName(loanreferenceNumber)
            </div>
        }
              
        @if (!string.IsNullOrWhiteSpace(loanamount))
        {
            <div class="editor-label">
                @Html.Label("Loan Amount")
            </div>
            <div class="editor-field">
                @loanamount
            </div>
        }

       @if (!string.IsNullOrWhiteSpace(paidamount))
       {
        <div class="editor-label">
            @Html.Label("Paid Amount")
        </div>
        <div class="editor-field">
            @paidamount
        </div>
       }
       
        @if (!string.IsNullOrWhiteSpace(balance))
        {
            <div class="editor-label">
                @Html.Label("Loan Balance")
            </div>
            <div class="editor-field">
                @balance
            </div>
        }
        
        @if (!string.IsNullOrWhiteSpace(savingsAccountBalance))
        {
            <div class="editor-label">
                @Html.Label("Savings Account Available Balance")
            </div>
            <div class="editor-field">
                @savingsAccountBalance
            </div>
        }

        @if (!string.IsNullOrWhiteSpace(nextpaymentdate))
        {
            <div class="editor-label">
                @Html.Label("Next Payment Date")
            </div>
            <div class="editor-field">
                @Html.DisplayName(nextpaymentdate)
            </div>
        }

       @if (!string.IsNullOrWhiteSpace(installmentamount))
       {
        <div class="editor-label">
            @Html.Label("Installment Amount")
        </div>
        <div class="editor-field">
            @installmentamount
        </div>
       }

                  
        <div class="editor-label">
            @Html.LabelFor(model => model.TransactionAmount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TransactionAmount)
            @Html.ValidationMessageFor(model => model.TransactionAmount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RepaymentType)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => model.RepaymentType, "Select Repayment Type")
            @Html.ValidationMessageFor(model => model.RepaymentType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-field"><input type="submit" value="Post" class="btn btn-default" /></div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
