﻿@{
    ViewBag.Title = "Transaction";
}
<fieldset>
    <legend>Payments</legend>
    <ol>
        <li> @Html.ActionLink("Repayments", "Index", "Repayment")</li>
        <li> @Html.ActionLink("Loan Disbursements", "LoanDisbursements", "LoanRequest")</li>
        <li> @Html.ActionLink("C2B Notifications", "Index", "C2BNotification")</li> 
        <li>@Html.ActionLink("Upload File", "UploadFile", "FinanceManager")</li>
    </ol>
</fieldset>
