﻿@using Nikopeshe.Entity.DataModels
@using Nikopeshe.WebApplication.Controllers
@using Microsoft.Web.Mvc
@{
    ViewBag.Title = "Transactions";

    string header = ViewBag.Header as string;
}

<h2>
    @Html.Raw(header)
</h2>

<script type="text/javascript">
    $(document).ready(function () {

        $('#transactionhistory').dataTable({
            // Ajax settings
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "@(Url.Action("getalltransactionhistory", "TransactionsHistory"))",
            "sServerMethod": "POST",
            // Callback settings
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                /* row manipulation */

                var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));

                var h = ("0" + createdDate.getHours()).slice(-2);
                var m = ("0" + createdDate.getMinutes()).slice(-2);
                var s = ("0" + createdDate.getSeconds()).slice(-2);

                var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;

                $('td:eq(0)', nRow).html(dt_Created);

                var createdDate = new Date(parseInt(aData.TransactionDateTime.replace("/Date(", "").replace(")/", ""), 10));

                var h = ("4" + createdDate.getHours()).slice(-2);
                var m = ("4" + createdDate.getMinutes()).slice(-2);
                var s = ("4" + createdDate.getSeconds()).slice(-2);

                var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;

                $('td:eq(4)', nRow).html(dt_Created);

                //$('td:eq(6)', nRow).html('<a href="/Loanrequest/loanrequestdetails/' + aData.Id + '">' +
                //"Loan Details" + '</a>');
                return nRow;

            },
            // Display settings
            "iDisplayLength": 10,
            "bJQueryUI": true,
            "aaSorting": [[0, "desc"]],
            "aoColumns": [
            { "mDataProp": "CreatedDate", "sTitle": "Created Date" },
            { "mDataProp": "Customer.FullName", "sTitle": "Customer Name" },
            { "mDataProp": "Amount", "sTitle": "Amount", "sWidth": "12%" },
            { "mDataProp": "TransactionTypeDesc", "sTitle": "Transaction Type" },
            { "mDataProp": "TransactionDateTime", "sTitle": "Trx DateTime" },
            { "mDataProp": "TypeDesc", "sTitle": "Type" }],            
            //{ "mDataProp": "Commands", "sTitle": "" }],
        });
    });

</script>
<div>
    <fieldset>
        <legend>Transaction History</legend>
        <div>
            @if (Roles.IsUserInRole("Administrator"))
            {
                <p>@Html.ActionLink("New Transaction History", "addtransactionhistory", "TransactionsHistory")</p>
            }
        </div>
        <table cellpadding="0" cellspacing="1" id="transactionhistory">
            <tbody>
                <tr>
                    <td colspan="7" class="dataTables_empty">
                        Loading data from server
                    </td>
                </tr>
            </tbody>
        </table>
        
        <div></div>
    </fieldset>
</div>

