﻿@{
    ViewBag.Title = "Index";
    var activeloanscount = ViewBag.ActiveLoanCount;
    var totalactiveloansamount = String.Format("{0:n}", ViewBag.TotalActiveLoansAmount);
    var totalInterestAmount = String.Format("{0:n}", ViewBag.InterestCount);
    var dueloans = ViewBag.LoanDueToday;
}

<fieldset>
    <legend>Dashboard</legend>  
    <table style="width:30%" border="1">
        <tr>
            <td>Active Loans Count</td>
            <td>@activeloanscount</td>
        </tr>  
    
        <tr>
            <td>Total Active Loans Amount</td>
            <td>@totalactiveloansamount</td>
        </tr> 
        
        <tr>
            <td>Total Interest Amount</td>
            <td>@totalInterestAmount</td>
        </tr>

        <tr>
            <td>Loans Due Today</td>
            <td>@dueloans</td>
        </tr>                                
    </table>   
</fieldset>


