﻿
@{
    ViewBag.Title = "Index";
}

<fieldset>
    <legend>Dashboard</legend>
    
    <h2>Welcome to Nikopeshe. To apply for a loan - <a href="/Loanrequest/newloanrequest"> click here</a>. </h2>
    <p></p>
    <p>&nbsp;To repay your loan, follow the following steps.</p>
    <ul class="circle">
        <li>Go to Lipa na M-Pesa.</li>
        <li>Select Paybill.</li>
        <li>Enter Business Number 123456.</li>
        <li>Enter your phone number as account.</li>
        <li>Enter amount and PIN and send.</li>
    </ul>
    <p>You will receive an SMS confirming we have received your payment.</p>
</fieldset>


