﻿@using Nikopeshe.Entity.DataModels
@using Nikopeshe.WebApplication.Controllers
@using Microsoft.Web.Mvc
@using Nikopeshe.WebApplication.Extensions
@{
    ViewBag.Title = "Audit Logs";

    string header = ViewBag.Header as string;
}

<h2>
    @Html.Raw(header)
</h2>

<script type="text/javascript">
    $(document).ready(function () {

        $('#auditLogsGrid').dataTable({
            // Ajax settings
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "@(Url.Action("GetAuditLogs", "Application"))",
            "sServerMethod": "POST",
            // Callback settings
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                /* row manipulation */                       

                var eventDate = new Date(parseInt(aData.EventDate.replace("/Date(", "").replace(")/", ""), 10));

                var h = ("0" + eventDate.getHours()).slice(-2);
                var m = ("0" + eventDate.getMinutes()).slice(-2);
                var s = ("0" + eventDate.getSeconds()).slice(-2);

                var dt_Created = $.datepicker.formatDate('dd/mm/yy', eventDate) + " " + h + ":" + m + ":" + s;

                $('td:eq(0)', nRow).html(dt_Created);

                var narration = $('<div/>').text(aData.AdditionalNarration).html();

                $('td:eq(4)', nRow).html(narration);

                /* return*/
                return nRow;
            },
            // Display settings
            "iDisplayLength": 10,
            "bJQueryUI": true,
            "aoColumns": [
            { "mDataProp": "EventDate", "sTitle": "Event Date" },
            { "mDataProp": "EventType", "sTitle": "Event Type" },
            { "mDataProp": "TableName", "sTitle": "Table Name" },
            { "mDataProp": "RecordID", "sTitle": "Record ID" },
            { "mDataProp": "AdditionalNarration", "sTitle": "Narration" },
            { "mDataProp": "ApplicationUserName", "sTitle": "User Name (App)" },
            { "mDataProp": "EnvironmentUserName", "sTitle": "User Name (Env)" },
            { "mDataProp": "EnvironmentMachineName", "sTitle": "Machine Name" },
            { "mDataProp": "EnvironmentDomainName", "sTitle": "Domain Name" },
            { "mDataProp": "EnvironmentOSVersion", "sTitle": "OS Version" },
            { "mDataProp": "EnvironmentMACAddress", "sTitle": "MAC Address" },
            { "mDataProp": "EnvironmentMotherboardSerialNumber", "sTitle": "Motherboard Serial Number" },
            { "mDataProp": "EnvironmentProcessorId", "sTitle": "Processor Id" }],
            "aaSorting": [[0, 'desc']]
        });
    });

</script>
<div>
    <fieldset>
        <legend>Audit Logs</legend>
        <table cellpadding="0" cellspacing="1" id="auditLogsGrid">
            <tbody>
                <tr>
                    <td colspan="20" class="dataTables_empty">
                        Loading data from server
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</div>

