﻿@model Nikopeshe.Entity.DataModels.Partner
@using Nikopeshe.WebApplication.Extensions
@using Nikopeshe.WebApplication.Models
@{
    ViewBag.Title = "Create Partner";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "Operation was unsuccessful. Please correct the errors and try again.")
    <fieldset>
        <legend>Create Partner</legend>
        <div class="form-group">
            <div class="editor-label">
                @Html.LabelFor(model => model.PartnerName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.PartnerName)
                @Html.ValidationMessageFor(model => model.PartnerName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.MobileNumber)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.MobileNumber)
                @Html.ValidationMessageFor(model => model.MobileNumber)

            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.EmailAddress)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.EmailAddress)
                @Html.ValidationMessageFor(model => model.EmailAddress)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.ContactPerson)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ContactPerson)
                @Html.ValidationMessageFor(model => model.ContactPerson)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.AccountNumber)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.AccountNumber)
                @Html.ValidationMessageFor(model => model.AccountNumber)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.PaybillNumber)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.PaybillNumber)
                @Html.ValidationMessageFor(model => model.PaybillNumber)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.InterestChargeRate)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.InterestChargeRate)
                @Html.ValidationMessageFor(model => model.InterestChargeRate)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Commission)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Commission)
                @Html.ValidationMessageFor(model => model.Commission)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.SettlementDate)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.SettlementDate)
                @Html.ValidationMessageFor(model => model.SettlementDate)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.MerchantId)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.MerchantId)
                @Html.ValidationMessageFor(model => model.MerchantId)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.PassKey)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.PassKey)
                @Html.ValidationMessageFor(model => model.PassKey)
            </div>
            <div class="editor-field"><input type="submit" value="Save" class="btn btn-default" /></div>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
