﻿@model IEnumerable<Nikopeshe.Entity.DataModels.DashBoard>

@{
    ViewBag.Title = "Index";
}

<fieldset>
    <legend>Dashboard</legend>

    <table>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.Content)
                </th>

            </tr>

        }

    </table>
</fieldset>


