﻿@using Nikopeshe.WebApplication.Extensions
@model Nikopeshe.Entity.DataModels.StaticSetting

@{
    ViewBag.Title = "Edit Settings";
}

<h1><b>Edit Static Settings</b></h1>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false, "Operation was unsuccessful. Please correct the errors and try again.")
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Edit Static Setting</legend>
               @Html.HiddenFor(model=> model.Key )
        <div class="editor-label">
            @Html.LabelFor(model => model.Key)
        </div>
        <div class="editor-field">
            @Html.DisplayName(Model.Key)
            @Html.ValidationMessageFor(model => model.Key)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Value)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Value)
            @Html.ValidationMessageFor(model => model.Value)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsLocked)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsLocked)
            @Html.ValidationMessageFor(model => model.IsLocked)
        </div>      

        <div class="editor-field"><input type="submit" value="Edit" class="btn btn-default" /></div>
    </fieldset>
}

<div class="form-actions no-color">
    @Html.ActionLink("Back to List", "Settings")
</div>

