﻿@using Nikopeshe.Entity.DataModels
@using Nikopeshe.WebApplication.Controllers
@using Microsoft.Web.Mvc
@{
    ViewBag.Title = "Partners List";

    string header = ViewBag.Header as string;
}

<h2>
    @Html.Raw(header)
</h2>
<script src="~/scripts/datatables/jquery.datatables.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#allcustomerlistgrid').dataTable({
            // Ajax settings
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "@(Url.Action("GetPartnerList", "Application"))",
            "sServerMethod": "POST",
            // Callback settings
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
                var settlementDate = new Date(parseInt(aData.SettlementDate.replace("/Date(", "").replace(")/", ""), 10));

                var h = ("0" + createdDate.getHours()).slice(-2);
                var m = ("0" + createdDate.getMinutes()).slice(-2);
                var s = ("0" + createdDate.getSeconds()).slice(-2);

                var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;

                $('td:eq(0)', nRow).html(dt_Created);

                var h2 = ("0" + settlementDate.getHours()).slice(-2);
                var m2 = ("0" + settlementDate.getMinutes()).slice(-2);
                var s2 = ("0" + settlementDate.getSeconds()).slice(-2);

                var dt_settlementDate = $.datepicker.formatDate('dd/mm/yy', settlementDate);

                $('td:eq(8)', nRow).html(dt_settlementDate);
                
                $('td:eq(9)', nRow).html('<a href="/application/partnercustomers/' + aData.Id + '">' + "Customers" + '</a>');

                return nRow;
            },
            // Display settings
            "iDisplayLength": 10,
            "bJQueryUI": true,
            "aaSorting": [[0, "desc"]],
            "aoColumns": [
            { "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "12%" },
            { "mDataProp": "PartnerName", "sTitle": "Partner Name", "sWidth": "8%" },
            { "mDataProp": "MobileNumber", "sTitle": "Mobile Number", "sWidth": "12%" },
            { "mDataProp": "EmailAddress", "sTitle": "Email Address", "sWidth": "9%" },
            { "mDataProp": "InterestChargeRate", "sTitle": "Interest Rate", "sWidth": "12%" },
            { "mDataProp": "Commission", "sTitle": "Commission", "sWidth": "10%" },
            { "mDataProp": "AccountNumber", "sTitle": "AccountNumber", "sWidth": "8%" },
            { "mDataProp": "PaybillNumber", "sTitle": "PaybillNumber", "sWidth": "5%" },
            { "mDataProp": "SettlementDate", "sTitle": "Settlement Date", "sWidth": "5%" },
            { "mDataProp": "Commands", "sTitle": "", "bSortable": false }],

        });
    });

</script>
<div>
    <fieldset>
        <div><p><p> @Html.ActionLink("Create New Partner", "CreatePartner", "Application", null, new { @class = "classname" })</p></div>
        <legend>Members</legend>
        <table cellpadding="0" cellspacing="1" id="allcustomerlistgrid">
            <tbody>
                <tr>
                    <td colspan="7" class="dataTables_empty">
                        Loading data from server
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</div>

<style>
    a.classname {
        background-color: #d3dce0;
        border: 1px solid #787878;
        text-decoration: none;
        cursor: pointer;
        font-size: 1.1em;
        border-radius: 3px;
        font-weight: 600;
        padding: 7px;
        margin-right: 8px;
        width: auto;
    }
</style>