﻿@model Nikopeshe.Entity.DataModels.SystemGeneralLedgerAccountMapping

@{
    ViewBag.Title = "New GL Mappings";

    var selectlist = ViewBag.ChartofAccountsSelectList as IList<SelectListItem>;

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>New Mapping</legend>
        @Html.ValidationSummary(false, "Operation was unsuccessful. Please correct the errors and try again.")
        <div class="form-group">            
            <div class="editor-label">
                @Html.LabelFor(model => model.SystemGeneralLedgerAccountDesc)
            </div>
            <div class="editor-field">
                @Html.EnumDropDownListFor(model => model.SystemGeneralLedgerAccountCode, "Select from below")
                @Html.ValidationMessageFor(model => model.SystemGeneralLedgerAccountCode)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.ChartofAccountId)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.ChartofAccountId, selectlist)
                @Html.ValidationMessageFor(model => model.ChartofAccountId)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.IsEnabled)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.IsEnabled)
                @Html.ValidationMessageFor(model => model.IsEnabled)
            </div>

            <div class="editor-field"><input type="submit" value="Save" class="btn btn-default" /></div>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

