﻿@using Nikopeshe.Entity.DataModels
@using Nikopeshe.WebApplication.Controllers
@using Microsoft.Web.Mvc
@using Nikopeshe.WebApplication.Extensions
@{
    ViewBag.Title = "Loan Requests";

    string header = ViewBag.Header as string;

    var id = ViewBag.Id;
}

<h2>
    @Html.Raw(header)
</h2>

<script type="text/javascript">
    $(document).ready(function () {

        $('#GraduatedScale').dataTable({
            // Ajax settings
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "@(Url.Action("GetAllChargeGraduatedScales", "Charges", new { id = id }))",
            "sServerMethod": "POST",
            // Callback settings
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                /* row manipulation */

                var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));

                var h = ("0" + createdDate.getHours()).slice(-2);
                var m = ("0" + createdDate.getMinutes()).slice(-2);
                var s = ("0" + createdDate.getSeconds()).slice(-2);

                var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;

                $('td:eq(0)', nRow).html(dt_Created);

                $('td:eq(6)', nRow).html('<a href="/GraduatedScale/UpdateGraduatedScale/' + aData.Id + '">' +
                "Edit" + '</a>');

                return nRow;

            },
            // Display settings
            "iDisplayLength": 100,
            "bJQueryUI": true,
            "aaSorting": [[0, "desc"]],
            "aoColumns": [
            { "mDataProp": "CreatedDate", "sTitle": "Created Date" },
            { "mDataProp": "Charge.ChargeName", "sTitle": "Charge Name", "sWidth": "12%" },
            { "mDataProp": "ChargeTypeDesc", "sTitle": "Charge Type" },
            { "mDataProp": "LowerLimit", "sTitle": "Lower Limit" },
            { "mDataProp": "UpperLimit", "sTitle": "Upper Limit" },
            { "mDataProp": "Value", "sTitle": "Value" },
            { "mDataProp": "Commands", "sTitle": "", "bSortable": false }],
        });
    });

</script>
<div>
    <fieldset>
        <legend>Loan Requests for @ViewBag.Name</legend>
        <table cellpadding="0" cellspacing="1" id="GraduatedScale">
            <tbody>
                <tr>
                    <td colspan="7" class="dataTables_empty">
                        Loading data from server
                    </td>
                </tr>
            </tbody>
        </table>
        <div></div>
       <a href="javascript:history.go(-1)">Back to list</a>
    </fieldset>
</div>

