﻿@using Nikopeshe.WebApplication.Extensions
@using Nikopeshe.WebApplication.Models
@model Nikopeshe.Entity.DataModels.Charge 

@{
    ViewBag.Title = "Edit Charge";

    var ChartofAccountselectlist = ViewBag.ChartofAccountSelectList as IList<SelectListItem>;

    var ChargeRecoveryMethod = ViewBag.ChargeRecoveryTypeCheckList as List<CheckBoxListInfo>;
}

<script type="text/javascript">
    $(function () {
        $('input.unique').click(function () {
            $('input.unique:checked').not(this).removeAttr('checked');
        });
    });

</script>
<h1><b>Edit Charge</b></h1>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false, "Operation was unsuccessful. Please correct the errors and try again.")
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Fill in below details.</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ChartofAccountId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ChartofAccountId, ChartofAccountselectlist)
            @Html.ValidationMessageFor(model => model.ChartofAccountId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ChargeName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ChargeName)
            @Html.ValidationMessageFor(model => model.ChargeName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsEnabled)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsEnabled)
            @Html.ValidationMessageFor(model => model.IsEnabled)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ChargeRecoveryMethod)
        </div>
        <div class="editor-field">
            @Html.Raw(Html.CheckBoxList("ChargeRecoveryMethod", ChargeRecoveryMethod, new { @class = "unique" }))
            @Html.ValidationMessageFor(model => model.ChargeRecoveryMethod)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsRecurring)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsRecurring)
            @Html.ValidationMessageFor(model => model.IsRecurring)
        </div>

        <div class="editor-field"><input type="submit" value="Edit" class="btn btn-default" /></div>
    </fieldset>
}

<div class="form-actions no-color">
    @Html.ActionLink("Back to List", "Index")
</div>

