﻿@model Nikopeshe.Entity.DataModels.C2BTransaction

@{
    ViewBag.Title = "Reject C2B";

}

<h3><b>Are you sure you want to reverse this transaction?</b></h3>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(false, "Operation was unsuccessful. Please correct the errors and try again.")
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.MSISDN)
    @Html.HiddenFor(model => model.BusinessShortCode)
    @Html.HiddenFor(model => model.KYCInfo_FirstName)
    @Html.HiddenFor(model => model.KYCInfo_LastName)
    @Html.HiddenFor(model => model.KYCInfo_MiddleName)
    @Html.HiddenFor(model => model.BillRefNumber)
    @Html.HiddenFor(model => model.InvoiceNumber)
    @Html.HiddenFor(model => model.Status)
    @Html.HiddenFor(model => model.TransAmount)
    @Html.HiddenFor(model => model.TransID)
    @Html.HiddenFor(model => model.TransTime)
    @Html.HiddenFor(model => model.TransAmount)

    <fieldset>
        <legend>C2B Transaction Details</legend>
        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.FullName)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.FullName)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.MSISDN)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.MSISDN)
        </div>

        <div class="display-label">
            <b> @Html.DisplayNameFor(model => model.TransID)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.TransID)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.TransAmount)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.TransAmount)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.BillRefNumber)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.BillRefNumber)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.BusinessShortCode)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.BusinessShortCode)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.Status)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.StatusDesc)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.TransTime)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.TransTime)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.CreatedDate)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.CreatedDate)
        </div>
        
        <div class="editor-field"><input type="submit" value="Reverse" class="btn btn-default" onclick="return confirm('Are you sure you want to reverse?');" /></div>
        <div class="form-actions no-color">
            @Html.ActionLink("Back to List", "index")
        </div>
    </fieldset>
}
