﻿@model IEnumerable<Nikopeshe.Entity.DataModels.CustomerDocument>

@@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DocumentTypeDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentTypeDesc)
            </td>
            <td>
                @{
        var base64 = Convert.ToBase64String(item.Image ?? item.Image);
        var imgSrc = String.Format("data:application/pdf;base64,{0}", base64);
                }
                <img src="@imgSrc" style="max-height:250px" />
            </td>
        </tr>
    }

</table>