﻿@model Nikopeshe.Entity.DataModels.LoanRequestDocument

@{
    ViewBag.Title = "Upload Document";

    var customerlist = ViewBag.CustomerSelectList as List<SelectListItem>;

    var customerName = ViewBag.CustomerName as string;
    var LoanAmount = ViewBag.LoanAmount as string;
    var amount = decimal.Parse(LoanAmount);
    decimal value = Math.Round(amount, 0);
    var result = string.Concat(value);
    var LoanReferenceNumber = ViewBag.LoanReferenceNumber as string;
}

@*<script type="text/jscript">
    $(function () {
        $('#customerselectlist').change(function () {
            $.getJSON('/DocumentManagement/CustomerLoanSelectList/' + $('#customerselectlist').val(), function (data) {
                var items = null;
                $.each(data, function (i, state) {
                    items += "<option value='" + state.Value + "'>" + state.Text + "</option>";
                });
                $('#LoanRequestId').html(items);
            });
        });
    });
</script>*@

@using (Html.BeginForm("UploadLoanApplicationDocuments", "DocumentManagement", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Upload Loan Request Documents for @customerName</legend>
        @Html.ValidationSummary(false, "Operation was unsuccessful. Please correct the errors and try again.")
        @*<div class="editor-label">
            <b>@Html.Label("Customer Name")</b>
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.CustomerId, customerlist, new { id = "customerselectlist" }))
            @Html.ValidationMessageFor(model => model.CustomerId)
        </div>*@

        @*<div class="editor-label">
            @Html.LabelFor(model => model.LoanRequestId)
        </div>
        <div class="editor-field">
            <select id="LoanRequestId" name="loanrequest"></select><br />
            @Html.ValidationMessageFor(model => model.LoanRequestId)
        </div>*@

        <div class="editor-label">
            <b>@Html.Label("Customer Name")</b>
        </div>
        <div class="editor-field">
            @Html.DisplayName(@customerName)            
        </div>

        <div class="editor-label">
            <b>@Html.Label("Loan Reference Number")</b>
        </div>
        <div class="editor-field">
            @Html.DisplayName(@LoanReferenceNumber)
        </div>

        <div class="editor-label">
            <b>@Html.Label("Loan Amount")</b>
        </div>
        <div class="editor-field">
            @Html.DisplayName(@result)
        </div>

        <div class="editor-label">
            <b>@Html.LabelFor(model => model.DocumentType)</b>
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => model.DocumentType, "Select Document Type")
            @Html.ValidationMessageFor(model => model.DocumentType)
        </div>

        <div class="editor-field">
            <input type="file" name="PostedFile" />
        </div>

        <div class="editor-field"><input type="submit" value="Upload" class="btn btn-default" /></div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", "Customer")
</div>
