﻿@model Nikopeshe.Entity.DataModels.CustomerDocument

@{
    ViewBag.Title = "Upload Document";

    //var customerlist = ViewBag.CustomerSelectList as List<SelectListItem>;

    var CustomerName = ViewBag.CustomerName as string;
    var mobilenunber = ViewBag.MobileNumber as string;
    var IdNumber = ViewBag.IdNumber as string;
}

@using (Html.BeginForm("UploadFile", "DocumentManagement", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Upload Customer Documents</legend>
        @Html.ValidationSummary(false, "Operation was unsuccessful. Please correct the errors and try again.")
        <div class="editor-label">
            <b>@Html.Label("Customer Name")</b>
        </div>
        <div class="editor-label">
            @Html.DisplayName(@CustomerName)
        </div>

        <div class="editor-label">
            <b>@Html.Label("Mobile Number")</b>
        </div>
        <div class="editor-label">
            @Html.DisplayName(@mobilenunber)
        </div>

        <div class="editor-label">
            <b>@Html.Label("ID Number")</b>
        </div>
        <div class="editor-label">
            @Html.DisplayName(@IdNumber)
        </div>

        @*<div class="editor-label">
            <b>@Html.LabelFor(model => model.CustomerId)</b>
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.CustomerId, customerlist)
            @Html.ValidationMessageFor(model => model.CustomerId)
        </div>*@

        <div class="editor-label">
            <b>@Html.LabelFor(model => model.DocumentType)</b>
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => model.DocumentType, "Select Document Type")
            @Html.ValidationMessageFor(model => model.DocumentType)
        </div>

        <div class="editor-field">
            <input type="file" name="PostedFile" />            
        </div>

        <div class="editor-field"><input type="submit" value="Upload" class="btn btn-default" /></div>
    </fieldset>
}

