﻿@{
    ViewBag.Title = "Index";
    var activeloanscount = ViewBag.ActiveLoanCount;
    var totalactiveloansamount = String.Format("{0:n}", ViewBag.TotalActiveLoansAmount);
    var totalInterestAmount = String.Format("{0:n}", ViewBag.InterestCount);
    var totalGroup = ViewBag.TotalGroup;
    var totalCustomer = ViewBag.TotalCustomer;
    var dueloans = ViewBag.LoanDueToday;
    var countiesArray = ViewBag.GroupCountiesArray;
    var numberOfGroups = ViewBag.NumberOfGroups;
    var customerCountiesArray = ViewBag.CustomerCountiesArray;
    var numberOfCustomers = ViewBag.NumberOfCustomers;
    var maxGroup = ViewBag.MaxGroup;
    var maxCustomer = ViewBag.MaxCustomer;
}

<fieldset>
    <legend>Dashboard</legend>  
    <table style="width:40%" border="1">
        <tr>
            <td>Active Loans Count</td>
            <td>@activeloanscount</td>
        </tr>  
    
        <tr>
            <td>Total Active Loans Amount</td>
            <td>@totalactiveloansamount</td>
        </tr> 
        
        <tr>
            <td>Total Interest Amount</td>
            <td>@totalInterestAmount</td>
        </tr>

        <tr>
            <td>Loans Due Today</td>
            <td>@dueloans</td>
        </tr>                                
    </table>   

    <table style="width:50%" border="1">
        <tr>
            <td>Total Number of Groups</td>
            <td>@totalGroup</td>
        </tr>

        <tr>
            <td>Total Number of Members</td>
            <td>@totalCustomer</td>
        </tr>

    </table>  

    <div class="demo-section k-content wide">
        @(Html.Kendo().Chart()
        .Name("groupChart")
        .Title("Groups Per County")
        .Legend(legend => legend
            .Visible(false)
        )
        .ChartArea(chartArea => chartArea
            .Background("transparent")
        )
        .Series(series =>
        {
            series.Bar(numberOfGroups).Name("Total Groups");            
        })
        .CategoryAxis(axis => axis
                    .Categories((string[])countiesArray)
            .MajorGridLines(lines => lines.Visible(false))
        )
        .ValueAxis(axis => axis
            .Numeric()
            .Max((double)maxGroup)
            .Line(line => line.Visible(false))
            .MajorGridLines(lines => lines.Visible(true))
        )
        .Tooltip(tooltip => tooltip
            .Visible(true)
            .Template("#= series.name #: #= value #")
        )
        )
    </div>

    <div class="demo-section k-content wide">
        @(Html.Kendo().Chart()
        .Name("memberChart")
        .Title("Members Per County")
        .Legend(legend => legend
            .Visible(false)
        )
        .ChartArea(chartArea => chartArea
            .Background("transparent")
        )
        .Series(series =>
        {
            series.Bar(numberOfCustomers).Name("Total Members").Color("rgb(5, 110, 67)");
        })
        .CategoryAxis(axis => axis
                    .Categories((string[])customerCountiesArray)
            .MajorGridLines(lines => lines.Visible(false))
        )
        .ValueAxis(axis => axis
            .Numeric()
            .Max((double)maxCustomer)
            .Line(line => line.Visible(false))
            .MajorGridLines(lines => lines.Visible(true))
        )
        .Tooltip(tooltip => tooltip
            .Visible(true)
            .Template("#= series.name #: #= value #")
        )
        )
    </div>



    @*<div class="demo-section k-content wide">
        @(Html.Kendo().Chart()
        .Name("activeloans")
        .Title("Active Loans Per County Stats \n /thousands/")
        .Legend(legend => legend
            .Visible(false)
        )
        .ChartArea(chartArea => chartArea
            .Background("transparent")
        )
        .Series(series =>
        {
            series.Bar(new double[] { 5200, 3400, 2300, 4800, 6700, 8300 }).Name("Active Loans Per County").Color("red");
        })
        .CategoryAxis(axis => axis
            .Categories("Nairobi", "Eldoret", "Uasin Gishu", "Mombasa", "Nandi", "Kisumu")
                    .MajorGridLines(lines => lines.Visible(false))
        )
        .ValueAxis(axis => axis
            .Numeric()
            .Max(10000)
            .Line(line => line.Visible(false))
            .MajorGridLines(lines => lines.Visible(true))
        )
        .Tooltip(tooltip => tooltip
            .Visible(true)
            .Template("#= series.name #: #= value #")
        )
        )
    </div>
    <div class="demo-section k-content wide">
        @(Html.Kendo().Chart()
        .Name("trfpercounty")
                .Title(title => title
                    .Text("TRF Per County")
                    .Position(ChartTitlePosition.Top))
        .Legend(legend => legend
            .Visible(false)
        )
        .ChartArea(chart => chart
            .Background("transparent")
         )
        .HtmlAttributes(new { style = "background: center no-repeat url(" + @Url.Content("~/Content/shared/world-map.png") })
        .Series(series =>
        {
            series.Pie(new dynamic[] {
                new {category="Long Term Loan",value=5000000,color="#9de219"},
                new {category="Short Term Loan",value=2800000,color="#90cc38"},                
                new {category="Saving",value=3600000,color="#033939"}
            })
            .Labels(labels => labels
                .Template("#= category #: \n #= value#")
                .Background("transparent")
                .Visible(true)
            )
            .StartAngle(150);
        })
        .Tooltip(tooltip => tooltip
            .Visible(true)
            .Format("KES{0}")
        )
        )
    </div>*@
</fieldset>


