﻿@using Nikopeshe.Entity.DataModels
@using Nikopeshe.WebApplication.Controllers
@using Microsoft.Web.Mvc
@using Nikopeshe.WebApplication.Extensions
@{
    ViewBag.Title = "Account Statement";

    string header = ViewBag.Header as string;

    var id = ViewBag.Id;

    var customerName = ViewBag.CustomerName;
}

<h2>
    @Html.Raw(header)
</h2>

<script type="text/javascript">
    $(document).ready(function () {

        $('#accountstatement').dataTable({
            // Ajax settings
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "@(Url.Action("GetCustomerAccountStatementView", "Customer", new { id = id }))",
            "sServerMethod": "POST",
            // Callback settings
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                /* row manipulation */

                var createdDate = new Date(parseInt(aData.TrxDate.replace("/Date(", "").replace(")/", ""), 10));

                var h = ("0" + createdDate.getHours()).slice(-2);
                var m = ("0" + createdDate.getMinutes()).slice(-2);
                var s = ("0" + createdDate.getSeconds()).slice(-2);

                var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;

                $('td:eq(0)', nRow).html(dt_Created);
               
                return nRow;

            },
            // Display settings
            "iDisplayLength": 100,
            "bJQueryUI": true,
            "aaSorting": [[0, "desc"]],
            "aoColumns": [
            { "mDataProp": "TrxDate", "sTitle": "Trx Date" },
            { "mDataProp": "AccountName", "sTitle": "AccountName", "sWidth": "15%" },
            { "mDataProp": "Product", "sTitle": "Product" },
            { "mDataProp": "PrimaryDescription", "sTitle": "PrimaryDescription" },
            { "mDataProp": "SecondaryDescription", "sTitle": "SecondaryDescription" },
            { "mDataProp": "reference", "sTitle": "Reference" },
            { "mDataProp": "debit", "sTitle": "Dr" },
            { "mDataProp": "credit", "sTitle": "Cr" },                     
            { "mDataProp": "RunningTotal", "sTitle": "RunningTotal" }],
        });
    });

</script>
<div>
    <fieldset>
        <legend>Account Statement for @ViewBag.CustomerName</legend>
        <table cellpadding="0" cellspacing="1" id="accountstatement">
            <tbody>
                <tr>
                    <td colspan="7" class="dataTables_empty">
                        Loading data from server
                    </td>
                </tr>
            </tbody>
        </table>                
    </fieldset>
</div>