﻿@using Nikopeshe.WebApplication.Extensions
@model Nikopeshe.Entity.DataModels.Customer
@using Nikopeshe.WebApplication.Models

@{
    ViewBag.Title = "Customer Registration";

    var IncomeRange = ViewBag.IncomeRange as IList<SelectListItem>;
    
    var BranchSelectList = ViewBag.BranchesSelectList as IList<SelectListItem>;

    var RelationshipManagerSelectList = ViewBag.RelationshipManagerSelectList as IList<SelectListItem>;

    var maritalStatus = ViewBag.MaritalStatusCheckList as List<CheckBoxListInfo>;

    var gender = ViewBag.GenderCheckList as List<CheckBoxListInfo>;
    
    
}
<script type="text/javascript">
    $(function () {
        $('input.uniquegender').click(function () {
            $('input.uniquegender:checked').not(this).removeAttr('checked');
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        $('input.uniquemaritalstatus').click(function () {
            $('input.uniquemaritalstatus:checked').not(this).removeAttr('checked');
        });
    });
</script>

<h1><b>Customer Registration</b></h1>

@using (Html.BeginForm())
{        
    @Html.ValidationSummary(false, "Operation was unsuccessful. Please correct the errors and try again.")
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Fill in below details.</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerType)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => model.CustomerType, "Select Customer Type")
            @Html.ValidationMessageFor(model => model.CustomerType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BranchId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.BranchId, BranchSelectList)
            @Html.ValidationMessageFor(model => model.BranchId)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.RelationshipManagerId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.RelationshipManagerId, RelationshipManagerSelectList)
            @Html.ValidationMessageFor(model => model.RelationshipManagerId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName, new { onkeyup = "InputToUpper(this);" })
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MiddleName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MiddleName, new {onkeyup="InputToUpper(this);"})
            @Html.ValidationMessageFor(model => model.MiddleName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName, new { onkeyup = "InputToUpper(this);" })
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MobileNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MobileNumber)
            @Html.ValidationMessageFor(model => model.MobileNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IDNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IDNumber)
            @Html.ValidationMessageFor(model => model.IDNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.KRAPIN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KRAPIN)
            @Html.ValidationMessageFor(model => model.KRAPIN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmailAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmailAddress)
            @Html.ValidationMessageFor(model => model.EmailAddress)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Occupation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Occupation)
            @Html.ValidationMessageFor(model => model.Occupation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Gender)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(x => x.Gender, "Gender")
            @Html.ValidationMessageFor(model => model.Gender)
        </div>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.Gender)
        </div>
        <div class="editor-field">
            @Html.Raw(Html.CheckBoxList("Gender", gender, new { @class = "uniquegender" }))
            @Html.ValidationMessageFor(model => model.Gender)
        </div>*@

        @*<div class="editor-label">
            @Html.LabelFor(model => model.MaritalStatus)
        </div>
        <div class="editor-field">
            @Html.Raw(Html.CheckBoxList("MaritalStatus", maritalStatus, new { @class = "uniquemaritalstatus" }))
            @Html.ValidationMessageFor(model => model.MaritalStatus)
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.MaritalStatus)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(x => x.MaritalStatus, "Marital Status")
            @Html.ValidationMessageFor(model => model.MaritalStatus)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateofBirth)
        </div>
        <div class="editor-field">
            @Html.Raw(Html.DatePicker("DateofBirth", Model.DateofBirth.ToString("dd/MM/yyyy")))
            @Html.ValidationMessageFor(model => model.DateofBirth)            

            <div class="editor-label">
                @Html.LabelFor(model => model.IncomeRange)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.IncomeRange, IncomeRange)
                @Html.ValidationMessageFor(model => model.IncomeRange)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.JoiningFee)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.JoiningFee)
                @Html.ValidationMessageFor(model => model.JoiningFee)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.EmailAlertsEnabled)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.EmailAlertsEnabled)
                @Html.ValidationMessageFor(model => model.EmailAlertsEnabled)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.SMSAlertsEnabled)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.SMSAlertsEnabled)
                @Html.ValidationMessageFor(model => model.SMSAlertsEnabled)
            </div>

            <div class="editor-field"><input type="submit" value="Register" class="btn btn-default" /></div>
        </div>
        @*</div>*@
    </fieldset>
}

<script>
    $(document).ready(function () {
        $("#DateofBirth").datepicker()
    });
</script>


