﻿@model Nikopeshe.Entity.DataModels.Customer

@{
    ViewBag.Title = "Profile";
}


<div>
    <fieldset>
        <legend>Customer Details</legend>
        <div class="display-label">
            <b>@Html.LabelFor(model => model.CreatedDate)</b>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.CreatedDate)
        </div>
      
        <div class="display-label">
            @Html.LabelFor(model => model.FullName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.FullName)
        </div>

        <div class="display-label">
            <b>@Html.LabelFor(model => model.MobileNumber)</b>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.MobileNumber)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.EmailAddress)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.EmailAddress)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.IDNumber)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.IDNumber)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.Occupation)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Occupation)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.IncomeRange)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.IncomeRange)
        </div>        

        <p>
            @Html.ActionLink("Edit Profile", "editcustomer") | @Html.ActionLink("Loan Requests", "loanrequestlist", "Customer") | @Html.ActionLink("Change Password", "ChangePassword", "Account") | @Html.ActionLink("Upload Identification Documents", "Index", "SelfRegistered")
        </p>
    </fieldset>
</div>

