﻿@using Nikopeshe.WebApplication.Controllers
@using Nikopeshe.Entity.DataModels
@using MvcContrib.UI.Grid;
@using MvcContrib.UI.Pager;
@using MvcContrib.Pagination;

@{
    var selectusers = ViewBag.Users as IPagination<Customer>;
}

<div>
    <fieldset>
        <legend>Customer Look Up View</legend>
        @(Html.Grid<Customer>(selectusers).Columns(column =>
    {
        column.For(c => c.FirstName).Named("First Name");
        column.For(c => c.LastName).Named("Last Name");
        column.For(c => c.MobileNumber).Named("Mobile Number");
        column.For(c => c.IDNumber).Named("ID Number");
        column.For(c => c.EmailAddress).Named("EmailAddress");
        //column.For(c => Html.ActionLink<MembershipController>(y => y.UserDetails(c.Name), "View")).Encode(false);
        //if (Roles.IsUserInRole("Administrator"))
        //{
        //    column.For(c => Html.ActionLink<MembershipController>(y => y.EditUser(c.Name), "Edit")).Encode(false);
        //    column.For(c => (c.IsLockedOut && Roles.IsUserInRole("Administrator")) ? Html.ActionLink<MembershipController>(y => y.UnlockUser(c.Name), "Unlock").ToHtmlString() : "Unlock").Encode(false);
        //}
    }).Attributes(id => "usersGrid", cellpadding => "0", cellspacing => "1").Empty("There are no customers"))
        <p>
            @Html.Raw(Html.Pager(selectusers).ToString())
        </p>
    </fieldset>
</div>