﻿@using Nikopeshe.Entity.DataModels
@using Nikopeshe.WebApplication.Controllers
@using Microsoft.Web.Mvc
@{
    ViewBag.Title = "Customers List";

    string header = ViewBag.Header as string;

}

<h2>
    @Html.Raw(header)
</h2>

<script type="text/javascript">
    $(document).ready(function () {

        $('#customergrid').dataTable({
            // Ajax settings
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "@(Url.Action("getcustomerbyid", "Customer"))",
            "sServerMethod": "POST",
            // Callback settings
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));

                var h = ("0" + createdDate.getHours()).slice(-2);
                var m = ("0" + createdDate.getMinutes()).slice(-2);
                var s = ("0" + createdDate.getSeconds()).slice(-2);

                var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;

                $('td:eq(0)', nRow).html(dt_Created);

                $('td:eq(8)', nRow).html('<a href="/customer/editcustomer/' + aData.Id + '">' +
                "Edit" + '</a>' + '|' + '<a href="/Loanrequest/Index/' + aData.Id + '">' +
                "Loan Requests" + '</a>' + '|' + '<a href="/Account/ChangePassword/' + '">' +
                "Change Password" + '</a>');

                return nRow;
            },
            // Display settings
            "iDisplayLength": 10,
            "bJQueryUI": true,
            "aaSorting": [[0, "desc"]],
            "aoColumns": [
            { "mDataProp": "CreatedDate", "sTitle": "Created Date" },
            { "mDataProp": "FullName", "sTitle": "Full Name" },
            { "mDataProp": "MobileNumber", "sTitle": "Mobile No.", "sWidth": "12%" },
            { "mDataProp": "EmailAddress", "sTitle": "Email Address" },
            { "mDataProp": "IDNumber", "sTitle": "ID Number" },
            { "mDataProp": "Occupation", "sTitle": "Occupation" },
            { "mDataProp": "IncomeRange", "sTitle": "Income Range" },
            { "mDataProp": "IsEnabled", "sTitle": "Enabled" },
            { "mDataProp": "Commands", "sTitle": "" }],
        });
    });

</script>
<div>
    <fieldset>
        <legend>Profile</legend>
        <table cellpadding="0" cellspacing="1" id="customergrid">
            <tbody>
                <tr>
                    <td colspan="7" class="dataTables_empty">
                        Loading data from server
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</div>

