﻿@using Nikopeshe.WebApplication.Extensions
@model Nikopeshe.Entity.DataModels.Customer
@using Nikopeshe.WebApplication.Models

@{
    ViewBag.Title = "Edit Profile";

    var mobilenumber = ViewBag.Mobilenumber as string;

    var IdNumber = ViewBag.IdNumber as string;

    var incomerange = ViewBag.SecurityQuestions as IList<SelectListItem>;

    var branchesselectlist = ViewBag.BranchesSelectList as IList<SelectListItem>;

    var maritalStatus = ViewBag.MaritalStatusCheckList as List<CheckBoxListInfo>;

    var RelationshipManagerSelectList = ViewBag.RelationshipManagerSelectList as IList<SelectListItem>;
    
    var gender = ViewBag.GenderCheckList as List<CheckBoxListInfo>;
    
}

<script type="text/javascript">
    $(function () {
        $('input.uniquegender').click(function () {
            $('input.uniquegender:checked').not(this).removeAttr('checked');
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        $('input.uniquemaritalstatus').click(function () {
            $('input.uniquemaritalstatus:checked').not(this).removeAttr('checked');
        });
    });
</script>

<h2>Edit Profile</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "Operation was unsuccessful. Please correct the errors and try again.")
    <div class="form-horizontal">
        <fieldset>
            <legend>Profile Details</legend>
            
            @Html.HiddenFor(model => model.Id)
           
            <div class="editor-label">
                @Html.LabelFor(model => model.BranchId)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.BranchId, branchesselectlist)
                @Html.ValidationMessageFor(model => model.BranchId)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.RelationshipManagerId)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.RelationshipManagerId, RelationshipManagerSelectList)
                @Html.ValidationMessageFor(model => model.RelationshipManagerId)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.FirstName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.MiddleName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.MiddleName)
                @Html.ValidationMessageFor(model => model.MiddleName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.LastName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>

            @if (Roles.IsUserInRole("Administrator"))
            {
                <div class="editor-label">
                    @Html.LabelFor(model => model.MobileNumber)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.MobileNumber)
                    @Html.ValidationMessageFor(model => model.MobileNumber)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.IDNumber)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.IDNumber)
                    @Html.ValidationMessageFor(model => model.IDNumber)
                </div>
            }

            else if (Roles.IsUserInRole("LoanOfficer"))
            {
                @Html.HiddenFor(model => model.IDNumber)
                @Html.HiddenFor(mode => Model.MobileNumber)

                <div class="editor-label">
                    @Html.LabelFor(model => model.IDNumber)
                </div>
                <div class="editor-field">
                    @Html.DisplayName(IdNumber)                    
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.MobileNumber)
                </div>
                <div class="editor-field">
                    @Html.DisplayName(mobilenumber)
                </div>
            }
            
            <div class="editor-label">
                @Html.LabelFor(model => model.KRAPIN)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.KRAPIN)
                @Html.ValidationMessageFor(model => model.KRAPIN)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.EmailAddress)
            </div>
            <div class="editor-field">
               @Html.EditorFor(model => model.EmailAddress)
                @Html.ValidationMessageFor(model => model.EmailAddress)
            </div>

            @*<div class="editor-label">
                @Html.LabelFor(model => model.Gender)
            </div>
            <div class="editor-field">
                @Html.Raw(Html.CheckBoxList("Gender", gender, new { @class = "uniquegender" }))
                @Html.ValidationMessageFor(model => model.Gender)
            </div>*@

            <div class="editor-label">
                @Html.LabelFor(model => model.Gender)
            </div>
            <div class="editor-field">
                @Html.EnumDropDownListFor(x => x.Gender, "Select Gender")
                @Html.ValidationMessageFor(model => model.Gender)
            </div>

            @*<div class="editor-label">
                @Html.LabelFor(model => model.MaritalStatus)
            </div>
            <div class="editor-field">
                @Html.Raw(Html.CheckBoxList("MaritalStatus", maritalStatus, new { @class = "uniquemaritalstatus" }))
                @Html.ValidationMessageFor(model => model.MaritalStatus)
            </div>*@

            <div class="editor-label">
                @Html.LabelFor(model => model.MaritalStatus)
            </div>
            <div class="editor-field">
                @Html.EnumDropDownListFor(x => x.MaritalStatus, "Select Marital Status")
                @Html.ValidationMessageFor(model => model.MaritalStatus)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.DateofBirth)
            </div>
            <div class="editor-field">
                @Html.Raw(Html.DatePicker("DateofBirth", Model.DateofBirth.ToString("dd/MM/yyyy")))
                @Html.ValidationMessageFor(model => model.DateofBirth)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Occupation)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Occupation)
                @Html.ValidationMessageFor(model => model.Occupation)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.IncomeRange)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.IncomeRange, incomerange)
                @Html.ValidationMessageFor(model => model.IncomeRange)
            </div>  
            
            <div class="editor-label">
                @Html.LabelFor(model => model.EmailAlertsEnabled)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.EmailAlertsEnabled)
                @Html.ValidationMessageFor(model => model.EmailAlertsEnabled)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.SMSAlertsEnabled)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.SMSAlertsEnabled)
                @Html.ValidationMessageFor(model => model.SMSAlertsEnabled)
            </div>          

           <div class="editor-field"><input type="submit" value="Save" class="btn btn-default" /></div>
        </fieldset> 
    </div>
}

<div>
    @Html.ActionLink("Back to Profile", "customerprofile")
</div>

<script>
    $(function () {
        $(".datePicker").datepicker({
            showOn: "button",
            buttonImage: "/images/calendar-icon.png",
            buttonImageOnly: true,
            buttonText: "Select date"
        });
    });
</script>