﻿@{
    ViewBag.Title = "New Approval Code";
}
<fieldset>
    <legend>Approval Status</legend>
    An email/text message has been sent to you with your approval code. Provide the code after login to approve your account.
    @Html.ActionLink("Go Back", "ApproveCustomer", "Customer")
</fieldset>
    

