﻿@using Nikopeshe.Entity.DataModels
@using Nikopeshe.WebApplication.Controllers
@using Microsoft.Web.Mvc
@{
    ViewBag.Title = "Account Statement";

    string header = ViewBag.Header as string;

    string FullNames = ViewBag.FullNames as string;

    var id = ViewBag.Id;

}

<h2>
    @Html.Raw(header)
</h2>
<script src="@Url.Content("~/scripts/datatables/jquery.datatables.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#AccountStatementGrid').dataTable({
            // Ajax settings
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "@(Url.Action("GetCustomerAccountStatement", "LoanRequest", new { id = id }))",
            "sServerMethod": "POST",
            // Callback settings
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                /* row manipulation */

                var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));

                var h = ("0" + createdDate.getHours()).slice(-2);
                var m = ("0" + createdDate.getMinutes()).slice(-2);
                var s = ("0" + createdDate.getSeconds()).slice(-2);

                var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;

                $('td:eq(0)', nRow).html(dt_Created);

                return nRow;

            },
            // Display settings
            "iDisplayLength": 10,
            "bJQueryUI": true,
            "aaSorting": [[0, "desc"]],
            "aoColumns": [
            { "mDataProp": "CreatedDate", "sTitle": "Date" },
            { "mDataProp": "LoanRequest.LoanReferenceNumber", "sTitle": "Loan Ref No" },
            { "mDataProp": "LoanRequest.CustomerAccount.Customer.FullName", "sTitle": "Full Name" },
            { "mDataProp": "RepaymentTypeDesc", "sTitle": "Payment Type", "sWidth": "12%" },
            { "mDataProp": "TransactionAmount", "sTitle": "Transaction Amount" },
            { "mDataProp": "InterestAmount", "sTitle": "Interest Amount" },
            { "mDataProp": "TransactionCategoryDesc", "sTitle": "Description" }],
        });
    });

</script>
<div>
    <fieldset>
        <legend>Account Statement</legend>
        <table cellpadding="0" cellspacing="1" id="AccountStatementGrid">
            <tbody>
                <tr>
                    <td colspan="7" class="dataTables_empty">
                        Loading data from server
                    </td>
                </tr>
            </tbody>
        </table>
        <div></div>
    </fieldset>
</div>

