﻿@model Nikopeshe.Entity.DataModels.LoanRequest

@{
    ViewBag.Title = "Cancel Loan";

}

<h3>Are you sure you want to cancel this loan request?</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "Operation was unsuccessful. Please correct the errors and try again.")
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.CustomerAccount.Customer.Id)
    @Html.HiddenFor(model => model.CustomerAccount.Customer.FirstName)
    @Html.HiddenFor(model => model.CustomerAccount.Customer.LastName)
    @Html.HiddenFor(model => model.CustomerAccount.Customer.MobileNumber)
    @Html.HiddenFor(model => model.CustomerAccount.Customer.EmailAddress)
    @Html.HiddenFor(model => model.CustomerAccount.Customer.Occupation)
    @Html.HiddenFor(model => model.CustomerAccount.Customer.MobileNumber)
    @Html.HiddenFor(model => model.CustomerAccount.Customer.IDNumber)
    @Html.HiddenFor(model => model.CustomerAccount.Customer.IncomeRange)

    <fieldset>
        <legend>Loan request details</legend>        

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.LoanProduct.ProductName)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.LoanProduct.ProductName)
        </div>

        <div class="display-label">
            <b> @Html.DisplayNameFor(model => model.LoanAmount)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.LoanAmount)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.LoanReferenceNumber)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.LoanReferenceNumber)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.LoanStartDate)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.LoanStartDate)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.LoanEndDate)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.LoanEndDate)
        </div>

        @*<div class="display-label">
            <b>@Html.DisplayNameFor(model => model.Status)</b>
        </div>

        <div class="display-field">
            @Html.DisplayNameFor(model => model.StatusDesc)
        </div>*@

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.InterestAmount)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.InterestAmount)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.CreatedDate)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.CreatedDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Remarks)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Remarks)
            @Html.ValidationMessageFor(model => model.Remarks)
        </div>

        <div class="editor-field"><input type="submit" value="Cancel" class="btn btn-default" onclick="return confirm('Are you sure you want to cancel this loan request?');" /></div>
        <div class="form-actions no-color">
            @Html.ActionLink("Back to List", "loanrequestlist", "customer")
        </div>         
    </fieldset>
}

