﻿@using Nikopeshe.Entity.DataModels
@using Nikopeshe.WebApplication.Controllers
@using Microsoft.Web.Mvc
@using Nikopeshe.WebApplication.Extensions
@{
    ViewBag.Title = "Loan Requests";

    string header = ViewBag.Header as string;

    var id = ViewBag.Id;
}

<h2>
    @Html.Raw(header)
</h2>

<script type="text/javascript">
    $(document).ready(function () {

        $('#Loanrequest').dataTable({
            // Ajax settings
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "@(Url.Action("GetCustomerLoanRequest", "Loanrequest", new { id = id }))",
            "sServerMethod": "POST",
            // Callback settings
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                /* row manipulation */

                var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));

                var h = ("0" + createdDate.getHours()).slice(-2);
                var m = ("0" + createdDate.getMinutes()).slice(-2);
                var s = ("0" + createdDate.getSeconds()).slice(-2);

                var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;

                $('td:eq(0)', nRow).html(dt_Created);

                var value = aData.LoanAmount;
                var num = value.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");

                $('td:eq(3)', nRow).html(num);

                $('td:eq(5)', nRow).html('<a href="/loanrequest/loanrequestdetails/' + aData.Id + '">' +
                "Loan Details" + '</a>' + " | " + '<a href="/loanrequest/CustomerLoanSchedule/' + aData.Id + '">' +
                "Loan Schedule" + '</a>');

                return nRow;

            },
            // Display settings
            "iDisplayLength": 100,
            "bJQueryUI": true,
            "aaSorting": [[0, "desc"]],
            "aoColumns": [
            { "mDataProp": "CreatedDate", "sTitle": "Created Date" },
            { "mDataProp": "LoanProduct.ProductName", "sTitle": "Product Name", "sWidth": "12%" },
            { "mDataProp": "LoanReferenceNumber", "sTitle": "Loan Ref No." },
            { "mDataProp": "LoanAmount", "sTitle": "Loan Amount" },            
            { "mDataProp": "StatusDesc", "sTitle": "Status" },
            { "mDataProp": "Commands", "sTitle": "", "bSortable": false }],
        });
    });

</script>
<div>
    <fieldset>
        <legend>Loan Requests for @ViewBag.Name</legend>        
        <table cellpadding="0" cellspacing="1" id="Loanrequest">
            <tbody>
                <tr>
                    <td colspan="7" class="dataTables_empty">
                        Loading data from server
                    </td>
                </tr>
            </tbody>
        </table>
        <div></div>
    </fieldset>
</div>

