﻿@model Nikopeshe.Entity.DataModels.LoanRequest
@using Nikopeshe.WebApplication.Models
@using Nikopeshe.WebApplication.Extensions
@{
    ViewBag.Title = "Edit Loan Request";
    var banksSelectList = ViewBag.BanksSelectList as List<SelectListItem>;    
    var eftselectlist = ViewBag.EFTTypes as List<CheckBoxListInfo>;
}


<script type="text/javascript">
    $(function () {
        $('input.unique').click(function () {
            $('#ddlBanks').attr('value', '0');
            $('#ddlBranches').attr('value', '0');            
            $('input.unique:checked').not(this).removeAttr('checked');

            if ($(this).val() == 1) {
                $('#ddlBanks').prop("disabled", 'disabled');
            }
            else {
                $('#ddlBanks').removeAttr("disabled");
            }
        });
    });
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "Operation was unsuccessful. Please correct the errors and try again.")
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.CustomerAccount.Customer.Id)
    @Html.HiddenFor(model => model.CustomerAccount.Customer.FirstName)
    @Html.HiddenFor(model => model.CustomerAccount.Customer.LastName)
    @Html.HiddenFor(model => model.CustomerAccount.Customer.MiddleName)
    @Html.HiddenFor(model => model.CustomerAccount.Customer.MobileNumber)
    @Html.HiddenFor(model => model.CustomerAccount.Customer.EmailAddress)
    @Html.HiddenFor(model => model.CustomerAccount.Customer.Occupation)
    @Html.HiddenFor(model => model.CustomerAccount.Customer.MobileNumber)
    @Html.HiddenFor(model => model.CustomerAccount.Customer.IDNumber)
    @Html.HiddenFor(model => model.CustomerAccount.Customer.IncomeRange)    
    <fieldset>
        <legend>Edit Loan Request</legend>
        <div class="form-group">
            <div class="editor-label">
                @Html.LabelFor(model => model.CustomerAccount.Customer.FullName)
            </div>
            <div class="editor-field">
                @Html.DisplayName(Model.CustomerAccount.Customer.FullName)
                @*@Html.ValidationMessageFor(model => model.ProductName)*@
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.LoanProduct.ProductName)
            </div>
            <div class="editor-field">
                @Html.DisplayName(Model.LoanProduct.ProductName)
                @*@Html.ValidationMessageFor(model => model.ProductName)*@
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.LoanAmount)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.LoanAmount)
                @Html.ValidationMessageFor(model => model.LoanAmount)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.OutstandingLoanBalance)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.OutstandingLoanBalance)
                @Html.ValidationMessageFor(model => model.OutstandingLoanBalance)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.NegotiatedInstallments)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.NegotiatedInstallments)
                @Html.ValidationMessageFor(model => model.NegotiatedInstallments)
            </div>
           
            @*@if (!string.IsNullOrWhiteSpace(Model.NextPaymentDate.Value.ToString("dd/MM/yyyy")))
            {
                <div class="editor-label">
                    @Html.LabelFor(model => model.NextPaymentDate)
                </div>
                <div class="editor-field">
                    @Html.Raw(Html.DatePicker("NextPaymentDate", Model.NextPaymentDate.Value.ToString("dd/MM/yyyy")))
                    @Html.ValidationMessageFor(model => model.NextPaymentDate)
                </div>
            }*@
            
            <div class="editor-label">
                @Html.LabelFor(model => model.Type)
            </div>
            <div class="editor-field">
                @Html.Raw(Html.CheckBoxList("Type", eftselectlist, new { @class = "unique" }))
                @Html.ValidationMessageFor(model => model.Type)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.PrimaryAccountNumber)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.PrimaryAccountNumber)
                @Html.ValidationMessageFor(model => model.PrimaryAccountNumber)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.ApplicantBankCode)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.ApplicantBankCode, banksSelectList, new { id = "ddlBanks" })
                @Html.ValidationMessageFor(model => model.ApplicantBankCode)
            </div>
            <div class="editor-field"><input type="submit" value="Edit Loan" class="btn btn-default" /></div>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "AllLoanRequest")
</div>
