﻿@model Nikopeshe.Entity.DataModels.LoanTransactionHistory

@{
    ViewBag.Title = "Loan Repayment";

    ///var customerId = ViewBag.CustomerId;
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h4></h4>
    @Html.ValidationSummary(false)

    <fieldset>
        <legend>Post Loan Repayment</legend>
        @*<div class="editor-label">
            @Html.LabelFor(model => model.LoanRequestId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.LoanRequestId, customerselectlist)
            @Html.ValidationMessageFor(model => model.LoanRequestId)
        </div>*@

        @*@Html.HiddenFor(model)*@

        <div class="editor-label">
            @Html.LabelFor(model => model.TransactionAmount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TransactionAmount)
            @Html.ValidationMessageFor(model => model.TransactionAmount)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.InterestAmount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InterestAmount)
            @Html.ValidationMessageFor(model => model.InterestAmount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RepaymentType)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => model.RepaymentType, "Select Repayment Type")
            @Html.ValidationMessageFor(model => model.RepaymentType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-field"><input type="submit" value="Post" class="btn btn-default" /></div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
