﻿@model Nikopeshe.Entity.DataModels.LoanTransactionHistory

@{
    ViewBag.Title = "AddNewLoanTransactionHistory";
    var loanrequestlist = ViewBag.LoanRequestList as IList<SelectListItem>;    
}

<h2>AddNewLoanTransactionHistory</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>LoanTransactionHistory</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
        <div class="form-group">
            @Html.LabelFor(model => model.LoanRequestId, "LoanRequestId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.LoanRequestId, loanrequestlist)
                @Html.ValidationMessageFor(model => model.LoanRequestId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TransactionType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TransactionType)
                @Html.ValidationMessageFor(model => model.TransactionType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TransactionAmount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TransactionAmount)
                @Html.ValidationMessageFor(model => model.TransactionAmount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InterestAmount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InterestAmount)
                @Html.ValidationMessageFor(model => model.InterestAmount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreatedDate)
                @Html.ValidationMessageFor(model => model.CreatedDate)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
