﻿@using Nikopeshe.Entity.DataModels
@using Nikopeshe.WebApplication.Controllers
@using Microsoft.Web.Mvc

@{
    ViewBag.Title = "Customer Look Up";

    var header = ViewBag.Header as string;

    var name = string.Empty;
}

<h2>
    @Html.Raw(header)
</h2>

<script type="text/javascript">
    $(document).ready(function () {
        var events = $('#events');
        var model = new Object();
        var table = $('#customerlookupgrid').dataTable({
            // Ajax settings
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "@(Url.Action("CustomerLookUpDetails", "Repayment"))",
            "sServerMethod": "POST",
            // Callback settings
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                /* row manipulation */
                var createdDate = new Date(parseInt(aData.NextPaymentDate.replace("/Date(", "").replace(")/", ""), 10));

                var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate);

                $('td:eq(6)', nRow).html(dt_Created);

                return nRow;
            },
            "aoColumnDefs": [
            {
            "bSearchable": false,
            "bVisible": false,
            "aTargets": [3]},
            ],
            // Display settings
            "iDisplayLength": 10,
            "bJQueryUI": true,
            "aaSorting": [[6, "desc"]],
            "aoColumns": [
                {
                    "mDataProp": null,
                    "bSortable": false,
                    "sWidth": "6%",
                    "mRender": function (aData) {                        
                        return '<a class="btn btn-info btn-sm" href=/repayment/loanrepayment/' + aData.LoanRequestId + '>' + 'Select' + '</a>';
                    }
                },
            { "mDataProp": "CustomerName", "sTitle": "Customer Name", "sWidth": "12%" },            
            { "mDataProp": "CustomeIdNumber", "sTitle": "Id Number", "sWidth": "9%" },
            { "mDataProp": "LoanRequestId", "sTitle": "Id", "sWidth": "14%" },
            { "mDataProp": "CustomerMobileNumber", "sTitle": "Customer Mobile No", "sWidth": "14%" },
            { "mDataProp": "LoanAmount", "sTitle": "Loan Amount", "sWidth": "9%" },           
            { "mDataProp": "LoanReferenceNumber", "sTitle": "Loan Ref. No", "sWidth": "9%" },
            { "mDataProp": "NextPaymentDate", "sTitle": "NextPaymentDate", "sWidth": "9%" }],
        });       
    });

</script>
<div>
    <fieldset>
        <legend>Customers Lookup</legend>
        <table cellpadding="0" cellspacing="1" id="customerlookupgrid">
            <tbody>
                <tr>
                    <td colspan="7" class="dataTables_empty">
                        Loading data from server
                    </td>
                </tr>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">                        
                    </div>
                </div>
            </tbody>
        </table>

    </fieldset>
</div>

<script type="text/javascript">
    $(function () {
        $('#approve-btn').click(function () {
            $('#modal-container').modal('hide');
        });
    });
</script>