﻿@model Nikopeshe.Entity.DataModels.LoanTransactionHistory

@{
    ViewBag.Title = "Approve Loan";

}

<h3><b>Are you sure you want to approve this repayment request?</b></h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.CreatedBy)
    @Html.HiddenFor(model => model.CreatedDate)  
    @Html.HiddenFor(model => model.Description)
    @Html.HiddenFor(model => model.InterestAmount)
    @Html.HiddenFor(model => model.CreatedDate)    
    @Html.HiddenFor(model => model.InterestChartofAccounts.AccountName)
    @Html.HiddenFor(model => model.LoanRequest.Customer.FullName)

    <fieldset>
        <legend>Repayment Details</legend>
        @Html.ValidationSummary(false)

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.LoanRequest.Customer.FullName)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.LoanRequest.Customer.FullName)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.TransactionAmount)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.TransactionAmount)
        </div>

        <div class="display-label">
            <b> @Html.DisplayNameFor(model => model.InterestAmount)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.InterestAmount)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.RepaymentTypeDesc)</b>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.RepaymentTypeDesc)
        </div>
        
        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.IsApproved)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.IsApproved)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.InterestAmount)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.InterestAmount)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.CreatedDate)</b>
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.CreatedDate)
        </div>

        <div class="editor-field"><input type="submit" value="Approve" class="btn btn-default" /></div>
        <div class="form-actions no-color">
            @Html.ActionLink("Back to List", "Index")
        </div>
    </fieldset>
}

