﻿@model Nikopeshe.Entity.DataModels.LoanTransactionHistory

@{
    ViewBag.Title = "Loan Repayment";
    var customerselectlist = ViewBag.CustomerSelectList as List<SelectListItem>;

    var loanrefnumber = ViewBag.LoanRefNo as string;

    var loan = TempData["Loan"] as string;

    var customermobilnumber = ViewBag.CustomerMobileNumber as string;

    var customerfullname = ViewBag.CustomerFullName as string;

    if (string.IsNullOrWhiteSpace(loanrefnumber))
    {
        loanrefnumber = string.Empty;
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)

    <fieldset>
        <legend>Post Loan Repayment</legend>
        @*@Html.ActionLink("Customer Look Up ", "ViewLyubomir", "Repayment", null, new { @class = "modal-link btn btn-success" })*@
        @*<div class="editor-label">
                @Html.LabelFor(model => model.LoanRequestId)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.LoanRequestId, customerselectlist)
                @Html.ValidationMessageFor(model => model.LoanRequestId)
            </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.LoanReferenceNo)
        </div>
        <div class="editor-field">
            @Html.DisplayName(loanrefnumber)
        </div>

        @if (!string.IsNullOrWhiteSpace(loanrefnumber))
        {
            <div class="editor-label">
                @Html.Label("Loan Reference Number")
            </div>
            <div class="editor-field">
                @Html.DisplayName(loanrefnumber)
            </div>
        }

        @if (!string.IsNullOrWhiteSpace(customerfullname))
        {
            <div class="editor-label">
                @Html.Label("Customer Full Name")
            </div>
            <div class="editor-field">
                @Html.DisplayName(customerfullname)
            </div>
        }

        @if (!string.IsNullOrWhiteSpace(customermobilnumber))
        {
            <div class="editor-label">
                @Html.Label("Customer Mobile Number")
            </div>
            <div class="editor-field">
                @Html.DisplayName(customermobilnumber)
            </div>
        }

        <div class="editor-label">
            @Html.LabelFor(model => model.TransactionAmount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TransactionAmount)
            @Html.ValidationMessageFor(model => model.TransactionAmount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RepaymentType)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => model.RepaymentType, "Select Repayment Type")
            @Html.ValidationMessageFor(model => model.RepaymentType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-field"><input type="submit" value="Post" class="btn btn-default" /></div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
